%h1='关于我们'
%hr

%h3
  %span{:style => "font-weight: bold; color: #F74367"}='什么是好享玩？'
  
%h4="好享玩是一个社交网络，这是毋庸置疑的。用户可以通过好享玩线上平台找到一些乐子，毫无疑问，这些乐子是线下的"

%h3
  %span{:style => "font-weight: bold; color: #00A2B7"}='我们的目标'

%h4="我们的生活已然离不开互联网，学习，工作，社交，娱乐，越来越多的事情被搬到了互联网上。而我们的目标是在这股大潮中帮助人们保留一些原本平常的东西。面对面的交流，亲身经历的愉快，真实世界的感受并通过精确的兴趣匹配，帮助人们建立更加紧密的联系"

%h3
  %span{:style => "font-weight: bold; color: #F74367"}='我们的理念'

%h4="从线上到线下，恢复一些原本稀松平常的事情，追求极致"

%h3
  %span{:style => "font-weight: bold; color: #00A2B7"}='我们的团队'

%span{:style => "font-size: 14px"}
  %p='piggytommy: 可以连续工作15小时的疯狂黑人'
  %p='alyoshasun: 作息时间惊人规律，总有好点子'
  %p='magicstone03: 生活在美国时间的程序员，喜喝酒'
  %p='小布丁：一只野猫，三个月大，会抓人了，还蛮疼'

