%h1='关于我们'
%hr

%h3
  %span{:style => "font-weight: bold; color: #F74367"}='为什么你需要好享玩'
  
%h4{:style => "text-indent: 2em"}
  ="你是否时常会对自己的单调的业余生活感到失望？ 是否厌倦了整天除了聊工作就是聊房价的人？是否很希望找个朋友甚至是陌生人一起做共同感兴趣的事情？踢踢球，爬爬山，唱唱歌都可以, 这时，你需要好享玩。 也许你会说，打住，之前的描述和我无关，我有很多朋友，志趣相投，玩的很开心。如果是这样，你是否希望纪录下你和朋友之间的点点滴滴，每次k歌，每次party, 从组织，进行，到结束整个过程。没错，博客帮不了你， 微博帮不了你，你需要的是好享玩"
%h4{:style => "text-indent: 2em"}
  ="在好享玩,你可以轻易的组织和参加感趣的活动，线上预约，线下畅玩。你还可以和志趣相投的玩伴们，自由的进行组内讨论与发起组内活动，享受组内皆知己的感觉。其次，好享玩还是你和密友们交往的见证，她帮你纪录与好友之间的点点滴滴，每一次美味可口的野餐，每一趟酣畅淋漓的骑行，每一场精彩纷呈的球赛。人生就是一趟旅行，不必在乎目的地，在乎的是是沿途的风景以及看风景的心情 那么，与好享玩一起享受风景,分享心情吧."

%h3
  %span{:style => "font-weight: bold; color: #00A2B7"}='好享玩的态度'

%h4{:style => "text-indent: 2em"}
  ="我们每天都和好友联系，微博，QQ， 校内，米聊，电话， 短信。科技改变世界，可是，仔细想想，上次与好友面对面是什么时候的事情了？赶紧登陆好享玩，发起一个活动，邀请好友以及志趣相投的网络好友，一起进行多姿多彩的线下活动吧。"
%h4{:style => "text-indent: 2em"}
  ="没错，好想玩提倡的是面对面的线下活动，这也是我们提出的‘活动社交’的概念。 相比与六度理论所描述的弱关系连接的社交， 我们相信可以一起玩过的人更值得相处。另外，在活动中，相比活动本身，我们更应该享受活动所承载的欢乐，满足与友谊。希望大家，玩出自我，乐享青春, 友谊万岁！！"



