@import '../../general/ui/mixins'
.topics
  :background-color #fff 
  :height 100%
  :padding 25px
  :width 600px
  :margin-right 20px
  :float left
  h2
    :color #333
    :float left
    :margin-bottom 0px
  .sort
    :margin-top 10px
    span
      :font-size 13px
      :padding-left 5px
      :border-right 1px solid #999
      a
        :font-size 13px
      a.last
        :border none
      a.select
        :color #666
    span.last
      :border none
        
  .topic_result
    :float left 

.subjects
  :background-color #fff
  :padding 15px 0 20px 0
  @include box-shadow(0,1px,5px,0,#aaa)
  h2
    :float right
    :margin-right 30px
    :color #000
  ul
    :float left
    li
      a
        :display block
        :padding 8px 0 
        :width 210px 
        :border-top 1px solid #BDBDA3
        :font-size 15px
        :color #333
        :margin 0 30px
      a.interested
        :color #FF8A3C
      a.friends
        :color #4EBAFF 
      a.select
        :margin 0
        :padding 8px 30px
        :width 218px 
        :color #fff
        :background-color #99C94B
        :border-top 1px solid #99C94B
        :margin-left -8px
        :margin-bottom -1px

.pagination_box
  :width 600px
  :float left
