@import '../../general/ui/mixins'
#recent_topics
  a.topic_link
    :display block
    :padding-top 5px
    &:hover
      :background-color #f8f8f8
    .topic
      :border-bottom 1px dashed #ddd
      :margin-top 0px
      h4
        :margin-top 0px
        :margin-bottom 3px
        :font-size 13px
        :color #71715B
      
      .desc 
        span
          :color #888
          :font-size 11px
      .info
        :text-align right
        span
          :color #aaa
          :font-size 11px
          :line-height 11px

