@import '../../general/ui/mixins'

.topic_area
  :float left
  :margin-right 20px
  :width 660px

  .topic_info
    :float left
    :position relative
    :background-color white
    :width 630px
    :padding  20px 10px 10px 20px

    .tfollow, .detfollow
      :display block
      :width 80px
      :height 28px
      :position absolute
      :right 10px
      :font-size 13px
      :line-height 30px

    .detfollow
      :background-color #8DBC6E
      span
        background: url(/images/ui/icon-check.png) no-repeat 0 50%
        :padding-left 18px
      &:hover
        :background-color #e76b75
        span
          :color #f9c
          background: url(/images/ui/icon-x.png) no-repeat 0 50%

    .tfollow
      :background-color lightGrey
      span
        :padding-left 18px
        background: url(/images/ui/follow-gray.gif) no-repeat 0 50%
        :color #999
      &:hover
        :background-color #8aba56
        span
          background: url(/images/ui/follow-white.gif) no-repeat 0 50%
          :color white

    .topic_image
      :width 100px
      :height 100px
      :float left
      :margin-right 10px

    .topic_msg
      :width 510px
      :float left
      :margin-left 2px

      .title
        :position relative
        :width 510px
        h3.topic_name
          :position relative
          :color black
          :width 400px
          :margin-bottom 5px
          :font-size 15px
          :font-weight bold

          a.edit_topic
            :font-size 12px
            :color #888

            &:hover
              :color #3366CC
              :text-decoration underline
          .topic_box
            :top 15px
            :left 0px

      .topic_owner
        :color black
        :margin-top 15px
        :font-size 12px
        :width 510px


        .followers_count
          :display inline
          :float right
          :color #888 
          :font-size 12px
          :margin-right 15px
      .topic_des
        :font-size 12px
        :color #666666
        :margin-top 10px
 
  .post_area
    :width 660px
    :float left
    :border-bottom 1px solid #ECEAE8
    @include border-radius(5px)
    :overflow show
    .feed_toolbar
      :width 640px
      :margin-top 0

    .post_element_panel
      :margin-top 0 !important
      .stream_element
        :background-color white
        :border none
        :margin-bottom 2px
      .pagination
        :position absolute
        :bottom -40px
        :left 315px

.right_column
  :float left
  :width 256px

  .follow_action
    :width 256px
    :height 112px
    :float left
    :margin-top 10px
    :position relative

  .related
    :width 236px
    :float left
    :background-color #fff
    :padding 10px
    :margin-bottom 15px
    @include border-radius-noie(4px)

    .related_title
      :width 236px
      :position relative
      :float left
      :padding-bottom 5px
      :border-bottom 1px solid #d5ddde

      .name
        :color #FC4469
        :font-size 14px
        :font-weight bold
        :float left

      .link_more
        :float right
        
        a
          border: 1px solid #DCE4E6
          color: #888888
          font-size: 11px
          font-weight: bold
          height: 20px
          padding: 2px 4px 0 6px
          @include border-radius-noie(3px)
        a.change_topics
          :margin-right 5px

    .related_topics
      :float left
      :width 236px
      
      .event_item
        margin-top: 5px
        margin-bottom: 8px
        a
          &:hover
            :text-decoration underline
        a,span
          color: #71715B
          font-size: 12px
          
          
          
        
  .topic_followers
    :width 236px
    :float left
    :overflow show
    :background-color #fff
    :padding 10px
    @include border-radius-noie(4px)

    .followers_title
      :font-size 14px
      :font-weight bold
      :color #FC4469
      :border-bottom 1px solid #d5ddde
      :padding-bottom 5px
    
    .followers
      :width 236px
      :float left
      :padding-bottom 10px

      .follower
        :float left
        :width 30px
        :height 30px
        :margin-right 5px
        :margin-top 10px
        .avatar
          :width 30px
          :height 30px

