@import '../../general/ui/mixins'

.topic_area
  :float left
  :margin-top 10px
  :margin-right 20px
  :width 660px

  .topic_info
    :float left
    :position relative
    :background-color white
    :border 3px solid #D5DDDE
    :width 655px
    @include border-radius(6px)

    .topic_image
      :width 100px
      :height 100px
      :float left
      :margin-left 8px
      :margin-top 8px
      :margin-bottom 8px

    .topic_msg
      :width 540px
      :height 112px
      :float left
      :margin-left 2px
      :position relative

      .title
        :margin-top 2px
        :width 540px
        :height 26px
        :position relative
        :float left

        .topic_name
          :color black
          :position absolute
          :font-size 16px
          :left 8px
          :bottom 1px

        .topic_owner
          :color black
          :font-size 12px
          :position absolute
          :right 10px
          :bottom 1px

      .topic_des
        :float left
        :overflow hidden
        :position absolute
        :margin-left 7px
        :bottom 1px
        :right 3px
        :font-size 14px
        :color #77777E
        :text-indent 21pt
 
  .post_area
    :width 660px
    :margin-top 3px
    :float left
    :border-bottom 1px solid #ECEAE8
    @include border-radius(5px)
    :overflow hidden
    .feed_toolbar
      :width 640px

    .post_element_panel
      :margin-top 0 !important
      .stream_element
        :background-color white
        :border none
        :margin-bottom 2px
      .pagination
        :position absolute
        :bottom -40px
        :left 315px

.right_column
  :float left
  :width 256px

  .follow_action
    :width 256px
    :height 112px
    :float left
    :margin-top 10px
    :position relative

    .tfollow, .detfollow
      :width 100px
      :height 40px
      :position absolute
      :top 5px
      :left 0px

    .detfollow
      :background-color #8DBC6E
      span
        background: url(/images/ui/icon-check.png) no-repeat 0 50%
        :padding-left 18px
      &:hover
        :background-color #e76b75
        span
          :color #e76b75
          background: url(/images/ui/icon-x.png) no-repeat 0 50%

    .tfollow
      :background-color lightGrey
      span
        :padding-left 18px
        background: url(/images/ui/follow-gray.gif) no-repeat 0 50%
        :color #777
      &:hover
        :background-color #8aba56
        span
          background: url(/images/ui/follow-white.gif) no-repeat 0 50%
          :color white

    .followers_count
      :position absolute
      :bottom 6px
      :left 2px
      :color blue
      :font-size 12px
      :font-weight bold

  .related
    :width 256px
    :margin-top 20px
    :float left

    .related_title
      :width 256px
      :position relative
      :float left
      :margin-bottom 10px

      .name
        :color white
        :font-size 16px
        :background-color #BDBDA3
        :font-weight bold
        @include border-radius(4px)
        :padding 1px 3px 1px 3px
        :position absolute
        :left 0px

      .link_more
        :position absolute
        :right 4px
        
    .related_topics
      :float left
      :width 256px
      :margin-top 30px
      :background-color #F4F4F4
      @include border-radius(6px)

  .topic_followers
    :width 250px
    :margin-top 15px
    :float left
    :overflow show

    .followers_title
      :width 51px
      :font-size 16px
      :color white
      :font-weight bold
      :background-color #BDBDA3
      @include border-radius(4px)
      :padding 1px 3px 1px 3px
      :margin-bottom 10px
    
    .followers
      :width 254px
      :float left
      :background-color white
      :padding-bottom 10px

      .follower
        :float left
        :width 50px
        :height 50px
        :margin-left 10px
        :margin-top 10px


