@import '../../general/ui/mixins'

.topic_area
  :width 250px
  :float left
  :margin-top 15px
  .topic_info
    :float left
    :position relative
    :background-color white
    :border 3px solid #D5DDDE
    :width 250px
    @include border-radius(6px)

    .topic_image
      :width 100px
      :height 100px
      :float left
      :position absolute
      :left 8px
      :top 8px


    .topic_msg
      :width 130px
      :height 100px
      :position absolute
      :top 5px
      :right 6px
      :float left

      .topic_name
        :float left
        :color black
        :font-size 16px

      .topic_owner
        :float left
        :color black
        :font-size 12px
        :position absolute
        :bottom 1px

    .topic_des
      :float left
      :width 250px
      :overflow hidden
      :margin-top 135px
      :margin-left 7px
      :margin-bottom 5px
      :padding-right 3px
      :font-size 14px
      :color #77777E
      :text-indent 21pt

  .follow_action
    :width 256px
    :height 40px
    @include border-radius(6px)
    :background-color #F4F4F4
    :float left
    :margin-top 10px
    :position relative

    .tfollow, .detfollow
      :width 60px
      :height 20px
      :position absolute
      :top 7px
      :left 8px

    .detfollow
      :background-color #8DBC6E
      span
        background: url(/images/ui/icon-check.png) no-repeat 0 50%
        :padding-left 18px
      &:hover
        :background-color #e76b75
        span
          :color #e76b75
          background: url(/images/ui/icon-x.png) no-repeat 0 50%

    .tfollow
      :background-color lightGrey
      span
        :padding-left 18px
        background: url(/images/ui/follow-gray.gif) no-repeat 0 50%
        :color #777
      &:hover
        :background-color #8aba56
        span
          background: url(/images/ui/follow-white.gif) no-repeat 0 50%
          :color white

    .followers_count
      :position absolute
      :top 9px
      :right 6px
      :color blue
      :font-size 12px
      :font-weight bold

  .related
    :width 256px
    :margin-top 20px
    :float left

    .related_title
      :width 256px
      :position relative
      :float left
      :margin-bottom 10px

      .name
        :color white
        :font-size 16px
        :background-color #BDBDA3
        :font-weight bold
        @include border-radius(4px)
        :padding 1px 3px 1px 3px
        :position absolute
        :left 0px

      .link_more
        :position absolute
        :right 4px
        
    .related_topics
      :float left
      :width 256px
      :margin-top 30px
      :background-color #F4F4F4
      @include border-radius(6px)

  .topic_followers
    :width 250px
    :margin-top 15px
    :float left
    :overflow show

    .followers_title
      :width 51px
      :font-size 16px
      :color white
      :font-weight bold
      :background-color #BDBDA3
      @include border-radius(4px)
      :padding 1px 3px 1px 3px
      :margin-bottom 10px
    
    .followers
      :width 254px
      :float left
      :background-color white
      @include border-radius(6px)
      :padding-bottom 10px

      .follower
        :float left
        :width 50px
        :height 50px
        :margin-left 10px
        :margin-top 10px

        img
          @include border-radius(2px)

.post_area
  :width 660px
  :margin-left 20px
  :margin-top 11px
  :float left
  :border-bottom 1px solid #ECEAE8
  @include border-radius(5px)
  .feed_toolbar
    :width 640px
