@import '../../general/ui/mixins'
.topic_item 
  :float left
  :width 580px
  :border-top 1px solid #d5ddde
  :padding 10px
  :position relative

  a.post_count  
    :position absolute 
    :top 5px
    :right 5px
    :font-size 12px
    background-color: #BDBDA3
    :color #fff
    :padding 5px 8px
    :line-height 12px
    @include border-radius-noie(3px)

  .pic
    :float left
    :width 65px
    :height 65px
    :margin-right 5px
    :position relative
    
    img
      :width 65px
      :height 65px
      @include border-radius-noie(5px)
    .back_bar
      :position absolute
      :bottom 0px
      :background-color #747474
      :width 65px
      :float left
      @include opacity(0.5)
      @include border-radius-bottom-noie(5px)
    .item_name
      :position absolute
      :bottom 0px
      :font-size 11px
      :margin-left 2px
      span
        :color #fff 
  .content
    :float left
    :width 505px 
    .name
      :width 470px 
      :float left
      a.t_content
        :font-size 15px
        :color #333
        :float left
        :line-height 20px
        &:hover
          :text-decoration underline  
    .desc
      :width 430px
      :float left
      span
        :color #999 

    .author
      :position absolute
      :bottom 0
      :right 0
      span
        :color #999 
        :line-height 14px

        a
          :color #999
          :text-decoration underline
          &:hover
            :color #666

