@import '../../general/ui/mixins'
.popup_box
  :position absolute
  :top 20px
  :left 55px
  :margin-top 5px
  :width 500px
  :height 300px
  :float left
  :z-index 2000
  
  .box_border_left, .box_border_right,
  .box_border_top, .box_border_bottom
    :float left
    background: url("/images/ui/popup_box_border.png") repeat scroll 0 0 transparent
    opacity: 0.5
  .box_border_top, .box_border_bottom
    height: 5px
    :width 500px 
  .box_center
    :float left
    :width 500px 
    :height 290px

    .box_border_left, .box_border_right
      :height 290px 
      :width 5px
    .box_content
      :position relative
      :background-color #ffffff
      :float left
      :padding 10px 20px
      :width 450px 
      :height 270px
      :z-index 1999


      ul.title_bar
        :float left
        :display block
        :width 450px
        :padding-bottom 5px
        :border-bottom 1px solid #d5ddde
        :margin-bottom 20px
        
        img
          :margin-left 50px
        li
          :float left
          :margin 0
          :padding 0
          a
            :margin-right 8px
            @include border-radius(3px)
            :background-color #fff
            border: none 
            font-size: 13px
            font-weight: bold
            padding: 3px 6px

            &:hover
              background-color: #E1E1E1

          a.select
            :background-color #697D84
            :color #fff

            &:hover
              :background-color #697D84
            
        li.browse
          :margin-right 15px
          a
            :background-color #fff 
            :color #277098
            &:hover
              :background-color #fff
      a.close_box
        :position absolute
        :top 10px
        :right 10px
        background: url("/images/ui/cross_close_icon.png") no-repeat scroll -26px 0 transparent
        margin: 0 0 0 10px
        text-indent: -9999px
        width: 16px

        &:hover
          :background-position 0 0  

      h3
        :padding-bottom 10px
        :border-bottom 1px solid #d5ddde

      #select_topic_area
        :margin-top 5px
        :float left
        :width 450px
        .select_topic 
          .filter_area
            :width 450px
            :float left
            :margin-top -20px
            h4
              :margin-bottom 5px
            a
              :border-right 1px solid #ddd
              :height 14px
              :padding 0 5px 0 0
              :margin 5px 5px 15px 0
              :font-size 13px
            a.last
              :border none
            a.select
              :color #444
            img
              :margin-left 10px
              :margin-top 5px
          
          .result_area
            :margin-top 8px
            :float left
            :width 450px
            a.topic_item 
              background-color: #F5F5F5
              :display block
              :float left
              margin:
                :bottom 10px
                :right 8px

              font-size: 13px
              line-height: 13px
              padding: 5px 8px
              color: #778087
              @include border-radius(3px)

              &:hover
                background-color: #9999aa
                color: #fff
                  
