.response_box {
  float: left;
  margin-left: 55px;
  margin-bottom: 15px;
  margin-top: 5px; }
  .response_box textarea {
    width: 300px;
    height: 80px;
    display: block;
    font-size: 12px; }

.response_box.to_comment {
  margin-left: 40px; }

.comment_to_event a img, .new_comment a img {
  float: left; }
.comment_to_event .content, .new_comment .content {
  display: inline-block;
  vertical-align: top;
  width: 575px;
  margin-left: 5px;
  float: left; }
.comment_to_event hr, .new_comment hr {
  margin-bottom: 5px; }

.new_comment textarea {
  width: 80%;
  display: block;
  height: 100px;
  font-size: 11px; }
.new_comment .button {
  margin-top: 5px; }

.comment_to_comment {
  float: left;
  width: 575px;
  margin-left: 55px;
  margin-bottom: 5px; }
  .comment_to_comment a img {
    float: left;
    width: 35px;
    height: 35px; }
  .comment_to_comment .content {
    margin-left: 5px;
    width: 535px;
    float: left; }
    .comment_to_comment .content hr {
      margin-bottom: 5px; }

.comment_to_event {
  margin-top: 20px; }

.comment_to_event.first {
  margin-top: 0; }

.pagination_box {
  margin-bottom: 10px; }
  .pagination_box .pagination {
    float: left; }
