#cancel_event_request textarea {
  width: 90%;
  margin: 10px 0 5px 0;
  height: 100px; }
#cancel_event_request h4 {
  margin-bottom: 0; }

.cancel_event {
  margin-right: 10px; }

.box_content {
  padding: 10px 5px 5px 5px; }

.title_bar {
  height: 35px;
  position: relative; }
  .title_bar h2 {
    margin-right: 20px;
    float: left; }
  .title_bar .tab {
    padding: 5px;
    border: 1px solid #e1e1e1;
    float: left;
    height: 20px;
    position: relative;
    top: 4px; }
  .title_bar .tab.last_tab {
    border-left: none; }
  .title_bar .tab.current {
    border-bottom: 1px solid white; }

.members span.medium_avatar {
  margin-left: 15px; }

.error_message_box {
  position: absolute;
  top: 50px;
  left: 300px; }

.operations {
  margin-left: 50px;
  border-left: 1px solid #888888;
  padding-left: 10px; }
