.hot_events {
  width: 950;
  padding: 20px 20px 0 20px;
  float: left;
  border: 3px solid #d5ddde;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  behavior: url(/javascripts/PIE.htc);
  border-bottom: none;
  background-color: white; }
  .hot_events .search_line {
    width: 950px;
    float: left;
    margin-bottom: 20px; }
    .hot_events .search_line .filter_title {
      float: left;
      padding: 5px;
      background: none repeat scroll 0 0 #d4d4d4;
      width: 40px;
      font-size: 13px;
      text-align: center; }
      .hot_events .search_line .filter_title a {
        color: white; }
        .hot_events .search_line .filter_title a:hover {
          text-decoration: none; }
    .hot_events .search_line .filter_items {
      float: left;
      padding: 5px;
      margin-left: 10px;
      width: 828px; }
      .hot_events .search_line .filter_items a {
        font-size: 13px;
        color: #56656c;
        margin-right: 5px;
        display: inline-block; }
      .hot_events .search_line .filter_items a.current {
        color: #4bc5be; }

.search_result {
  padding: 30px 20px;
  border: 3px solid #d5ddde;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  behavior: url(/javascripts/PIE.htc);
  background-color: white; }
  .search_result .event_item {
    padding-bottom: 20px; }
    .search_result .event_item img {
      -moz-border-radius: 14px;
      -webkit-border-radius: 14px;
      border-radius: 14px;
      behavior: url(/javascripts/PIE.htc);
      border: 1px solid #f2f2f2;
      float: left;
      width: 148px;
      height: 148px; }
    .search_result .event_item .information {
      width: 300px;
      height: 150px;
      float: left;
      margin: 0 10px;
      overflow: hidden;
      position: relative; }
      .search_result .event_item .information p {
        margin: 0; }
      .search_result .event_item .information .title {
        font-size: 14px;
        margin-bottom: 5px; }
      .search_result .event_item .information .at_bottom {
        position: absolute;
        bottom: 1px;
        color: #666666; }

#city_select_box {
  position: absolute;
  width: 100px;
  border: 1px solid #b9b9b9;
  padding: 10px;
  background-color: white; }

#switch_city {
  text-decoration: none;
  border: 1px solid #e9eef1;
  padding: 3px; }
  #switch_city:hover {
    border: 1px solid #b9b9b9;
    color: #666666; }

.new_button_container {
  height: 40px;
  width: 80px;
  float: right; }
  .new_button_container .new_button {
    float: right;
    width: 60px;
    height: 20px;
    background-color: #00bed4;
    line-height: 20px;
    font-size: 13px; }
    .new_button_container .new_button:hover {
      margin-top: 2px;
      background-color: #e76875; }
