.in_audit {
  float: left;
  -webkit-box-shadow: 0 1px 5px 0 #333333;
  -moz-box-shadow: 0 1px 5px 0 #333333;
  box-shadow: 0 1px 5px 0 #333333;
  behavior: url(/javascripts/PIE.htc);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(/javascripts/PIE.htc);
  margin: 80px 0 0 160px;
  background-color: white;
  padding: 25px 30px;
  text-align: center; }
  .in_audit a.app_big_link_button {
    float: left;
    margin-left: 0; }
