.hot_events {
  width: 904px;
  padding: 20px 20px 0 20px;
  float: left;
  border: 3px solid #d5ddde;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  behavior: url(/javascripts/PIE.htc);
  background-color: white; }

.search_line {
  width: 908px;
  float: left;
  margin-bottom: 20px; }
  .search_line .filter_title {
    float: left;
    padding: 5px;
    background: none repeat scroll 0 0 #d4d4d4;
    width: 40px;
    font-size: 13px;
    text-align: center; }
    .search_line .filter_title a {
      color: white; }
      .search_line .filter_title a:hover {
        text-decoration: none; }
  .search_line .filter_items {
    float: left;
    padding: 5px;
    margin-left: 10px;
    width: 828px; }
    .search_line .filter_items a {
      font-size: 13px;
      color: #56656c;
      margin-right: 5px;
      display: inline-block; }
    .search_line .filter_items a.current {
      color: #a10000; }

.hot_items_events.last_item {
  border: none; }

.hot_items_events {
  width: 908px;
  margin-bottom: 10px;
  float: left;
  border-bottom: 1px dashed #d5ddde;
  padding-bottom: 10px; }
  .hot_items_events a.more {
    display: block; }
  .hot_items_events .item_avatar {
    margin-right: 5px;
    float: left; }
    .hot_items_events .item_avatar img {
      -moz-border-radius: 14px;
      -webkit-border-radius: 14px;
      border-radius: 14px;
      behavior: url(/javascripts/PIE.htc);
      border: 1px solid #f2f2f2; }
  .hot_items_events .item_event {
    width: 220px;
    float: left;
    height: 90px;
    margin-bottom: 15px; }
    .hot_items_events .item_event img {
      float: left;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      behavior: url(/javascripts/PIE.htc);
      border: 1px solid #f2f2f2;
      width: 88px;
      height: 88px; }
    .hot_items_events .item_event .event_info {
      margin-left: 5px;
      float: left;
      width: 125px;
      height: 90px;
      position: relative; }
      .hot_items_events .item_event .event_info h4 {
        margin-bottom: 5px; }
      .hot_items_events .item_event .event_info .at_bottom {
        position: absolute;
        bottom: 0px;
        color: #546266; }
        .hot_items_events .item_event .event_info .at_bottom p {
          color: #546266;
          margin: 0; }

#city_select_box {
  position: absolute;
  width: 100px;
  border: 3px solid #d5ddde;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/javascripts/PIE.htc);
  padding: 10px;
  background-color: white; }

#switch_city {
  text-decoration: none;
  border: 3px solid #e9eef1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/javascripts/PIE.htc);
  padding: 3px; }
  #switch_city:hover {
    border: 3px solid #d5ddde;
    color: #666666; }

.box_title {
  margin-bottom: 5px; }

.new_button_container {
  height: 40px;
  width: 80px;
  float: right; }
  .new_button_container .new_button {
    float: right;
    width: 60px;
    height: 20px;
    background-color: #00bed4;
    line-height: 20px;
    font-size: 13px; }
    .new_button_container .new_button:hover {
      margin-top: 2px;
      background-color: #e76875; }
