.hot_events {
  width: 908px;
  padding: 20px 20px 0 20px;
  border-top: none;
  float: left;
  margin-top: 10px; }

.hot_box {
  margin-top: 20px; }
  .hot_box h2 {
    background: none repeat scroll 0 0 #7e9bc1;
    width: 100%;
    height: 4px;
    overflow: hidden;
    margin: 0; }

.search_line {
  width: 908px;
  float: left;
  margin-bottom: 20px; }
  .search_line .filter_title {
    float: left;
    padding: 5px;
    background: none repeat scroll 0 0 #d4d4d4;
    width: 40px;
    font-size: 13px;
    text-align: center; }
    .search_line .filter_title a {
      color: white; }
      .search_line .filter_title a:hover {
        text-decoration: none; }
  .search_line .filter_items {
    float: left;
    padding: 5px;
    margin-left: 10px;
    width: 828px; }
    .search_line .filter_items a {
      font-size: 12px;
      color: #333333;
      margin-right: 5px;
      display: inline-block; }
    .search_line .filter_items a.current {
      color: #a10000; }

#slider {
  width: 908px;
  height: 210px;
  overflow: hidden; }
  #slider ul {
    margin: 0;
    padding: 0;
    float: left; }
    #slider ul li {
      width: 908px;
      float: left;
      margin-bottom: 10px;
      height: 210px;
      overflow: hidden; }

.search_result {
  padding: 0px 20px 0 20px; }
  .search_result .event_by_search {
    float: left;
    width: 182px;
    height: 210px;
    margin: 0 50px 20px 0; }
    .search_result .event_by_search span.item_name {
      color: #ff6600; }
    .search_result .event_by_search img {
      width: 180px;
      height: 180px;
      border: 1px solid #dddddd; }
      .search_result .event_by_search img:hover {
        border: 1px solid #ff6600; }

.hot_items_events {
  width: 908px;
  margin-bottom: 10px;
  float: left;
  border-bottom: 1px dashed #e1e1e1;
  padding-bottom: 10px; }
  .hot_items_events a.more {
    display: block; }
  .hot_items_events .item_avatar {
    margin-right: 5px;
    float: left; }
  .hot_items_events .item_event {
    width: 220px;
    float: left;
    height: 90px;
    margin-bottom: 15px; }
    .hot_items_events .item_event img {
      float: left;
      border: 1px solid #e1e1e1;
      width: 88px;
      height: 88px; }
    .hot_items_events .item_event .event_info {
      margin-left: 5px;
      float: left;
      width: 125px;
      height: 90px;
      position: relative; }
      .hot_items_events .item_event .event_info h4 {
        margin-bottom: 5px; }
      .hot_items_events .item_event .event_info .at_bottom {
        position: absolute;
        bottom: 0px; }
        .hot_items_events .item_event .event_info .at_bottom p {
          margin: 0; }

#city_select_box {
  position: absolute;
  width: 100px;
  border: 1px solid black;
  padding: 10px;
  background-color: white; }

#switch_city {
  text-decoration: none; }
  #switch_city:hover {
    border: 1px solid #b9b9b9; }

.box_title {
  margin-bottom: 5px; }
