.description p {
  margin-bottom: 0; }
.description .title {
  display: inline; }
.description .participants {
  color: #f6b24d;
  display: inline; }

.odd {
  background-color: #f8f8f8; }

.even {
  background-color: #ebf3f7; }

.event_item {
  padding: 10px 0 10px 0; }
  .event_item .pic {
    margin-left: 10px; }

.filter_bar h4, .filter_bar h2 {
  display: inline;
  margin-bottom: 0; }
.filter_bar h2 {
  margin-right: 20px; }

.box_content {
  padding: 10px 5px 0 5px;
  margin: 0; }
