.description p {
  margin-bottom: 0; }
.description .title {
  display: inline-block; }
.description .participants {
  color: #f6b24d; }

.odd {
  background-color: #f8f8f8; }

.even {
  background-color: #ebf3f7; }

.event_item {
  padding: 10px 0 10px 0; }
  .event_item .pic {
    margin-left: 10px; }

.box_content {
  padding: 10px 5px 0 5px;
  margin: 0; }
