.left_column #map_div {
  background-color: white;
  padding: 10px;
  width: 180px; }
.left_column #map {
  width: 178px;
  border: 1px solid #d5ddde;
  margin-bottom: 0px; }
  .left_column #map img {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/javascripts/PIE.htc);
    width: 198px;
    height: 198px;
    border: 1px solid #f2f2f2; }
.left_column .other_info {
  margin: 0px 0 5px 0; }
  .left_column .other_info .info_block {
    display: block;
    float: left;
    background-color: white;
    color: #546266;
    padding: 10px 10px;
    margin-right: 10px;
    width: 180px; }
    .left_column .other_info .info_block .edit_button {
      float: left;
      width: 30px;
      height: 15px;
      background-color: #8dbc6e;
      line-height: 15px;
      font-size: 12px; }
      .left_column .other_info .info_block .edit_button:hover {
        margin-top: 2px;
        background-color: #e76875; }
    .left_column .other_info .info_block span.info {
      width: 180px;
      display: block;
      float: left;
      font-size: 13px;
      padding: 5px 0;
      border-bottom: 1px dashed #e9eef1; }
      .left_column .other_info .info_block span.info .content, .left_column .other_info .info_block span.info .left {
        float: left; }
      .left_column .other_info .info_block span.info .left {
        width: 65px; }
      .left_column .other_info .info_block span.info .content {
        width: 115px; }
      .left_column .other_info .info_block span.info strong {
        color: #fb4b6f; }
    .left_column .other_info .info_block span.des {
      color: #fc4469;
      font-size: 14px;
      height: 25px; }
.left_column .members {
  margin-top: 5px;
  padding: 10px;
  width: 180px;
  background-color: white; }
.left_column .person_array {
  width: 220px;
  margin-top: 10px;
  float: left; }
  .left_column .person_array .member {
    float: left; }
  .left_column .person_array .avatar {
    margin-right: 2px;
    width: 43px;
    height: 43px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/javascripts/PIE.htc); }

.right_column .app_header_box {
  margin-top: 50px; }
.right_column .app_big_title_bar.last_one {
  margin-right: 0; }
.right_column .app_big_title_bar {
  margin-right: 20px; }
.right_column .event_status_info {
  padding: 20px;
  background-color: white;
  margin-top: 5px;
  border: 2px solid #eaeaea;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/javascripts/PIE.htc); }
  .right_column .event_status_info h3 {
    color: #fc4469; }
  .right_column .event_status_info p.audit_info {
    font-size: 14px;
    color: #666666; }
  .right_column .event_status_info .avatar span.info {
    display: block;
    float: right;
    font-size: 14px; }
  .right_column .event_status_info .avatar img {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 10px; }
  .right_column .event_status_info .reason_area {
    padding: 10px 0;
    border-top: 1px dashed #d5ddde;
    border-bottom: 1px dashed #d5ddde;
    margin: 10px 0; }
  .right_column .event_status_info .re_audit {
    font-size: 12px;
    color: #999999;
    height: 30px; }
    .right_column .event_status_info .re_audit span {
      float: left;
      display: block; }
.right_column .event_title_bar {
  width: 630px;
  float: left;
  background-color: white;
  border: 3px solid #d5ddde;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(/javascripts/PIE.htc);
  padding: 17px; }
  .right_column .event_title_bar .event_desc {
    font-size: 1.2em;
    line-height: 1.7em;
    border-top: 1px dashed #d5ddde;
    padding-top: 10px; }
.right_column .albums_area {
  width: 630px;
  float: left;
  background-color: white;
  padding: 0 0 10px 5px; }
  .right_column .albums_area .pic_link {
    height: 140px;
    width: 140px;
    position: relative;
    display: inline-block;
    margin: 10px 0 0px 10px; }
    .right_column .albums_area .pic_link img {
      width: 140px;
      height: 140px; }
    .right_column .albums_area .pic_link:hover p.desc {
      display: block; }
    .right_column .albums_area .pic_link p.desc {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 110px;
      background-color: white;
      height: 35px;
      overflow: hidden;
      display: none;
      opacity: 0.8;
      padding: 5px 15px;
      font-size: 12px;
      color: #666666; }
.right_column .event_title .status {
  color: #f78ca1; }
.right_column .operations {
  height: 40px;
  position: relative; }
  .right_column .operations .message_box {
    float: left;
    margin-right: 17px; }
    .right_column .operations .message_box .glass_button {
      width: 60px;
      height: 22px;
      line-height: 22px; }
  .right_column .operations .share_operations {
    padding: 5px;
    background-color: white;
    border: 3px solid #d5ddde;
    color: #fc4469;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/javascripts/PIE.htc); }
    .right_column .operations .share_operations span {
      font-weight: bold;
      font-size: 14px;
      display: block;
      margin: 0 5px 5px 0; }
    .right_column .operations .share_operations #share_to_sina, .right_column .operations .share_operations #share_to_qq {
      float: left;
      margin-right: 10px; }
    .right_column .operations .share_operations #share_to_qq a {
      display: block;
      width: 32px;
      height: 32px; }
  .right_column .operations .join_button {
    float: left;
    width: 60px;
    height: 20px;
    background-color: #8dbc6e;
    line-height: 20px;
    font-size: 13px; }
    .right_column .operations .join_button:hover {
      margin-top: 2px;
      background-color: #e76875; }
  .right_column .operations .join_button.quit {
    background-color: #e76875; }
    .right_column .operations .join_button.quit:hover {
      margin-top: 2px;
      background-color: #00bed4; }
  .right_column .operations .join_button.like {
    margin-right: 17px; }
.right_column .event_info {
  width: 630px;
  float: left;
  background-color: white;
  border: 3px solid #d5ddde;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  behavior: url(/javascripts/PIE.htc);
  padding: 20px;
  margin-bottom: 50px; }
.right_column .event_pic_bar {
  position: relative; }
  .right_column .event_pic_bar a {
    position: absolute;
    bottom: 20px; }
