.left_column .avatar img {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  behavior: url(/javascripts/PIE.htc);
  width: 198px;
  height: 198px;
  border: 1px solid #f2f2f2; }
.left_column .other_info {
  margin: 0px 0 5px 0; }
  .left_column .other_info .info_block {
    display: block;
    float: left;
    background-color: #dbe0e3;
    color: #546266;
    padding: 10px 10px;
    margin-right: 10px;
    width: 180px; }
    .left_column .other_info .info_block strong {
      display: block; }

.right_column .static .app_big_title_bar {
  margin-right: 20px; }
.right_column .event_info {
  width: 600px;
  float: left;
  background-color: white;
  border: 3px solid #d5ddde;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  behavior: url(/javascripts/PIE.htc);
  padding: 20px;
  margin-bottom: 50px; }
  .right_column .event_info .event_title {
    color: #495659;
    width: 600px;
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block; }
  .right_column .event_info .event_desc {
    width: 600px;
    float: left;
    font-size: 1.2em;
    line-height: 1.7em; }
