.left_column #map_div {
  background-color: white;
  padding: 10px;
  width: 180px; }
.left_column #map {
  width: 178px;
  border: 1px solid #d5ddde;
  margin-bottom: 0px; }
  .left_column #map img {
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    behavior: url(/javascripts/PIE.htc);
    width: 198px;
    height: 198px;
    border: 1px solid #f2f2f2; }
.left_column .other_info {
  margin: 0px 0 5px 0; }
  .left_column .other_info .info_block {
    display: block;
    float: left;
    background-color: white;
    color: #546266;
    padding: 10px 10px;
    margin-right: 10px;
    width: 180px;
    margin-top: 15px; }
    .left_column .other_info .info_block .edit_button {
      float: left;
      width: 30px;
      height: 15px;
      background-color: #8dbc6e;
      line-height: 15px;
      font-size: 12px; }
      .left_column .other_info .info_block .edit_button:hover {
        margin-top: 2px;
        background-color: #e76875; }
    .left_column .other_info .info_block span.info {
      width: 180px;
      display: block;
      float: left;
      font-size: 13px;
      padding: 5px 0;
      border-bottom: 1px dashed #e9eef1; }
      .left_column .other_info .info_block span.info .content, .left_column .other_info .info_block span.info .left {
        float: left; }
      .left_column .other_info .info_block span.info .left {
        width: 65px; }
      .left_column .other_info .info_block span.info .content {
        width: 115px; }
      .left_column .other_info .info_block span.info strong {
        color: #fb4b6f; }
    .left_column .other_info .info_block span.des {
      color: #fc4469;
      font-size: 14px;
      height: 25px; }
.left_column .members {
  margin-top: 20px;
  padding: 10px;
  width: 180px;
  background-color: white; }
.left_column .person_array {
  width: 220px;
  margin-top: 10px;
  float: left; }
  .left_column .person_array .member {
    float: left; }
  .left_column .person_array .avatar {
    margin-right: 2px;
    width: 43px;
    height: 43px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/javascripts/PIE.htc); }

.right_column .app_header_box {
  margin-top: 50px; }
.right_column .app_big_title_bar.last_one {
  margin-right: 0; }
.right_column .app_big_title_bar {
  margin-right: 20px; }
.right_column .event_title_bar {
  width: 630px;
  float: left;
  background-color: white;
  border: 3px solid #d5ddde;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  behavior: url(/javascripts/PIE.htc);
  padding: 17px; }
  .right_column .event_title_bar .event_desc {
    font-size: 1.2em;
    line-height: 1.7em;
    border-top: 1px dashed #d5ddde;
    padding-top: 10px; }
.right_column .event_title .status {
  color: #f78ca1; }
.right_column .operations {
  height: 40px; }
  .right_column .operations .join_button {
    float: left;
    width: 60px;
    height: 20px;
    background-color: #8dbc6e;
    line-height: 20px;
    font-size: 13px; }
    .right_column .operations .join_button:hover {
      margin-top: 2px;
      background-color: #e76875; }
  .right_column .operations .join_button.quit {
    background-color: #e76875; }
    .right_column .operations .join_button.quit:hover {
      margin-top: 2px;
      background-color: #00bed4; }
  .right_column .operations .join_button.like {
    margin-right: 17px; }
.right_column .event_info {
  width: 630px;
  float: left;
  background-color: white;
  border: 3px solid #d5ddde;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  behavior: url(/javascripts/PIE.htc);
  padding: 20px;
  margin-bottom: 50px; }
