.upload_area {
  background-color: white;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  behavior: url(/javascripts/PIE.htc);
  padding: 15px; }
  .upload_area #upload_event_pic .title_bar {
    display: block;
    float: left; }
    .upload_area #upload_event_pic .title_bar h2 {
      display: inline-block;
      font-size: 20px;
      line-height: 50px;
      height: 50px;
      float: left;
      margin-left: 10px; }
    .upload_area #upload_event_pic .title_bar img {
      border: 1px solid #d5ddde;
      display: block;
      float: left; }
  .upload_area #upload_event_pic .photo_form {
    width: 600px; }
    .upload_area #upload_event_pic .photo_form a.upload_img_link {
      width: 100px;
      height: 100px;
      display: inline-block;
      overflow: hidden; }
    .upload_area #upload_event_pic .photo_form .glass_button {
      height: 23px;
      margin-top: 2px; }
    .upload_area #upload_event_pic .photo_form .upload_confirm_button, .upload_area #upload_event_pic .photo_form .cancel_button {
      float: left;
      position: absolute;
      bottom: 0px;
      right: 60px;
      padding: 0 10px;
      line-height: 30px;
      height: 30px;
      font-size: 15px;
      background-color: #f5f5f5;
      border: 1px solid #dddddd;
      color: #529214;
      cursor: pointer;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      behavior: url(/javascripts/PIE.htc); }
      .upload_area #upload_event_pic .photo_form .upload_confirm_button:hover, .upload_area #upload_event_pic .photo_form .cancel_button:hover {
        background-color: #e6efc2;
        border: 1px solid #c6d880; }
    .upload_area #upload_event_pic .photo_form .cancel_button {
      right: 0;
      color: #d12f19;
      height: 28px; }
      .upload_area #upload_event_pic .photo_form .cancel_button:hover {
        background-color: #fbe3e4;
        border: 1px solid #fbc2c4; }
  .upload_area #upload_event_pic #photozone {
    position: static;
    width: 610px;
    height: auto; }
    .upload_area #upload_event_pic #photozone li.loading .ajax_load {
      width: 100px;
      display: inline-block; }
      .upload_area #upload_event_pic #photozone li.loading .ajax_load img {
        width: 50px; }
    .upload_area #upload_event_pic #photozone li {
      margin-bottom: 10px;
      display: block;
      position: relative;
      background-color: #eeeeee;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      behavior: url(/javascripts/PIE.htc);
      padding: 15px 30px; }
      .upload_area #upload_event_pic #photozone li .ajax_load {
        width: 100px;
        display: inline; }
      .upload_area #upload_event_pic #photozone li img {
        padding-right: 5px;
        width: 100px; }
      .upload_area #upload_event_pic #photozone li textarea {
        width: 380px;
        padding: 10px;
        height: 80px; }
      .upload_area #upload_event_pic #photozone li a.remove_link {
        background: url("/images/ui/cross_close_icon.png") no-repeat scroll -26px 0 transparent;
        float: right;
        margin: 0 0 0 10px;
        width: 16px;
        text-indent: -9999px; }
        .upload_area #upload_event_pic #photozone li a.remove_link:hover {
          background-position: 0 0; }

#cancel_upload_request .box_content {
  padding: 10px; }
#cancel_upload_request .submit {
  height: 25px; }
