.home_container {
  float: left;
  width: 680px;
  margin-top: 30px; }
  .home_container .new_event {
    padding-right: 10px; }
  .home_container .new_post {
    padding-right: 10px; }
  .home_container .home_tabs {
    background: #f9f9f9 url("/images/ui/tabs-bg.png") repeat;
    height: 62px;
    border-bottom: solid 1px white;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px 10px 0 0;
    behavior: url(/javascripts/PIE.htc); }
    .home_container .home_tabs li {
      font-size: 16px;
      display: inline-block;
      float: left;
      height: 62px;
      line-height: 62px;
      width: 137px;
      text-align: center; }
      .home_container .home_tabs li a {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        behavior: url(/javascripts/PIE.htc);
        background-color: #e1e1e1;
        padding: 10px;
        font-weight: bold;
        color: #999999; }
        .home_container .home_tabs li a:hover {
          background-color: #697d84;
          color: white; }
      .home_container .home_tabs li a.current {
        background-color: #697d84;
        color: white; }

.post_element_panel {
  margin-top: 0 !important; }
  .post_element_panel .stream_element {
    background-color: white;
    border: none;
    margin-bottom: 2px; }
  .post_element_panel .pagination {
    position: absolute;
    bottom: -40px;
    left: 315px; }

.link_tab {
  margin: 0 0 5px 0;
  padding: 0 0 22px 0;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase; }
  .link_tab a {
    float: left;
    padding: 0 12px 8px 0;
    font-weight: bold;
    background: url(/images/ui/icon-bluearrow.png) no-repeat 100% 2px;
    text-decoration: none;
    color: #4083a9;
    outline: none; }
    .link_tab a:hover {
      background-position: 100% -20px;
      color: #205f82; }

#home_user {
  margin-left: 10px;
  position: relative; }
  #home_user h3 {
    position: absolute;
    top: 4px;
    left: 60px;
    font-size: 15px; }
  #home_user h4 {
    margin: 0; }
  #home_user .groups {
    margin-top: 20px;
    left: 0; }
    #home_user .groups .title {
      background-color: white;
      padding: 10px; }
      #home_user .groups .title .name {
        float: left;
        font-size: 15px;
        color: #fc4469; }
      #home_user .groups .title .link {
        float: right; }
  #home_user .avatar_panel_container {
    background-color: white;
    margin-top: 20px; }
    #home_user .avatar_panel_container .title {
      background-color: white;
      padding: 10px; }
      #home_user .avatar_panel_container .title .name {
        float: left;
        font-size: 15px;
        color: #fc4469; }
      #home_user .avatar_panel_container .title .link {
        float: right; }
    #home_user .avatar_panel_container .contacts {
      padding: 5px 10px 5px 10px; }
      #home_user .avatar_panel_container .contacts .person_avatar_detail {
        height: 30px;
        width: 30px; }
  #home_user .group {
    padding: 10px;
    background-color: white;
    margin-bottom: 2px; }
    #home_user .group .avatar {
      float: left; }
      #home_user .group .avatar img {
        height: 30px;
        width: 30px; }
    #home_user .group .name {
      display: table-cell;
      vertical-align: middle;
      margin-left: 40px;
      font-size: 13px;
      padding-left: 10px;
      font-weight: normal;
      height: 30px; }

#friend_listings {
  position: relative;
  border-bottom: 1px solid #cccccc; }
  #friend_listings .contacts {
    margin-top: 6px; }

.new.friends_request {
  background: url("/images/layout/content_icons.png") no-repeat scroll 0 0px transparent;
  background-position: 0 -1720px;
  padding-left: 14px; }

.comments {
  border-top: 1px solid #ebebeb;
  font-size: 13px;
  margin-bottom: 10px; }
  .comments .comment_body {
    word-wrap: break-word;
    line-height: 1.4; }
  .comments .details {
    color: #aaaaaa; }
  .comments .comment {
    position: relative;
    padding: 8px;
    border-bottom: 1px dotted #cccccc; }
  .comments .comment_content {
    margin-left: 36px; }
  .comments .timeago {
    color: #999999;
    text-decoration: none;
    border: none; }
  .comments .author_avatar {
    float: left;
    padding: 0; }
  .comments .person_avatar_detail {
    height: 32px;
    width: 32px; }

.content_info .action {
  padding-left: 5px; }

.information h4 {
  padding-top: 10px;
  margin-bottom: 10px; }

.pagination {
  text-align: center; }

#profile_edit .person_photo {
  width: 200px; }
#profile_edit .person_info {
  width: 500px; }
  #profile_edit .person_info .info_panel .button {
    margin-left: 150px;
    margin-top: 10px; }
  #profile_edit .person_info .info_panel label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 10px; }
#profile_edit h4 {
  border-bottom: 1px solid #cccccc; }

.event_container .event_element {
  height: 180px;
  position: relative;
  border-top: 1px solid #ebebeb; }
  .event_container .event_element:hover {
    background: none repeat scroll 0 0 #ebeffa;
    cursor: pointer; }
  .event_container .event_element .event_info {
    padding-left: 10px;
    border-left: 1px solid #ebebeb;
    margin-left: 10px;
    height: 100px;
    float: left;
    font-size: 13px; }
    .event_container .event_element .event_info .author {
      font-weight: normal;
      display: inline; }
  .event_container .event_element .event_content {
    width: 450px;
    padding: 20px 20px;
    float: left; }
    .event_container .event_element .event_content .event {
      margin-top: 20px;
      height: 110px; }
      .event_container .event_element .event_content .event .time {
        display: inline; }
      .event_container .event_element .event_content .event .address {
        display: inline; }
    .event_container .event_element .event_content .event_avatar {
      float: left; }
      .event_container .event_element .event_content .event_avatar img {
        width: 100px;
        height: 100px; }
    .event_container .event_element .event_content .attendee {
      display: block; }
      .event_container .event_element .event_content .attendee img {
        width: 30px;
        height: 30px; }
    .event_container .event_element .event_content .event_details {
      width: 220px;
      float: left;
      height: 110px;
      margin-left: 20px; }

.right_bar {
  height: 700px;
  position: relative;
  z-index: 1; }

.details_panel {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%; }
  .details_panel .details_shell {
    margin: 0 auto;
    position: relative;
    width: 960px; }
  .details_panel .event_side_panel {
    z-index: 3;
    position: relative;
    background: none repeat scroll 0 0 #ebeffa;
    width: 380px;
    height: 580px;
    overflow-y: scroll;
    top: 50px;
    left: 170px; }

.event_side_content {
  padding: 10px; }
  .event_side_content .button {
    display: block; }
  .event_side_content .event {
    margin-top: 20px;
    height: 220px; }
    .event_side_content .event .time {
      display: inline; }
    .event_side_content .event .address {
      display: inline; }
  .event_side_content .event_avatar {
    float: left; }
  .event_side_content .event_details {
    float: left;
    height: 220px;
    margin-left: 20px; }

.home_invitation_link {
  margin-top: 10px;
  font-size: 17px; }
  .home_invitation_link a {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/javascripts/PIE.htc);
    -webkit-box-shadow: 0 1px 5px 0 #dddddd;
    -moz-box-shadow: 0 1px 5px 0 #dddddd;
    box-shadow: 0 1px 5px 0 #dddddd;
    behavior: url(/javascripts/PIE.htc);
    color: #888888;
    background-color: #f8f8f8;
    padding: 5px 15px; }
    .home_invitation_link a:hover {
      color: #00bed4; }

.home_event_box_panel {
  margin: 0 0px 2px 0px; }
  .home_event_box_panel .person_event_box .action {
    margin-top: 14px;
    margin-right: 10px;
    margin-left: 10px;
    width: 70px;
    height: 74px;
    float: right;
    position: relative; }
    .home_event_box_panel .person_event_box .action .glass_button {
      width: 60px;
      height: 20px;
      line-height: 20px; }
    .home_event_box_panel .person_event_box .action .event_edit, .home_event_box_panel .person_event_box .action .event_like {
      display: inline-block; }
  .home_event_box_panel .person_event_box .event_avatar {
    float: left;
    padding: 10px; }
  .home_event_box_panel .person_event_box .content {
    float: left;
    width: 350px;
    line-height: 16px;
    color: #22aec1;
    padding: 10px; }
    .home_event_box_panel .person_event_box .content .title {
      color: #e9727e;
      font-size: 18px; }
    .home_event_box_panel .person_event_box .content .time {
      margin-top: 5px;
      color: #546266; }
  .home_event_box_panel .person_event_box .calendar_panel {
    border-right: 1px solid #e9eff0;
    width: 68px;
    height: 88px;
    float: right; }
    .home_event_box_panel .person_event_box .calendar_panel .calendar {
      margin-top: 15px;
      margin-left: 10px; }
  .home_event_box_panel .member {
    margin-left: 10px;
    display: block;
    height: 40px;
    width: 579px;
    color: #88b66a;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid #e9eff0; }
    .home_event_box_panel .member .count {
      margin-right: 10px;
      display: inline-block;
      float: left; }
    .home_event_box_panel .member .person_avatar .person_avatar_detail {
      height: 30px;
      width: 30px; }

.nav_tab ul li {
  font-weight: bold;
  display: inline-block;
  padding-right: 10px; }
  .nav_tab ul li a {
    font-size: 17px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-radius: 6px 6px 0 0;
    behavior: url(/javascripts/PIE.htc);
    background-color: #e1e1e1;
    padding: 10px;
    font-weight: bold;
    color: #999999; }
    .nav_tab ul li a:hover {
      background-color: #c6c6c3;
      color: #646464; }
  .nav_tab ul li a.current {
    background-color: white;
    color: #546266; }

.feed_toolbar {
  padding: 10px 0px 10px 20px;
  margin-top: 7px;
  background: white;
  width: 660px;
  border-bottom: 1px solid #eceae8; }
  .feed_toolbar .post_type_bar {
    position: relative;
    float: left;
    width: 500px; }
    .feed_toolbar .post_type_bar a.title {
      margin: 5px 10px 5px 0;
      display: block;
      float: left; }
      .feed_toolbar .post_type_bar a.title span {
        display: block;
        float: left; }
      .feed_toolbar .post_type_bar a.title span.desc {
        font-size: 14px;
        line-height: 14px;
        margin-left: 3px;
        color: #666666; }
      .feed_toolbar .post_type_bar a.title span.img {
        width: 19px;
        background-image: url("/images/ui/weibo_global.png");
        background-position: -63px 0;
        height: 14px; }
    .feed_toolbar .post_type_bar a.topic span.img {
      background-position: -123px 0;
      width: 17px; }
    .feed_toolbar .post_type_bar a.at_friend span.img {
      background-position: -434px 0;
      width: 15px; }
    .feed_toolbar .post_type_bar span.noti {
      margin-top: 5px;
      color: #999999; }
  .feed_toolbar .create_post {
    float: left;
    position: relative;
    padding-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/javascripts/PIE.htc);
    border: 1px solid #888888; }
    .feed_toolbar .create_post textarea {
      width: 500px;
      height: 20px;
      margin: 5px;
      border: none; }
    .feed_toolbar .create_post label.placeholder {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 14px; }
    .feed_toolbar .create_post .topic_tag {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      behavior: url(/javascripts/PIE.htc);
      -webkit-box-shadow: 0 1px 5px 0 #aaaaaa;
      -moz-box-shadow: 0 1px 5px 0 #aaaaaa;
      box-shadow: 0 1px 5px 0 #aaaaaa;
      behavior: url(/javascripts/PIE.htc);
      background-color: #67ae3f;
      padding: 3px 5px;
      font-size: 12px;
      line-height: 12px;
      position: absolute;
      bottom: 3px;
      left: 10px;
      border: 1px solid #3f980e;
      color: white; }
      .feed_toolbar .create_post .topic_tag a.topic_name {
        color: white; }
        .feed_toolbar .create_post .topic_tag a.topic_name:hover {
          text-decoration: underline; }
      .feed_toolbar .create_post .topic_tag a.close_topic_tag {
        color: #cccccc;
        margin-left: 5px; }
        .feed_toolbar .create_post .topic_tag a.close_topic_tag:hover {
          color: white; }
  .feed_toolbar .new_post {
    float: right; }
  .feed_toolbar ul.event li {
    float: left;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px; }
    .feed_toolbar ul.event li a {
      color: #505050;
      background: #e1e1e1;
      border: 1px solid #dededd;
      font-size: 15px;
      padding: 5px;
      font-weight: bold;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      behavior: url(/javascripts/PIE.htc); }
      .feed_toolbar ul.event li a:hover {
        background-color: #c6c6c3;
        color: #646464; }
    .feed_toolbar ul.event li a.current {
      background-color: white;
      color: #546266; }

.comment_form .comment_button .glass_button {
  margin-top: 0;
  margin-right: 10px; }

.create_post .new_status_message #status_message_submit {
  position: absolute;
  left: 530px;
  font-size: 15px;
  top: 0px;
  padding: 5px 20px; }
.create_post span#sync_to_weibo {
  position: absolute;
  right: -90px;
  top: 40px; }

.event_status_open {
  background-color: white; }
