.interested_people
  .person_item
    :margin-top 15px

    .avatar_area
      :vertical-align top
      :display inline-block
      .avatar_container
    
    .desc_area
      :width 200px
      :height 50px
      :display inline-block 
      :margin-left 5px
      :position relative 
     
      .follow_button_mini 
        :position absolute
        :top 0px
        :right 0px

        .follow, .following
          :margin-top 0
      a.pname
        :font-size 13px
        :line-height 13px
      a.follow 
        :margin-top 5px
        :display block
        :background-color #BDBDA3 
        :padding-left  10px
        :width 40px
        :color #fff

        &:hover
          :background-color #888
      span.city
        :display block
        :color #888
      a.desc
        :position absolute
        :bottom 0px
        :display block
        :color #888

        span
          border-color: #888 transparent transparent
          border-style: solid dashed dashed
          border-width: 4px 4px 0
          display: inline-block
          font-size: 0
          height: 0
          line-height: 0
          margin: 0 0 0 3px
          vertical-align: middle
          width: 0
        span.up_arrow
          border-color: transparent transparent #888
          border-style: dashed dashed solid
          border-width: 0 4px 4px
          
          

        &:hover
          :text-decoration underline
      span.followed
        :display block
        :margin-top 5px
    .common_desc
      :background-color #F2F8FB
      :margin-top 5px
      :width 240px
      :padding 5px 10px

