.person_left_bar
  :width 0px
  :padding-right 20px
.change_profile_photo
  #profile_photo_upload
    :padding-left 0px
  :text-align center
  :height 30px
#person_panel
  :margin
    :top 10px
    :bottom 20px
    :left 20px
    :right 20px
  h2
    :margin-bottom 0px
    :display inline
  .action
    :margin-top 10px
    :float right
.menu_bar.edit
  :padding-bottom 5px
  :padding-right 0px
.edit
  .submit_block
    :display inline
    :margin-left 400px
  ul
    :display inline
  :margin-top 20px
  .name
    :display inline
    :margin-left 23px
  .signature
    :margin-top 10px
  .name,.signature,.hobby
    input
      :width 340px
  textarea
    :width 340px
    :height 60px

    
    

.select_on
  :color #DD4B39
.menu_bar
  :background-color whitesmoke
  :border-top 1px solid #EBEBEB
  :padding 5px 20px
  li
    &:hover
      :color #DD4B39
    :display inline
    :font-size 15px
    :margin-right 10px
    :cursor pointer
.person_left_bar
  .groups
    :margin-top 20px
    :left 0
  .group
    :padding 5px
    .avatar
      :float left
      img
        :height 50px
        :width 50px
    .name
      :line-height 50px
      :margin-left 60px
      :font-size 15px
      :font-weight normal
      :height 50px
.stream
  .event_element
    :height 180px
    :position relative
    :border-top 1px solid #EBEBEB
    .event_info
      :padding-left 10px
      :border-left 1px solid #EBEBEB
      :margin-left 10px
      :height 100px
      :float left
      :font-size 13px
      .author
        :font-weight normal
        :display inline
    .event_content
      :width 450px
      :padding 20px 20px
      :float left
      .event
        .time
          :display inline
        .address
          :display inline
        :margin-top 20px
        :height 110px
      .event_avatar
        :float left
        img
          :width 100px
          :height 100px
      .attendee
        :display block
        img
          :width 30px
          :height 30px
      .event_details
        :width 220px
        :float left
        :height 110px
        :margin-left 20px
  
dt
  color: #8A8A8A
  display: inline-block
  width: 70px
dd
  display: inline-block

.person_profile
  :padding-bottom 20px
  .info_text
    :margin
      :left 30px
      :top 20px
  span
    :vertical-align top
    :text-align right
    :width 110px
    :display inline-block
    :font-size 15px
    :color #888
  .content
    :width 350px
    :margin-left 20px
    :display inline-block
    :font-size 15px
