@import '../../general/ui/mixins'
.select_tab_on
  a
    :color black
.person_details_tab
  @include border-radius(8px)
  :padding 0

  .home_tabs
    @include border-radius(5px)
    background: #F9F9F9 url('/images/ui/tabs-bg.png')  repeat
    height: 62px
    :width 950px
    float: left
    li
      font-size: 16px
      display: inline-block
      float: left
      height: 62px
      margin-left: 5px
      margin-right: 10px
      line-height: 62px
      text-align: center
      position: relative
      
    li.hoverable
      a
        padding: 10px
        @include border-radius-noie( 6px )
        font-weight: bold
        :color #999
        &:hover
          :background-color #e1e1e1 
          :color #697d84
      a.current
        :background-color  #697d84
        :color #ffffff

      
    
.person_card
  :float left
  :height 64px
  :width 60px
  .avatar
    @include border-radius(8px)
    :float left
    :margin
      top: 7px
      left: 8px
    :height 50px
    :width 50px
    :float left
  h2
    :float left
    :font-size 16px
    :margin-left 10px
  .follow_prompt
    :margin-left 95px

.box_element
  @include border-radius( 10px )
  @include box-shadow(0,0,2px,1px,#ccc  )
  :border 1px solid #d5ddde
  :margin-left 8px
  :margin-top 8px
  :padding 5px 8px 5px 8px
  :float left
  .box_avatar
    img
      :width 95px
      :height 95px
      &:hover 
        :opacity 0.8
  h4
    :margin 0
    :overflow hidden
    :white-space nowrap
    em
      color: #999
      :font-weight normal
      font-size: 11px
      padding-left: 10px
      font-style: normal
      line-height: 1.7
      background: url(/images/ui/icon-location.png) no-repeat 0 50%
      
  :width 97px
  :height 150px
  :background-color white
  .content
    .box_status
      :font-weight bold
      :height 30px
      :color #777
      .follow_button_mini
        font-size: 1em
        font-weight: bold
        text-decoration: none
        float: right
        .following
          :margin-top 5px
          padding: 6px
          width: 12px
          height: 12px
          :background-color #8aba56
          color: #666
          span
            background: url(/images/ui/icon-check.png) no-repeat 0 50%
            :text-indent -999em
            :padding-left 18px
            :float left
            :line-height 12px
          &:hover
            :background-color #ea4c88
            span
              background: url(/images/ui/icon-x.png) no-repeat 0 50%
           
        .follow
          :margin-top 5px
          padding: 6px
          width: 12px
          height: 12px
          :background-color lightGrey
          color: #666
          span
            background: url(/images/ui/follow-gray.gif) no-repeat 0 50%
            :text-indent -999em
            :padding-left 18px
            :float left
            :line-height 12px
          &:hover
            :background-color #8aba56
            span
              background: url(/images/ui/follow-white.gif) no-repeat 0 50%

      .element
        :border-left 1px solid #E5E5E5
        :height 30px
        :float left
        :padding-left 5px
        :margin-left 5px
        &:first-child
          :border none
          :margin-left 0px
          :padding-left 0px
        span
          :margin-top 3px
          :display block
          :font-size 11px
          :font-weight normal
          :color #999
          :line-height 1px
.friends_set
  ul
    li
      :float left
      :width 140px
      :padding-bottom 10px
      :overflow hidden


.person_details_content      
  :background-color #ffffff
  :padding 10px 0 15px 5px
