.action
  .edit_profile
    :line-height 25px
    :width 80px
    :height 25px
    :background-color #00a2b7
    :font-size 13px
    &:hover
      :margin-top 2px
      :background-color #e76875
  
.history_bar
  :display block
  :margin-top 60px
  :height 90px
  .panel
    :float left
    :background-color #41464C
    :width 160px
    :height 90px
    :margin-right 20px
  .red
    color: #F74367
  .green
    color: #A1D453
  .yellow
    color: #F5D34E

  .counts_center
    :float left
    :width 130px
    :height 100%
    .title
      font-weight: bold
      font-size: 14px
    .counts
      :padding
        :bottom 10px
      font-weight: bold
      font-size: 50px
      font-family: arial
      float: left
    .info
      padding-top: 35px
      float: left
      margin-left: 7px
      font-size: 14px
      
      
.border_right_side
  :height 100%
  :float left
  width: 15px
  background: url(/images/ui/border_side.png) no-repeat -15px 0
.border_left_side
  :height 100% 
  float: left
  width: 15px
  :background url(/images/ui/border_side.png) no-repeat 0 0
.events_panel
  .event_box_panel
    :float left
    a
      outline: none
      text-decoration: none
      :cursor pointer
      &:hover
        .content
          .name
            :color #fc4469
          .info
            .info_left
              :background url("/images/ui/arrowredreally.png") no-repeat scroll left top #FC5173
              :color white
            .info_right
              :background url( "/images/ui/arrow-red.gif" )
              .event_closed
                :display none
              .calendar
                :display none
      
    .event_box
      :width 300px
      :margin 0 10px 14px 15px
      :float left
      .event_border
        background: url(/images/ui/event_border.png) no-repeat scroll 0 0
        color: #FC4469
        font-size: 15px
        font-weight: normal
        margin: 0
        padding-left: 30px
        height: 26px
        
      .content
        :background url(/images/ui/event-box.png) no-repeat scroll 0 100%
        :min-height 100px
        :padding 10px
        :color #11BACD
        .title
          :position relative
          :width 240px
          :font-size 14px
          :font-weight bold
          :height 50px
          .joined
            :color #349fba
            :position absolute
            :right -40px
            :top -10px
            .icon
              :display inline-block
              :height 16px
              :width 16px
              :background url(/images/ui/icons_all.png) no-repeat -342px -182px
            .counts
            &:hover
              :opacity 0.8
        .info
          .info_left
            :float left
            .address
              :height 15px
            img
              float: left
              margin-right: 5px
              vertical-align: middle
              :height 32px
              :width 32px
            display: inline
            font-weight: bold
            height: 30px
            padding: 10px 10px 10px 10px
            width: 188px
            background: url(/images/ui/box_arrow.png) top left no-repeat #ECF4F6
            color: #568EA6

          .info_right
            :float right
            background-color: #ECF4F6
            display: inline
            font-weight: bold
            color: #568EA6
            height: 30px
            padding: 10px
            position: relative
            width: 50px
          .event_closed
            :padding-left 10px
  
  .current_events
    .title_panel
      :width 160px
      :height 41px
      :background-color #00BED4
    .pointer
      width: 10px
      height: 10px
      margin: 0 0 10px 20px
      background: url(/images/ui/border_bubble_point.gif) no-repeat 0 0 #00BED4
  .past_events
    .title_panel
      :width 160px
      :height 41px
      :background-color #546266
    .pointer
      width: 10px
      height: 10px
      margin: 0 0 10px 20px
      background: url(/images/ui/border_bubble_point.gif) no-repeat 0 0 #546266
  :margin-top 30px

  .content_center
    :line-height 41px
    :font-weight bold
    :font-size 18px
    :color white
    :width 130px
    :float left
    :height 100%
  .border_left_side
    :height 100% 
    :float left
    :width 15px
    :background url(/images/ui/border_side_small.png) no-repeat 0 0
  .border_right_side
    :height 100% 
    :float left
    :width 15px
    :background url(/images/ui/border_side_small.png) no-repeat -15px 0

    

.person_left_bar
  :width 0px
  :padding-right 20px
.change_profile_photo
  #profile_photo_upload
    :padding-left 0px
  :text-align center
  :height 30px
  :width 100px
#person_panel
  :margin
    :top 10px
    :bottom 20px
    :left 20px
    :right 20px
  h2
    :margin-bottom 0px
    :display inline
  .action
    :margin-top 10px
    :float right
.menu_bar.edit
  :padding-bottom 5px
  :padding-right 0px
.edit
  .submit_block
    :display inline
    :margin-left 400px
  ul
    :display inline
  :margin-top 20px
  .name
    :display inline
    :margin-left 23px
  .signature
    :margin-top 10px
  .name,.signature,.hobby
    input
      :width 340px
  textarea
    :width 340px
    :height 60px

    
    

.select_on
  :color #DD4B39
.menu_bar
  :background-color whitesmoke
  :border-top 1px solid #EBEBEB
  :padding 5px 20px
  li
    &:hover
      :color #DD4B39
    :display inline
    :font-size 15px
    :margin-right 10px
    :cursor pointer
.person_left_bar
  .contacts
    :margin-top 20px
    .avatar
      :margin-top 5px
  .groups
    :margin-top 20px
    :left 0
  .group
    :padding 5px
    .avatar
      :float left
      img
        :height 50px
        :width 50px
    .name
      :display table-cell
      :vertical-align middle
      :padding-left 10px
      :font-size 15px
      :font-weight normal
      :height 50px
      :width 110px
.stream
  .event_element
    :height 180px
    :position relative
    :border-top 1px solid #EBEBEB
    .event_info
      :padding-left 10px
      :border-left 1px solid #EBEBEB
      :margin-left 10px
      :height 100px
      :float left
      :font-size 13px
      .author
        :font-weight normal
        :display inline
    .event_content
      :width 450px
      :padding 20px 20px
      :float left
      .event
        .time
          :display inline
        .address
          :display inline
        :margin-top 20px
        :height 110px
      .event_avatar
        :float left
        img
          :width 100px
          :height 100px
      .attendee
        :display block
        img
          :width 30px
          :height 30px
      .event_details
        :width 220px
        :float left
        :height 110px
        :margin-left 20px
  
dt
  color: #8A8A8A
  display: inline-block
  width: 70px
dd
  display: inline-block

.person_settings
  display: block
  height: 45px
  width: 91px
  background: url(/images/ui/person_settings.gif) no-repeat
  font-weight: bold 
  font-size: 19px
  color: white
  padding: 8px 0 0px 14px
  
.person_profile
  :background-color white
  :padding-bottom 20px
  :padding-top 20px
  .info_text
    :margin
      :left 30px
      :bottom 30px
  span
    :vertical-align top
    :text-align right
    :width 110px
    :display inline-block
    :font-size 15px
    :color #888
  .content
    :width 350px
    :margin-left 20px
    :display inline-block
    :font-size 15px

.person_profile_button
  :margin-top 20px
  :margin-left 20px
  input
    :font-size 13px
    :background-color #00a2b7
    :width 90px
    :height 31px
    :border none
    &:hover
      :margin-top 2px
      :background-color #e76875

