@import '../../general/ui/mixins'
.following_people_panel
  :margin-top 25px

.history_bar
  :display block
  :margin-top 45px
  :height 90px
  .app_big_title_bar
    :margin-right 20px
      
.border_right_side
  :height 100%
  :float left
  width: 15px
  background: url(/images/ui/border_side.png) no-repeat -15px 0
.border_left_side
  :height 100% 
  float: left
  width: 15px
  :background url(/images/ui/border_side.png) no-repeat 0 0
.events_panel
  .event_box_panel
    :float left
    a
      outline: none
      text-decoration: none
      :cursor pointer
      &:hover
        .content
          .name
            :color #fc4469
          .info
            .info_left
              :background url("/images/ui/arrowredreally.png") no-repeat scroll left top #FC5173
              :color white
            .info_right
              :background url( "/images/ui/arrow-red.gif" )
              .event_closed
                :display none
              .calendar
                :display none
      
    .event_box
      :width 300px
      :margin 0 10px 14px 15px
      :float left
      .event_border
        background: url(/images/ui/event_border.png) no-repeat scroll 0 0
        color: #FC4469
        font-size: 15px
        font-weight: normal
        margin: 0
        padding-left: 30px
        height: 26px
        
      .content
        :background url(/images/ui/event-box.png) no-repeat scroll 0 100%
        :min-height 100px
        :padding 10px
        :color #11BACD
        .title
          :position relative
          :width 240px
          :font-size 14px
          :font-weight bold
          :height 50px
          .joined
            :color #349fba
            :position absolute
            :right -40px
            :top -10px
            .icon
              :display inline-block
              :height 12px
              :width 15px
              :background url(/images/ui/people.png) no-repeat 
            .counts
            &:hover
              :opacity 0.8
        .info
          .info_left
            :float left
            .address
              :height 15px
            img
              float: left
              margin-right: 5px
              vertical-align: middle
              :height 32px
              :width 32px
            display: inline
            font-weight: bold
            height: 30px
            padding: 10px 10px 10px 10px
            width: 188px
            background: url(/images/ui/box_arrow.png) top left no-repeat #ECF4F6
            color: #568EA6

          .info_right
            :float right
            background-color: #ECF4F6
            display: inline
            font-weight: bold
            color: #568EA6
            height: 30px
            padding: 10px
            position: relative
            width: 50px
          .event_closed
            :padding-left 10px
  
  :margin-top 30px
  .content_center
    :line-height 41px
    :font-weight bold
    :font-size 18px
    :color white
    :width 130px
    :float left
    :height 100%
  .border_left_side
    :height 100% 
    :float left
    :width 15px
    :background url(/images/ui/border_side_small.png) no-repeat 0 0
  .border_right_side
    :height 100% 
    :float left
    :width 15px
    :background url(/images/ui/border_side_small.png) no-repeat -15px 0

    

.person_left_bar
  :float left
  :width 200px
  :padding-right 20px
  .information
    :width 100%
.change_profile_photo
  #profile_photo_upload
    :padding-left 0px
  :text-align center
  :height 30px
  :width 100px
#person_panel
  :margin
    :top 10px
    :bottom 20px
    :left 20px
    :right 20px
  h2
    :margin-bottom 0px
    :display inline
  .action
    :margin-top 10px
    :float right
.menu_bar.edit
  :padding-bottom 5px
  :padding-right 0px
.edit
  .submit_block
    :display inline
    :margin-left 400px
  ul
    :display inline
  :margin-top 20px
  .name
    :display inline
    :margin-left 23px
  .signature
    :margin-top 10px
  .name,.signature,.hobby
    input
      :width 340px
  textarea
    :width 340px
    :height 60px

    
    

.select_on
  :color #DD4B39
.menu_bar
  :background-color whitesmoke
  :border-top 1px solid #EBEBEB
  :padding 5px 20px
  li
    &:hover
      :color #DD4B39
    :display inline
    :font-size 15px
    :margin-right 10px
    :cursor pointer
.person_left_bar
  .contacts
    :margin-top 20px
    .avatar
      :margin-top 5px
  .groups
    .title
      background-color: #F5F9FA 
      :padding 10px
      .name
        :float left
        :font-size 15px
        :color #fc4469
      .link
        :float right
    :margin-top 20px
    :left 0
  .group
    :padding 10px
    background-color: #F5F9FA 
    :margin-bottom 2px
    .avatar
      :float left
      img
        :height 50px
        :width 50px
    .name
      :display table-cell
      :vertical-align middle
      :padding-left 10px
      :font-size 15px
      :font-weight normal
      :height 50px
      :width 110px
.stream
  .event_element
    :height 180px
    :position relative
    :border-top 1px solid #EBEBEB
    .event_info
      :padding-left 10px
      :border-left 1px solid #EBEBEB
      :margin-left 10px
      :height 100px
      :float left
      :font-size 13px
      .author
        :font-weight normal
        :display inline
    .event_content
      :width 450px
      :padding 20px 20px
      :float left
      .event
        .time
          :display inline
        .address
          :display inline
        :margin-top 20px
        :height 110px
      .event_avatar
        :float left
        img
          :width 100px
          :height 100px
      .attendee
        :display block
        img
          :width 30px
          :height 30px
      .event_details
        :width 220px
        :float left
        :height 110px
        :margin-left 20px
  
dt
  color: #8A8A8A
  display: inline-block
  width: 70px
dd
  display: inline-block

.person_settings
  display: block
  height: 45px
  width: 91px
  background: url(/images/ui/person_settings.gif) no-repeat
  font-weight: bold 
  font-size: 19px
  color: white
  padding: 8px 0 0px 14px
  
.person_profile
  :background-color white
  :padding-bottom 20px
  :padding-top 20px
  input,select,textarea
    :color #576b72
  input
    @include border-radius(5px)
    :margin-top 5px
    :font-size 15px
    border: 1px solid white
    height: 26px
    padding: 4px
    width: 250px
  .info_text
    :margin
      :left 30px
      :bottom 30px
  span
    :vertical-align top
    :text-align right
    :width 110px
    :font-weight bold
    :display inline-block
    :font-size 15px
    :color #424f55
  #gender
    input
      :width 20px
    span
      :margin-top 5px
      :margin-left 0px
      :width 15px
      :line-height 25px
  .content
    select
      border: 2px solid #D5DDDF
      @include border-radius(5px)
      :margin-top 5px
      :font-size 15px
      height: 30px
      padding: 4px
      width: 265px
    textarea
      @include border-radius(5px)
    :width 350px
    :margin-left 20px
    :display inline-block
    :font-size 15px

.person_profile_button
  :margin-top 20px
  :margin-left 20px
  input
    :font-size 13px
    :background-color #00a2b7
    :width 90px
    :height 31px
    :border none
    &:hover
      :margin-top 2px
      :background-color #e76875
.event_status_over
  :background-color #F5F9FA
.event_status_open
  :background-color white
.person_event_container
  :position relative
  .pagination
    :bottom -50px
.person_event_box_panel
  height: 74px
  margin: 0 0px 2px 0px
  cursor: pointer
  .person_event_box
    .event_avatar
      :float left
      :padding 10px
    .content
      :float left
      width: 295px
      line-height: 16px
      color: #22AEC1
      padding: 10px
      .title
        :color #E9727E
    .calendar_panel
      width: 74px
      height: 74px
      float: right
      border-left: 1px solid #E9EFF0
      .calendar
        :margin-top 15px
        :margin-left 10px
    .member
      width: 74px
      height: 74px
      float: right
      border-left: 1px solid #E9EFF0
      :color #88b66a
      :font-size 18px
      :font-weight bold
      :line-height 74px
      :text-align center

    .status
      width: 74px
      height: 74px
      float: right
      border-left: 1px solid #E9EFF0
      .sucess
        width: 29px
        height: 25px
        margin: 25px 0 5px 23px
      .not_started
      .ongoning
.divider
  background: url(/images/ui/line_divider.png) repeat-x
  width: 180px
  height: 1px
  display: block
  
#person_profile_box   
  :font-size 14px
  margin-bottom: 20px
  background: #F5F9FA
  padding: 10px
  position: relative
  margin-top: 20px
  .info_text
    :padding 10px 0 10px 0
  .title
    h3
      color: #fc4469
      :font-size 15px
      :float left
      :margin-top 5px
    .edit_profile
      :float right
      :line-height 15px
      :width 30px
      :height 15px
      :background-color #00a2b7
      :font-size 11px
      :margin-top 2px
      &:hover
        :background-color #e76875
  span
    color: #7F8D8E
    font-weight: bold
    margin-right: 5px
    margin-top: -2px
    :display inline
  p
    color: #546266
    :display inline
