.person_show .person_action {
  margin-left: 20px;
  height: 30px; }
  .person_show .person_action .message_box {
    margin-left: 15px; }
    .person_show .person_action .message_box .glass_button {
      height: 25px;
      line-height: 25px;
      width: 70px; }

.following_people_panel {
  margin-top: 25px; }
  .following_people_panel .person_avatar .avatar_container {
    -webkit-box-shadow: 0 1px 3px 0 #aaaaaa;
    -moz-box-shadow: 0 1px 3px 0 #aaaaaa;
    box-shadow: 0 1px 3px 0 #aaaaaa;
    behavior: url(/javascripts/PIE.htc);
    height: 50px;
    padding: 1px;
    background-color: #d5ddde; }

.history_bar {
  display: block;
  margin-top: 22px;
  height: 90px; }
  .history_bar .app_big_title_bar {
    margin-right: 20px; }

.border_right_side {
  height: 100%;
  float: left;
  width: 15px;
  background: url(/images/ui/border_side.png) no-repeat -15px 0; }

.border_left_side {
  height: 100%;
  float: left;
  width: 15px;
  background: url(/images/ui/border_side.png) no-repeat 0 0; }

.events_panel {
  margin-top: 30px; }
  .events_panel .event_box_panel {
    float: left; }
    .events_panel .event_box_panel a {
      outline: none;
      text-decoration: none;
      cursor: pointer; }
      .events_panel .event_box_panel a:hover .content .name {
        color: #fc4469; }
      .events_panel .event_box_panel a:hover .content .info .info_left {
        background: url("/images/ui/arrowredreally.png") no-repeat scroll left top #fc5173;
        color: white; }
      .events_panel .event_box_panel a:hover .content .info .info_right {
        background: url("/images/ui/arrow-red.gif"); }
        .events_panel .event_box_panel a:hover .content .info .info_right .event_closed {
          display: none; }
        .events_panel .event_box_panel a:hover .content .info .info_right .calendar {
          display: none; }
    .events_panel .event_box_panel .event_box {
      width: 300px;
      margin: 0 10px 14px 15px;
      float: left; }
      .events_panel .event_box_panel .event_box .event_border {
        background: url(/images/ui/event_border.png) no-repeat scroll 0 0;
        color: #fc4469;
        font-size: 15px;
        font-weight: normal;
        margin: 0;
        padding-left: 30px;
        height: 26px; }
      .events_panel .event_box_panel .event_box .content {
        background: url(/images/ui/event-box.png) no-repeat scroll 0 100%;
        min-height: 100px;
        padding: 10px;
        color: #11bacd; }
        .events_panel .event_box_panel .event_box .content .title {
          position: relative;
          width: 240px;
          font-size: 14px;
          font-weight: bold;
          height: 50px; }
          .events_panel .event_box_panel .event_box .content .title .joined {
            color: #349fba;
            position: absolute;
            right: -40px;
            top: -10px; }
            .events_panel .event_box_panel .event_box .content .title .joined .icon {
              display: inline-block;
              height: 12px;
              width: 15px;
              background: url(/images/ui/people.png) no-repeat; }
            .events_panel .event_box_panel .event_box .content .title .joined:hover {
              opacity: 0.8; }
        .events_panel .event_box_panel .event_box .content .info .info_left {
          float: left;
          display: inline;
          font-weight: bold;
          height: 30px;
          padding: 10px 10px 10px 10px;
          width: 188px;
          background: url(/images/ui/box_arrow.png) top left no-repeat #ecf4f6;
          color: #568ea6; }
          .events_panel .event_box_panel .event_box .content .info .info_left .address {
            height: 15px; }
          .events_panel .event_box_panel .event_box .content .info .info_left img {
            float: left;
            margin-right: 5px;
            vertical-align: middle;
            height: 32px;
            width: 32px; }
        .events_panel .event_box_panel .event_box .content .info .info_right {
          float: right;
          background-color: #ecf4f6;
          display: inline;
          font-weight: bold;
          color: #568ea6;
          height: 30px;
          padding: 10px;
          position: relative;
          width: 50px; }
        .events_panel .event_box_panel .event_box .content .info .event_closed {
          padding-left: 10px; }
  .events_panel .content_center {
    line-height: 41px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 130px;
    float: left;
    height: 100%; }
  .events_panel .border_left_side {
    height: 100%;
    float: left;
    width: 15px;
    background: url(/images/ui/border_side_small.png) no-repeat 0 0; }
  .events_panel .border_right_side {
    height: 100%;
    float: left;
    width: 15px;
    background: url(/images/ui/border_side_small.png) no-repeat -15px 0; }

.person_left_bar {
  float: left;
  width: 200px;
  padding-right: 20px; }
  .person_left_bar #profile_photo img {
    width: 200px;
    height: 200px; }
  .person_left_bar #profile_photo h2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 35px; }
  .person_left_bar .information {
    width: 100%; }

.change_profile_photo {
  text-align: center;
  height: 30px;
  width: 100px; }
  .change_profile_photo #profile_photo_upload {
    padding-left: 0px; }

#person_panel {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px; }
  #person_panel h2 {
    margin-bottom: 0px;
    display: inline; }
  #person_panel .home_tabs {
    margin-top: 50px;
    background: #f9f9f9 url("/images/ui/tabs-bg.png") repeat;
    height: 62px;
    border-bottom: solid 1px white;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px 10px 0 0;
    behavior: url(/javascripts/PIE.htc); }
    #person_panel .home_tabs li {
      font-size: 16px;
      display: inline-block;
      float: left;
      height: 62px;
      line-height: 62px;
      width: 90px;
      text-align: center; }
      #person_panel .home_tabs li a {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        behavior: url(/javascripts/PIE.htc);
        background-color: #e1e1e1;
        padding: 10px;
        font-weight: bold;
        color: #999999; }
        #person_panel .home_tabs li a:hover {
          background-color: #697d84;
          color: white; }
      #person_panel .home_tabs li a.current {
        background-color: #697d84;
        color: white; }

.menu_bar.edit {
  padding-bottom: 5px;
  padding-right: 0px; }

.edit {
  margin-top: 20px; }
  .edit .submit_block {
    display: inline;
    margin-left: 400px; }
  .edit ul {
    display: inline; }
  .edit .name input, .edit .signature input, .edit .hobby input {
    width: 340px; }
  .edit textarea {
    width: 340px;
    height: 60px; }

.menu_bar {
  background-color: whitesmoke;
  border-top: 1px solid #ebebeb;
  padding: 5px 20px; }
  .menu_bar li {
    display: inline;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer; }
    .menu_bar li:hover {
      color: #dd4b39; }

.person_left_bar .groups {
  margin-top: 20px;
  left: 0; }
  .person_left_bar .groups .title {
    background-color: white;
    padding: 10px; }
    .person_left_bar .groups .title .name {
      float: left;
      font-size: 15px;
      color: #fc4469; }
    .person_left_bar .groups .title .link {
      float: right; }
.person_left_bar .group {
  padding: 10px;
  background-color: white;
  margin-bottom: 2px; }
  .person_left_bar .group .avatar {
    float: left; }
    .person_left_bar .group .avatar img {
      height: 50px;
      width: 50px; }
  .person_left_bar .group .name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 15px;
    font-weight: normal;
    height: 50px;
    width: 110px; }

.stream .stream_element {
  background-color: white;
  border: none;
  margin-bottom: 2px; }
.stream .event_element {
  height: 180px;
  position: relative;
  border-top: 1px solid #ebebeb; }
  .stream .event_element .event_info {
    padding-left: 10px;
    border-left: 1px solid #ebebeb;
    margin-left: 10px;
    height: 100px;
    float: left;
    font-size: 13px; }
    .stream .event_element .event_info .author {
      font-weight: normal;
      display: inline; }
  .stream .event_element .event_content {
    width: 450px;
    padding: 20px 20px;
    float: left; }
    .stream .event_element .event_content .event {
      margin-top: 20px;
      height: 110px; }
      .stream .event_element .event_content .event .time {
        display: inline; }
      .stream .event_element .event_content .event .address {
        display: inline; }
    .stream .event_element .event_content .event_avatar {
      float: left; }
      .stream .event_element .event_content .event_avatar img {
        width: 100px;
        height: 100px; }
    .stream .event_element .event_content .attendee {
      display: block; }
      .stream .event_element .event_content .attendee img {
        width: 30px;
        height: 30px; }
    .stream .event_element .event_content .event_details {
      width: 220px;
      float: left;
      height: 110px;
      margin-left: 20px; }

dt {
  color: #8a8a8a;
  display: inline-block;
  width: 70px; }

dd {
  display: inline-block; }

.person_profile {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px; }
  .person_profile label[class=error] {
    color: red; }
  .person_profile input, .person_profile select, .person_profile textarea {
    color: #576b72; }
  .person_profile input {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/javascripts/PIE.htc);
    margin-top: 5px;
    font-size: 15px;
    height: 26px;
    padding: 4px;
    width: 250px; }
  .person_profile .info_text {
    margin-left: 30px;
    margin-bottom: 30px; }
  .person_profile .gender span {
    margin-top: 7px; }
  .person_profile span {
    vertical-align: top;
    text-align: right;
    width: 110px;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    color: #7f8d8e; }
  .person_profile #gender input {
    width: 20px; }
  .person_profile #gender span {
    margin-top: 5px;
    margin-left: 0px;
    width: 15px;
    line-height: 25px; }
  .person_profile .content {
    width: 350px;
    margin-left: 20px;
    display: inline-block;
    font-size: 15px; }
    .person_profile .content select {
      border: 2px solid #d5dddf;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      behavior: url(/javascripts/PIE.htc);
      margin-top: 5px;
      font-size: 15px;
      height: 30px;
      padding: 4px; }
    .person_profile .content textarea {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      behavior: url(/javascripts/PIE.htc); }

.person_profile_button {
  margin-left: 20px; }
  .person_profile_button input {
    background: url("/images/ui/person_edit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: inline;
    float: right;
    font-size: 16px;
    color: white;
    height: 46px;
    margin: 13px 4px 0 0;
    overflow: hidden;
    width: 198px; }
    .person_profile_button input:hover {
      background: url("/images/ui/person_edit.png") no-repeat scroll 100% -46px transparent;
      margin: 15px 4px 0 0; }

.event_status_over {
  background-color: #f5f9fa; }

.event_status_open {
  background-color: white; }

.person_event_container {
  position: relative; }
  .person_event_container .pagination {
    text-align: center;
    bottom: -50px; }

.person_event_box_panel {
  height: 74px;
  margin: 0 0px 2px 0px;
  cursor: pointer; }
  .person_event_box_panel .person_event_box .event_avatar {
    float: left;
    padding: 10px; }
  .person_event_box_panel .person_event_box .content {
    float: left;
    width: 350px;
    line-height: 16px;
    color: #546266;
    font-size: 11px;
    padding: 10px; }
    .person_event_box_panel .person_event_box .content .title {
      margin-bottom: 5px;
      color: #22aec1;
      font-size: 18px; }
  .person_event_box_panel .person_event_box .calendar_panel {
    width: 74px;
    height: 74px;
    float: right;
    border-left: 1px solid #e9eff0; }
    .person_event_box_panel .person_event_box .calendar_panel .calendar {
      margin-top: 15px;
      margin-left: 10px; }
  .person_event_box_panel .person_event_box .member {
    width: 74px;
    height: 74px;
    float: right;
    border-left: 1px solid #e9eff0;
    color: #88b66a;
    font-size: 18px;
    font-weight: bold;
    line-height: 74px;
    text-align: center; }
  .person_event_box_panel .person_event_box .status {
    width: 74px;
    height: 74px;
    float: right;
    border-left: 1px solid #e9eff0; }
    .person_event_box_panel .person_event_box .status .sucess, .person_event_box_panel .person_event_box .status .not_started, .person_event_box_panel .person_event_box .status .ongoing {
      width: 29px;
      height: 25px;
      margin: 25px 0 5px 23px; }

.divider {
  background: url(/images/ui/line_divider.png) repeat-x;
  width: 180px;
  height: 1px;
  display: block; }

#person_profile_box {
  font-size: 14px;
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  position: relative;
  margin-top: 15px; }
  #person_profile_box .info_text {
    padding: 10px 0 10px 0; }
  #person_profile_box .title h3 {
    color: #fc4469;
    font-size: 15px;
    float: left;
    margin-top: 5px; }
  #person_profile_box .title .edit_profile {
    float: right;
    line-height: 15px;
    width: 30px;
    height: 15px;
    font-size: 11px; }
  #person_profile_box span {
    color: #7f8d8e;
    font-weight: bold;
    margin-right: 5px;
    margin-top: -2px;
    display: inline; }
  #person_profile_box p {
    color: #546266;
    display: inline; }

.element_more {
  height: 20px;
  font-weight: bold;
  color: #22aec1;
  font-size: 11px;
  cursor: pointer;
  background-color: white;
  padding: 2px 4px 0 6px;
  border: 1px solid #dce4e6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url(/javascripts/PIE.htc); }

.people_more {
  float: right;
  margin-top: 5px;
  margin-right: 15px; }

.person_left_bar .avatar_panel_container #followed_people, .person_left_bar .avatar_panel_container #befollowed_people {
  background-color: white;
  margin-top: 20px; }
  .person_left_bar .avatar_panel_container #followed_people .title, .person_left_bar .avatar_panel_container #befollowed_people .title {
    background-color: white;
    padding: 10px; }
    .person_left_bar .avatar_panel_container #followed_people .title .name, .person_left_bar .avatar_panel_container #befollowed_people .title .name {
      float: left;
      font-size: 15px;
      color: #fc4469; }
    .person_left_bar .avatar_panel_container #followed_people .title .link, .person_left_bar .avatar_panel_container #befollowed_people .title .link {
      float: right; }
  .person_left_bar .avatar_panel_container #followed_people .contacts, .person_left_bar .avatar_panel_container #befollowed_people .contacts {
    padding-left: 10px; }
    .person_left_bar .avatar_panel_container #followed_people .contacts .person_avatar_detail, .person_left_bar .avatar_panel_container #befollowed_people .contacts .person_avatar_detail {
      height: 43px;
      width: 43px; }

.person_albums {
  position: relative;
  min-height: 500px;
  padding: 20px;
  background: white; }
  .person_albums .title {
    margin-bottom: 20px;
    display: inline-block; }
  .person_albums .albums .album_element {
    margin-top: 20px;
    padding-right: 10px;
    float: left;
    display: inline-block; }
    .person_albums .albums .album_element .album {
      width: 137px;
      height: 137px;
      background-color: white;
      border: 5px solid #f3f3f3;
      -webkit-box-shadow: 0 1px 2px 0 #aaaaaa;
      -moz-box-shadow: 0 1px 2px 0 #aaaaaa;
      box-shadow: 0 1px 2px 0 #aaaaaa;
      behavior: url(/javascripts/PIE.htc); }
      .person_albums .albums .album_element .album img {
        width: 137px;
        height: 137px; }
    .person_albums .albums .album_element .name {
      margin: 5px;
      text-align: center;
      font-size: 15px;
      color: #546266; }
    .person_albums .albums .album_element .pic_counts {
      text-align: center;
      margin: 0;
      padding: 0;
      color: #8a8a8a;
      line-height: 1px; }

.upload_pic {
  position: absolute;
  right: 30px;
  top: 25px; }
  .upload_pic .glass_button {
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 15px; }
