.select_tab_on a {
  color: black; }

.person_details_tab {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(/javascripts/PIE.htc);
  padding: 0; }
  .person_details_tab .home_tabs {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/javascripts/PIE.htc);
    background: #f9f9f9 url("/images/ui/tabs-bg.png") repeat;
    height: 62px;
    width: 950px;
    float: left; }
    .person_details_tab .home_tabs li {
      font-size: 16px;
      display: inline-block;
      float: left;
      height: 62px;
      margin-left: 5px;
      margin-right: 10px;
      line-height: 62px;
      text-align: center;
      position: relative; }
    .person_details_tab .home_tabs li.hoverable a {
      padding: 10px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      font-weight: bold;
      color: #999999; }
      .person_details_tab .home_tabs li.hoverable a:hover {
        background-color: #e1e1e1;
        color: #697d84; }
    .person_details_tab .home_tabs li.hoverable a.current {
      background-color: #697d84;
      color: white; }

.person_card {
  float: left;
  height: 64px;
  width: 60px; }
  .person_card .avatar {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/javascripts/PIE.htc);
    float: left;
    margin-top: 7px;
    margin-left: 8px;
    height: 50px;
    width: 50px;
    float: left; }
  .person_card h2 {
    float: left;
    font-size: 16px;
    margin-left: 10px; }
  .person_card .follow_prompt {
    margin-left: 95px; }

.box_element {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/javascripts/PIE.htc);
  -webkit-box-shadow: 0 0 2px 1px #cccccc;
  -moz-box-shadow: 0 0 2px 1px #cccccc;
  box-shadow: 0 0 2px 1px #cccccc;
  behavior: url(/javascripts/PIE.htc);
  border: 1px solid #d5ddde;
  margin-left: 8px;
  margin-top: 8px;
  padding: 5px 8px 5px 8px;
  float: left;
  width: 97px;
  height: 150px;
  background-color: white; }
  .box_element .box_avatar img {
    width: 95px;
    height: 95px; }
    .box_element .box_avatar img:hover {
      opacity: 0.8; }
  .box_element h4 {
    margin: 0;
    overflow: hidden;
    white-space: nowrap; }
    .box_element h4 em {
      color: #999999;
      font-weight: normal;
      font-size: 11px;
      padding-left: 10px;
      font-style: normal;
      line-height: 1.7;
      background: url(/images/ui/icon-location.png) no-repeat 0 50%; }
  .box_element .content .box_status {
    font-weight: bold;
    height: 30px;
    color: #777777; }
    .box_element .content .box_status .follow_button_mini {
      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      float: right; }
      .box_element .content .box_status .follow_button_mini .following {
        margin-top: 5px;
        padding: 6px;
        width: 12px;
        height: 12px;
        background-color: #8aba56;
        color: #666666; }
        .box_element .content .box_status .follow_button_mini .following span {
          background: url(/images/ui/icon-check.png) no-repeat 0 50%;
          text-indent: -999em;
          padding-left: 18px;
          float: left;
          line-height: 12px; }
        .box_element .content .box_status .follow_button_mini .following:hover {
          background-color: #ea4c88; }
          .box_element .content .box_status .follow_button_mini .following:hover span {
            background: url(/images/ui/icon-x.png) no-repeat 0 50%; }
      .box_element .content .box_status .follow_button_mini .follow {
        margin-top: 5px;
        padding: 6px;
        width: 12px;
        height: 12px;
        background-color: lightGrey;
        color: #666666; }
        .box_element .content .box_status .follow_button_mini .follow span {
          background: url(/images/ui/follow-gray.gif) no-repeat 0 50%;
          text-indent: -999em;
          padding-left: 18px;
          float: left;
          line-height: 12px; }
        .box_element .content .box_status .follow_button_mini .follow:hover {
          background-color: #8aba56; }
          .box_element .content .box_status .follow_button_mini .follow:hover span {
            background: url(/images/ui/follow-white.gif) no-repeat 0 50%; }
    .box_element .content .box_status .element {
      border-left: 1px solid #e5e5e5;
      height: 30px;
      float: left;
      padding-left: 5px;
      margin-left: 5px; }
      .box_element .content .box_status .element:first-child {
        border: none;
        margin-left: 0px;
        padding-left: 0px; }
      .box_element .content .box_status .element span {
        margin-top: 3px;
        display: block;
        font-size: 11px;
        font-weight: normal;
        color: #999999;
        line-height: 1px; }

.friends_set ul li {
  float: left;
  width: 140px;
  padding-bottom: 10px;
  overflow: hidden; }

.person_details_content {
  background-color: white;
  padding: 10px 0 15px 5px; }
