.response_box{:data=>{:guid=>message.id}}
  = person_image_link(message.person, :thumb_small)
  .res_text
    .res_text_inner
      .res_text_frame
        %span.res_time
          =how_long_ago( message )
        %strong.res_uthor
          = person_link(message.person, :class => 'author')
        .res_content
          %span
            = simple_format(message.text)
.clear
:javascript
  jQuery("abbr.timeago").timeago();

