#event_location_attributes_detail {
  width: 250px;
  vertical-align: bottom; }

.left_margin {
  margin-left: 10px; }

#file-upload {
  width: 100px;
  overflow: hidden; }

.event_form .top {
  display: inline;
  margin: 0; }
.event_form .edit_members_bar h4 {
  display: inline; }
.event_form input#event_title, .event_form input#event_location {
  width: 60%;
  padding-right: 0; }
.event_form input:not([type='submit']):not([type='reset']):not([type='checkbox']) {
  width: 60%;
  vertical-align: top;
  padding-right: 0; }
.event_form #event_participants_limit {
  width: 50px; }
.event_form textarea {
  width: 60%;
  padding: 0;
  vertical-align: top;
  margin: 0;
  font-size: 12px; }
.event_form .field {
  margin-bottom: 10px; }
  .event_form .field .address {
    display: inline-block;
    width: 60%; }
  .event_form .field label {
    display: inline-block;
    width: 60px; }
.event_form input[type='checkbox'] {
  vertical-align: text-bottom;
  margin: 0; }
.event_form .subject .field_with_errors {
  width: auto; }
.event_form .field_with_errors {
  display: inline;
  width: 60%; }
  .event_form .field_with_errors input#event_title, .event_form .field_with_errors input#event_location {
    width: 60%; }
  .event_form .field_with_errors input:not([type='submit']):not([type='reset']):not([type='checkbox']) {
    width: 60%; }
  .event_form .field_with_errors textarea {
    width: 60%; }
.event_form .validation-error {
  margin-left: 15px;
  color: red; }
