#event_location_attributes_detail {
  width: 250px;
  vertical-align: top;
  padding: 2px 0.3em; }

.left_margin {
  margin-left: 10px; }

#file-upload {
  width: 100px;
  overflow: hidden; }

.event_form a.app_black_link_button {
  float: left;
  margin: 15px 0;
  font-size: 13px; }
.event_form .form_area {
  padding: 30px 10px 20px 30px;
  background-color: white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(/javascripts/PIE.htc);
  border: 1px solid #d5ddde; }
  .event_form .form_area .top {
    display: inline;
    margin: 0; }
  .event_form .form_area input#event_title, .event_form .form_area input#event_location {
    width: 400px;
    padding-right: 0;
    border: 1px solid #d5dddf;
    font-size: 13px;
    color: #576b72; }
  .event_form .form_area input#event_title {
    height: 30px;
    line-height: 30px; }
  .event_form .form_area input:not([type='submit']):not([type='reset']):not([type='checkbox']) {
    width: 400px;
    vertical-align: top;
    padding-right: 0;
    font-size: 13px;
    color: #576b72; }
  .event_form .form_area select {
    font-size: 13px;
    border: 1px solid #d5dddf; }
  .event_form .form_area #event_participants_limit {
    width: 50px; }
  .event_form .form_area textarea {
    width: 400px;
    padding: 5px;
    vertical-align: top;
    margin: 0;
    font-size: 13px;
    height: 200px; }
  .event_form .form_area .field.module {
    margin-top: 20px; }
  .event_form .form_area .field {
    margin-bottom: 5px; }
    .event_form .form_area .field label.info {
      display: inline-block;
      width: 70px;
      color: #424f55;
      font-size: 13px; }
    .event_form .form_area .field label.error {
      display: block;
      color: #f74367;
      margin-left: 72px; }
  .event_form .form_area input[type='checkbox'] {
    vertical-align: text-bottom;
    margin: 0; }
  .event_form .form_area .subject .field_with_errors {
    width: auto; }
  .event_form .form_area .field_with_errors {
    display: inline; }
    .event_form .form_area .field_with_errors input#event_title, .event_form .form_area .field_with_errors input#event_location {
      width: 400px; }
    .event_form .form_area .field_with_errors input:not([type='submit']):not([type='reset']):not([type='checkbox']) {
      width: 400px; }
    .event_form .form_area .field_with_errors textarea {
      width: 400px; }
  .event_form .form_area .validation-error {
    display: block;
    margin-left: 62px;
    color: red; }

#event_photo_upload {
  height: 250px; }
  #event_photo_upload .img_contained {
    width: 180px; }
    #event_photo_upload .img_contained img {
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      behavior: url(/javascripts/PIE.htc);
      width: 200px;
      height: 200px;
      border: 1px solid #d5ddde; }

.actions {
  padding-left: 40px; }
  .actions input {
    background: url("/images/ui/person_edit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: inline;
    float: right;
    font-size: 16px;
    color: white;
    height: 46px;
    margin: 13px 4px 0 0;
    overflow: hidden;
    width: 198px; }
    .actions input:hover {
      background: url("/images/ui/person_edit.png") no-repeat scroll 100% -46px transparent;
      margin: 15px 4px 0 0; }

#colorbox .box_content {
  padding: 20px 20px 0 20px;
  margin-top: 10px; }
  #colorbox .box_content h3 {
    color: #e76b75; }
  #colorbox .box_content h4 {
    margin: 15px 0 3px 0; }
  #colorbox .box_content form textarea {
    width: 450px;
    height: 150px; }
  #colorbox .box_content form label.error {
    display: block;
    color: #f74367; }
  #colorbox .box_content form .submit {
    margin-top: 10px;
    height: 30px; }
    #colorbox .box_content form .submit input {
      width: 60px;
      height: 30px; }
