@import '../../general/ui/mixins'
.title
  :margin-bottom 0

hr.nav
  :background-color #b9bcbd
  :color #4d4d4d

.topics_area
  :width 904px
  :padding 20px
  :background-color #ffffff
  :border 3px solid #d5ddde
  @include border-radius(15px)

.new_button
  :float left
  :width 60px
  :height 20px
  :background-color #00bed4
  :line-height 20px
  :font-size 13px

  &:hover
    :margin-top 2px
    :background-color #e76875


ul.nav
  :width 200px
  
  li
    a
      :background-color #ffffff
      :width 160px
      :display block
      :padding  0px 10px 
      :margin-bottom 3px
      :font-size 14px
      :color #00a2b7
      :height 45px
      :line-height 45px
      
      &:hover
        background: url("/images/ui/arrow2.gif") no-repeat scroll 160px 50% #FFFFFF !important
        color: #F74367
        text-decoration: none

    a.current
      background: url("/images/ui/arrow2.gif") no-repeat scroll 160px 50% #FFFFFF !important
      color: #F74367
      text-decoration: none

    a.inactive
      :color #d5ddde

      &:hover
        :background none no-repeat scroll 160px 50% #FFFFFF !important
        :color #d5ddde

        
