.event_item
  :padding 10px 0 10px 0

  .pic
    :margin-left 10px

  .description
    .title
      :display inline
    
    p
      :margin-bottom 0

    .participants
      :color #f6b24d
      :display inline
  
.odd
  :background-color #f8f8f8

.even
  :background-color #e8f3f7

.events_panel .event_box_panel .event_box 
  :margin-left 5px

.title_bar
  :border-bottom 2px solid #d5ddde
  :padding-bottom 10px
  .group_logo
    float: left
    .avatar
      background-color: white
      border: 1px solid #E5E5E5
      padding: 4px
      float: left

      img
        height: 80px
        width: 80px
    h2
      float: left
      margin-left: 10px
    
