.form_area
  :padding-left 20px
  
  .field_with_errors
    :display inline-block
  
  .field.module
    :margin-bottom 20px

  .field
    :margin-bottom 5px

    .validation-error
      :color red
      :margin-left 10px
    
    .group_radio_button
      :display inline-block
      :vertical-align top

      label
        :width auto

    label.field_info
      :display inline-block
      :width 60px

    label.error
      :display block
      :color #ff6600 
      :margin-left 62px

    textarea, input#group_name
      :vertical-align top
      :width 400px
    textarea
      :height 200px

    select
      :font-size 13px

    

  
