.group_avatar
  :width 200px
  :float left

.group_des
  :width 509px
  :float left
  :height 200px
  :border-right 1px solid #dddddd
  
  p
    :margin-bottom 0

  .description
    :overflow hidden
    :padding-left 20px 
    :padding-right 20px
    

.group_info
  :height 200px
  :padding 0 0 0 10px
  p
    :margin-bottom 0
  
  .relative
    :height 100%
    :position relative

    .join_mode
      :position absolute
      :left 20 
      :bottom 10px

      h5
        :margin-bottom 0

.forum_area
  .area_title
    :margin-bottom 5px
    
    a
      :float right
  
