span.maintitle {
  overflow: show;
  text-align: left;
  padding-top: 11px;
  float: left;
  height: 20px;
  font-family: STKaiti, KaiTi, sans-serif;
  font-size: large;
  color: #ff7d56; }

span.eveinfo {
  overflow: hidden;
  float: right;
  width: 120px;
  text-align: right; }
