.myitemlist {
  width: 142px;
  margin-top: 28px;
  margin-left: 8px;
  overflow: hidden;
  position: relative;
  float: left; }
  .myitemlist .itemlisttitle {
    margin-bottom: 8px;
    float: left;
    background-color: white;
    border: 1px solid #7e989a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    behavior: url(/javascripts/PIE.htc);
    font-size: 13px;
    font-weight: bold;
    padding: 2px 6px 2px 6px; }
    .myitemlist .itemlisttitle:hover {
      background-color: #f5f5f5; }
  .myitemlist .itemlistcontent {
    width: 142px;
    overflow: hidden; }
    .myitemlist .itemlistcontent .itemlistrow {
      width: 142px;
      height: 50px;
      margin-bottom: 7px; }
      .myitemlist .itemlistcontent .itemlistrow .itemimage {
        width: 50px;
        height: 50px;
        float: left;
        position: relative; }
        .myitemlist .itemlistcontent .itemlistrow .itemimage .nameback {
          width: 50px;
          height: 18px;
          background-color: #747474;
          filter: alpha(opacity=60);
          -moz-opacity: 0.6;
          -khtml-opacity: 0.6;
          opacity: 0.6;
          -moz-border-radius-bottomleft: 2px;
          -moz-border-radius-bottomright: 2px;
          -webkit-border-bottom-left-radius: 2px;
          -webkit-border-bottom-right-radius: 2px;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          position: absolute;
          left: 0px;
          top: 32px; }
        .myitemlist .itemlistcontent .itemlistrow .itemimage .itemname {
          position: absolute;
          left: 1px;
          bottom: 0px;
          font-size: 12px;
          color: white; }
      .myitemlist .itemlistcontent .itemlistrow .itemmsg {
        margin-left: 4px;
        width: 86px;
        height: 50px;
        background: none repeat scroll 0 0 #a8aaad;
        overflow: hidden;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        behavior: url(/javascripts/PIE.htc);
        float: left;
        font-size: 12px;
        display: block;
        text-align: right; }
        .myitemlist .itemlistcontent .itemlistrow .itemmsg a {
          color: black; }
          .myitemlist .itemlistcontent .itemlistrow .itemmsg a:hover {
            color: yellow; }

.imageboard {
  width: 800px;
  float: left;
  position: relative; }
  .imageboard .hidebutton {
    float: right;
    font-size: 12px;
    position: absolute;
    right: 10px; }
  .imageboard .imageheard {
    float: left;
    width: 800px;
    font-size: 18px; }
  .imageboard .imagearea {
    width: 800px;
    overflow: hidden;
    margin-bottom: 40px; }
    .imageboard .imagearea .oneitem {
      float: left;
      width: 100px;
      margin-right: 14px;
      margin-bottom: 5px; }
      .imageboard .imagearea .oneitem .image {
        width: 100px;
        position: relative;
        float: left; }
        .imageboard .imagearea .oneitem .image .nameback {
          width: 100px;
          height: 25px;
          background-color: #747474;
          filter: alpha(opacity=50);
          -moz-opacity: 0.5;
          -khtml-opacity: 0.5;
          opacity: 0.5;
          -moz-border-radius-bottomleft: 8px;
          -moz-border-radius-bottomright: 8px;
          -webkit-border-bottom-left-radius: 8px;
          -webkit-border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          position: absolute;
          left: 0px;
          top: 75px; }
        .imageboard .imagearea .oneitem .image .itemname {
          position: absolute;
          left: 3px;
          bottom: 4px;
          font-size: 16px;
          font-weight: bold;
          color: white; }
      .imageboard .imagearea .oneitem .iteminfo {
        width: 100px;
        float: left; }
        .imageboard .imagearea .oneitem .iteminfo a, .imageboard .imagearea .oneitem .iteminfo a.selected {
          overflow: hidden;
          float: left;
          margin-left: 1px;
          text-align: left;
          cursor: pointer; }
        .imageboard .imagearea .oneitem .iteminfo a {
          color: #00a2b7; }
        .imageboard .imagearea .oneitem .iteminfo a.selected {
          color: #d7d2cc; }
        .imageboard .imagearea .oneitem .iteminfo span.detail {
          overflow: hidden;
          text-align: right;
          float: right;
          white-space: nowrap;
          margin-right: 1px; }

span.title {
  overflow: show;
  text-align: left;
  float: left;
  display: inline;
  height: 20px; }
