.myitemlist {
  width: 142px;
  margin-top: 42px;
  margin-left: 8px;
  overflow: hidden;
  display: block;
  position: relative;
  float: left; }
  .myitemlist .itemlisttitle {
    font-size: 16px;
    height: 16px;
    margin-bottom: 15px;
    display: block; }
  .myitemlist .itemlistcontent {
    width: 142px;
    overflow: hidden; }
    .myitemlist .itemlistcontent .itemlistrow {
      width: 142px;
      height: 50px;
      margin-bottom: 7px; }
      .myitemlist .itemlistcontent .itemlistrow .itemimage {
        width: 50px;
        height: 50px;
        float: left; }
      .myitemlist .itemlistcontent .itemlistrow .itemmsg {
        margin-left: 4px;
        padding-right: 3px;
        width: 83px;
        height: 50px;
        background: none repeat scroll 0 0 #a8aaad;
        overflow: hidden;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        behavior: url(/javascripts/PIE.htc);
        float: left;
        font-size: 12px;
        display: block;
        text-align: right; }
        .myitemlist .itemlistcontent .itemlistrow .itemmsg a {
          color: black; }
          .myitemlist .itemlistcontent .itemlistrow .itemmsg a:hover {
            color: yellow; }

.imageboard {
  width: 800px;
  float: left;
  position: relative; }
  .imageboard .hidebutton {
    float: right;
    font-size: 12px;
    position: absolute;
    right: 10px; }
  .imageboard .imageheard {
    float: left;
    width: 800px;
    font-size: 18px; }
  .imageboard .imagearea {
    width: 800px;
    overflow: hidden;
    margin-bottom: 40px; }
    .imageboard .imagearea .image {
      float: left;
      width: 100px;
      position: relative;
      margin-right: 14px; }
      .imageboard .imagearea .image .nameback {
        width: 100px;
        height: 25px;
        background-color: #747474;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        -moz-border-radius-bottomleft: 8px;
        -moz-border-radius-bottomright: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: absolute;
        left: 0px;
        top: 75px; }
      .imageboard .imagearea .image .itemname {
        position: absolute;
        left: 3px;
        bottom: 22px;
        font-size: 16px;
        font-weight: bold;
        color: white; }
      .imageboard .imagearea .image .iteminfo {
        width: 100px; }

span.title {
  overflow: show;
  text-align: left;
  float: left;
  display: inline;
  height: 20px; }

span.detail {
  overflow: hidden;
  float: right;
  text-align: right;
  white-space: nowrap;
  margin-right: 6px; }
