.itemleft {
  width: 220px;
  float: left; }
  .itemleft .item_image {
    width: 200px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px; }
    .itemleft .item_image img {
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      behavior: url(/javascripts/PIE.htc); }
    .itemleft .item_image .item_name {
      position: absolute;
      left: 6px;
      bottom: 6px;
      font-size: 25px;
      font-weight: bold;
      color: white; }
  .itemleft .item_desc {
    width: 200px;
    display: block;
    float: left;
    text-align: left;
    font-size: 18px;
    color: #74777b;
    margin-bottom: 10px; }
  .itemleft .check_area {
    width: 200px;
    float: left;
    overflow: hidden;
    display: block;
    font-size: 13px;
    margin-bottom: 15px; }
  .itemleft .topics_area {
    width: 220px;
    float: left;
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    .itemleft .topics_area .title {
      width: 220px;
      position: relative;
      float: left;
      padding-bottom: 5px;
      border-bottom: 1px solid #d5ddde; }
      .itemleft .topics_area .title .flag_name {
        color: #fc4469;
        font-size: 14px;
        font-weight: bold;
        float: left; }
      .itemleft .topics_area .title .link_more {
        position: absolute;
        right: 4px; }
        .itemleft .topics_area .title .link_more a {
          border: 1px solid #dce4e6;
          color: #888888;
          font-size: 11px;
          font-weight: bold;
          height: 20px;
          padding: 2px 4px 0 6px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px; }
    .itemleft .topics_area .topics {
      float: left;
      width: 220px;
      padding-bottom: 5px; }
  .itemleft .item_star {
    width: 220px;
    float: left;
    padding: 10px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    .itemleft .item_star .star_title {
      margin-top: 3px;
      width: 216px;
      float: left;
      padding-bottom: 5px;
      border-bottom: 1px solid #d5ddde; }
      .itemleft .item_star .star_title .title_name {
        float: left;
        font-size: 14px;
        color: #fc4469;
        font-weight: bold;
        float: left; }
    .itemleft .item_star .stars {
      float: left;
      width: 220px;
      padding-bottom: 5px; }
      .itemleft .item_star .stars .star_one {
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 5px;
        margin-top: 5px; }
        .itemleft .item_star .stars .star_one img {
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px; }

.itemright {
  width: 700px;
  margin-left: 25px;
  float: left; }
  .itemright .item_info {
    width: 700px;
    height: 100px;
    overflow: hidden;
    margin-left: 0px;
    margin-bottom: 20px; }
    .itemright .item_info .info_ele {
      margin-top: 1px;
      margin-left: 20px;
      float: left; }
  .itemright .hot_title {
    width: 700px;
    display: block;
    float: left;
    position: relative; }
    .itemright .hot_title .title {
      margin-left: 20px;
      float: left; }
    .itemright .hot_title .link {
      margin-right: 10px;
      float: right;
      text-align: right;
      position: absolute;
      bottom: 12px;
      right: 5px; }
      .itemright .hot_title .link a {
        font-size: 13px;
        color: blue; }
  .itemright .hot_area {
    width: 700px;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: hidden; }

.item_mark, .item_unmark {
  width: 100px;
  height: 40px;
  display: block;
  margin-bottom: 7px; }

.item_mark {
  background-color: #8dbc6e; }
  .item_mark span {
    background: url(/images/ui/icon-check.png) no-repeat 0 50%;
    padding-left: 18px; }
  .item_mark:hover {
    background-color: #e76b75; }
    .item_mark:hover span {
      color: #ff99cc;
      background: url(/images/ui/icon-x.png) no-repeat 0 50%; }

.item_unmark {
  background-color: lightGrey; }
  .item_unmark span {
    padding-left: 18px;
    background: url(/images/ui/follow-gray.gif) no-repeat 0 50%;
    color: #999999; }
  .item_unmark:hover {
    background-color: #8aba56; }
    .item_unmark:hover span {
      background: url(/images/ui/follow-white.gif) no-repeat 0 50%;
      color: white; }
