.right_border {
  border-right: 1px solid #002DB3; 
  margin-left: 5px;
  margin-right: 5px; }

.left_padding {
  padding-left: 14px; }

.right_float {
  float: right; }

.left_close {
  padding-left: 0px;  
}

.myitemlist{
  margin-top: 16px;
}

.image {
  float: left;
  width: 200px;
}

.imageitem {
  float: left;
}

.imageboard {
  float:left;
  width: 800px;
}

.iteminfo {
  float: left;
  width: 200px;
}

.mycolor {
  background-color: #F8F8F8;
}

.mycolor:hover {
  background-color: #EBF3F7;  
}

span.maintitle {
  overflow: show;
  text-align: left;
  padding-top: 11px;
  float: left;
  height: 20px;
  font-family: STKaiti, KaiTi, sans-serif;
  font-size: large;
  color: #FF7D56; 
}

span.title {
  overflow: show;
  text-align: left;
  float: left;
  display: inline;
  height: 20px; }

span.detail {
  overflow: hidden;
  float: right;
  text-align: right; 
  white-space:nowrap;
  margin-right: 10px; }

span.eveinfo {
  overflow: hidden;
  float: right;
  white-space:nowrap;
  width: 120px; 
  position:relative;
  text-align: right; }

span.itemsg {
  overflow: hidden;
  float: right;
  white-space:nowrap;
  width: 80px; 
  position:relative;
  text-align: right; }


