%li.comment.posted{ :id => comment.id }
  .author_avatar
    = person_image_link(comment.author,:thumb_small)
  .comment_content
    .from
      = person_link(comment.author)
      %span.details
        =":" 
      %span.comment_body
        = comment.content

    = how_long_ago( comment )
