- content_for :head do
  = include_stylesheets :sepcial_pages_site_posts_index, :media => 'all'

.span-24.blog_title
  %h2.name
    =link_to '好享玩官方博客', site_blog_path
  %h3.des='爱玩乐，不爱加班，爱运动，也爱和瓷器们轰趴到天亮，我不是工作狂，我是玩客。'


.post_list
  - @site_posts.each do |post|
    = render 'post_block', :post => post    
  = will_paginate @site_posts, {:previous_label => '上一页',
                               :next_label => '下一页', :page_links => false}
