-content_for :head do
  = include_stylesheets :common_vertical_nav, :media => 'all'
%ul.nav
  %li=link_to '编辑个人信息', edit_profile_path, :class => ("current" if params[:action] == 'edit_profile') 
  %li=link_to '编辑个人兴趣', edit_interests_path,:class => ("current" if params[:action] == 'edit_interests')   
