.span-15.stream_element{:id => person.id}
  .right
    -if person.user_id == current_user.id
      =t('thats_you')
    -elsif contact && contact.receiving
      .button.remove_friend
        = link_to t( 'remove_friend' ),{:controller => 'contacts', :action => 'destroy',:person_id => person.id},:method =>'delete'
    -else
      .button.add_friend{:style=>"width:100px"}
        =link_to t('start_sharing'),{:controller => 'contacts', :action => 'create',:person_id => person.id},:method =>'post'

  = person_image_link(person)

  .content
    %span.from
      =person_link(person)
    

  
      
