.stream_element{:id => person.id}
  .right
    -if person.user_id == current_user.id
      =t('thats_you')
    -elsif contact && !contact.pending
      .button.remove_friend
        = link_to t( 'remove_friend' ),{:controller => 'contacts', :action => 'remove_friend',:person_id => person.id}
    -elsif (contact && contact.pending)
      =t('pending_request')
    -elsif request && request.sender == person
      .button.incoming_request
        =link_to t('incoming_request'),{:controller => 'contacts',:action => 'new',:person_id => person.id}
    -else
      .button.add_friend{:id => person.id}
        =t('start_sharing')

  = person_image_link(person)

  .content
    %span.from
      =person_link(person)
    

  
      
