#home_user
  = person_image_link(@person)
  %h3.push-2
    =@person.name
    .description
      -if current_user.person.id == @person.id && ( @requests_count == 0 || !@requests_count)
        = "Welcome back!"
      -elsif current_user.person.id == @person.id  && @requests_count != 0 
        = link_to "#{@requests_count}个好友请求",{:controller => 'people', :action => 'friends_request'},:class => 'new friends_request'

