.span-24.last
  %h2#search_title
    -if @type == 'followed'
      ="你关注的人(#{@people.size}个)"
    -else
      ="关注你的人(#{@people.size}个)"

.span-15.append-2
  .friends_set
    %ul{ :class => 'friends'}
      -for person in @people
        %li{ :class => 'result' }
          = person_image_link(person)
          %span.friend
            =person_link(person)

