.span-24.last
  %h2#search_title
    ="#{@people.size}个好友请求"
.span-15.append-1
  #people_stream.stream
    -for people in @people
      .stream_element{:id => people[:person].id}
        .right
          .button.incoming_request
            =link_to t('incoming_request'),{:controller => 'contacts',:action => 'new',:person_id => people[:person].id}
        = person_image_link(people[:person])
        .content
          %span.from
            =person_link(people[:person])
          .description
            =people[:request].message

