ul.nav {
  float: left; }
  ul.nav li {
    float: left; }
    ul.nav li a {
      float: left;
      text-align: center;
      width: 150px;
      height: 40px;
      background-color: #dddddd;
      font-size: 20px;
      line-height: 40px;
      color: #666666;
      margin-right: 10px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-radius: 5px 5px 0 0;
      behavior: url(/javascripts/PIE.htc); }
    ul.nav li a.current {
      background-color: white; }

.content_area {
  padding: 30px;
  background-color: white;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  behavior: url(/javascripts/PIE.htc); }
  .content_area h1 {
    margin-bottom: 30px;
    float: left; }
  .content_area h3 {
    margin-bottom: 30px;
    margin-top: 12px;
    padding-left: 5px;
    float: left; }
  .content_area .share_button {
    padding: 8px;
    display: block;
    height: 32px;
    margin: 10px 15px 15px 15px;
    border: 1px solid white;
    float: left; }
    .content_area .share_button .avatar {
      float: left; }
    .content_area .share_button:hover {
      border: 1px solid #d5ddde; }
    .content_area .share_button span {
      margin-left: 5px;
      line-height: 35px;
      font-size: 15px;
      color: #666666;
      float: left; }
  .content_area a.refresh {
    margin-right: 50px;
    height: 41px;
    float: right;
    font-size: 15px;
    line-height: 41px; }

.invitation_panel {
  padding: 10px;
  margin-bottom: 20px;
  background-color: white; }
  .invitation_panel #email_invitation_panel {
    float: left; }
  .invitation_panel #user_submit {
    margin-top: 10px; }
  .invitation_panel .email label.error {
    margin-left: 10px;
    font-size: 14px;
    color: red; }
  .invitation_panel .email label.in_field {
    position: absolute;
    top: 7px;
    left: 5px;
    font-size: 15px; }
  .invitation_panel .email input {
    width: 350px;
    height: 30px; }
  .invitation_panel .message textarea {
    width: 350px;
    height: 70px; }
  .invitation_panel h4 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px; }
  .invitation_panel .link {
    font-size: 15px; }
  .invitation_panel #already_invited_pane {
    font-size: 14px;
    float: left;
    margin-left: 50px; }
    .invitation_panel #already_invited_pane .has_invitation .email {
      display: inline-block;
      width: 200px; }
    .invitation_panel #already_invited_pane .has_invitation .resend {
      display: inline-block; }

#city_select_box {
  position: absolute;
  border: 3px solid #d5ddde;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/javascripts/PIE.htc);
  padding: 10px;
  background-color: white; }

#switch_city {
  text-decoration: none;
  border: 3px solid #e9eef1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/javascripts/PIE.htc);
  padding: 3px; }
  #switch_city:hover {
    border: 3px solid #d5ddde;
    color: #666666; }
