#home_user
  :position relative
  h3
    :position absolute
    :top 4px
    :left 0px
  :border
    :bottom 1px solid #ccc


#friend_listings
  :position relative
  :border
    :bottom 1px solid #ccc
  .contacts
    :margin
      :top 6px

.new.friends_request
  :background url("/images/layout/content_icons.png") no-repeat scroll 0 0px transparent
  :background-position 0 -1720px
  :padding-left 14px

.feed_container
  .stream
    .stream_element
      .avatar

.comments
  .comment
    :margin-bottom 10px
  :background-color whiteSmoke
  :margin-bottom 10px
  :padding 10px
  :border-left 3px solid #E2E2E2
  :font-size 12px
  :margin-left 80px
  .comment_content
    :margin-left 36px
  .timeago
    color: #999
    text-decoration: none
    border: none
  .avatar
    :float left
    :padding 0
  img
    :height 30px
    :width 30px
.content_info
  .action
    :padding-left 5px
    :font-size 12px
    :border-left 1px solid #E5E5E5
.comment_form
  :margin-left 80px
  :margin-bottom 10px
  textarea
    :width 500px
    :height 70px
.status_message_panel
  textarea
    :width 400px
    :height 20px
#person_panel
  textarea
    :width 450px
  :padding-right 10px
  .comment_form
    textarea
      :width 350px

  

