.left_bar
.right_bar
  :border
    :right 1px solid #EBEBEB

.right_side
  background-color: #F5F5F5
  :padding 10px
.left_side
  background-color: #F5F5F5
  :padding 10px

#home_user
  :position relative
  h3
    :position absolute
    :top 4px
    :left 0px
  :border
    :bottom 1px solid #ccc


#friend_listings
  :position relative
  :border
    :bottom 1px solid #ccc
  .contacts
    :margin
      :top 6px

.new.friends_request
  :background url("/images/layout/content_icons.png") no-repeat scroll 0 0px transparent
  :background-position 0 -1720px
  :padding-left 14px

.feed_container
  .stream
    .stream_element
      .avatar

.comments
  :border-top 1px solid #EBEBEB
  :font-size 13px
  .comment_body
    :word-wrap break-word
    :line-height 1.4
  .details
    :color #AAA
  .comment
    :padding 8px
    :border-bottom 1px dotted #CCCCCC 
  :margin-bottom 10px
  .comment_content
    :margin-left 36px
  .timeago
    color: #999
    text-decoration: none
    border: none
  .avatar
    :float left
    :padding 0
  img
    :height 32px
    :width 32px
.content_info
  .action
    :padding-left 5px

#hot_events_list
  h4
    :padding-top 10px
    :margin-bottom 10px
    :border-bottom 1px solid #ccc
  :padding-top 10px
  .event
    :padding
      :top 5px
      :bottom 2px
    .avatar
      :float left
      :width 30px
      :height 30px
    .content
      :height 30px

#person_panel
  h2
    :display inline
  .action
    :font-size 11px
    :display inline
  textarea
    :width 400px
  :padding-right 10px
  .comment_form
    textarea
      :width 350px

dt
  color: #8A8A8A
  display: inline-block
  width: 70px
dd
  display: inline-block
  width: 70px
.information
  h4
    :padding-top 10px
    :margin-bottom 10px
    :border-bottom 1px solid #ccc

.pagination
  :padding-top  10px
  :text-align center


#profile_edit
  .person_photo
    :width 200px
  .person_info
    :width 500px
    .info_panel
      .button
        :margin
          :left 150px
          :top 10px
      label
        :display inline-block
        :width 100px
        :text-align right
        :padding 10px
  h4
    :border-bottom 1px solid #ccc

.calendar_panel
  :padding
    :top 20px
  :height 50px
  :width 50px
  :float left
.calendar
  :background url("/images/ui/calendar_small.png") no-repeat 
  :width 50px
  :height 50px
  :text-align center
  .day
    :font-weight normal
    :font-size 18px
.event_element
  &:hover
    :background none repeat scroll 0 0 #EEEEEE
    :cursor pointer
  :height 250px
  :position relative
  :border-top 1px solid #EBEBEB
  .event_content
    :width 380px
    :padding 20px 20px
    :float left
    .event
      .time
        :display inline
      .address
        :display inline
      :margin-top 20px
      :height 110px
    .event_info
      :display block
      :font-size 13px
      .author
        :font-weight normal
        :display inline
      .timeago
        :display inline
        :border-bottom none
        :color #999
        :text-decoration none
    .event_avatar
      :float left
      img
        :width 100px
        :height 100px
    .attendee
      :display block
      img
        :width 30px
        :height 30px
    .event_details
      :float left
      :height 110px
      :margin-left 20px

.right_bar
  :height 700px
  :overflow hidden
  :position relative
  .event_side_panel
    :z-index 2
    :background none repeat scroll 0 0 #EEEEEE
    :width 400px
    :height 500px
    :overflow-y scroll
    :position fixed
    :top 100px
    :left 310px

.event_side_content
  .button
    :display block
  :padding 10px
  .description
  .event
    .time
      :display inline
    .address
      :display inline
    :margin-top 20px
    :height 220px
  .event_avatar
    :float left
  .event_details
    :float left
    :height 220px
    :margin-left 20px
