- content_for :head do
  = include_stylesheets :sepcial_pages_friends_common, :media => 'all'

.span-24
  = render 'nav'
  .span-22.content_area
    %h1='寻找志趣相投的玩伴'
    - current_user.person.interests.each do |item|
      
  
