-content_for :head do
  = include_stylesheets :special_pages_topic_recent, :media => 'all'

- if topics.size > 0
  %table.topics
    %tr
      %th.title='话题'
      %th.author='作者'
      %th.reply='回复数'
    -topics.each do |t|
      %tr
        %td.title= link_to trim_info(t.title, 30), t.url 
        %td.author= link_to t.person.name, person_path(t.person.id)
        %td.reply=t.comments.size
 
