.reg_box {
  background: #dcddde;
  width: 315px;
  height: 290px;
  margin-top: 5px;
  margin-left: 25px;
  float: left; }
  .reg_box .reg_info {
    width: 280px;
    height: 80px;
    color: #002db3;
    white-space: normal;
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
    font-size: medium;
    display: block;
    overflow: hidden; }
  .reg_box a.reg_main_button {
    background: url("/images/ui/main_reg_button.png") no-repeat scroll 0 0 transparent;
    width: 280px;
    height: 70px;
    margin-left: 5px;
    margin-top: 2px;
    float: left;
    text-indent: -9999em;
    display: block; }
    .reg_box a.reg_main_button:hover {
      background: url("/images/ui/main_reg_button.png") no-repeat scroll left bottom transparent; }
