@import '../../general/ui/mixins'
table.topics
  :margin-top 5px
  :margin-bottom 30px

  td
    :border-bottom 1px dotted #E5E5E5
    :padding 10px 0 


  th
    :color #ffffff
    :background-color #4EBAFF
    :padding 5px  
    
  
  tr.even
    :background-color #f7f8f3

  td.topic_summary
    :padding 0 20px 20px 0 
    :font-size 12px
    :color black
    :border-top none 
    
    p.post_time
      :color #777777 
      
      a
        :margin-left 10px

.title
  :width 590px
  .author_avatar
    float: left
    .avatar
      :margin-right 10px
      :width 30px
      :height 30px
      @include border-radius(4px)
  .title_url
    :height 17px
    :width 550px 
    :float left
    :display block
    a
      font: bold 14px arial,sans-serif
  .author_name
    :float left
    a
      :color #977466 


.reply
  :text-align center 
  :width 100px

.latest
  :width 184px
  :text-align center


