table.topics
  :margin-top 5px
  :margin-bottom 30px
  a
    &:hover
      :text-decoration none
      :background-color #ff6600
      :color white

  td
    :border-top 1px dashed #E5E5E5
    :padding 0
    :font-size 12px

  td.latest
    :color #888888

  th
    :border-top 1px solid #e5e5e5 
    :color black
    :font-size 13px
    :padding 0

  td.topic_summary
    :padding 0 20px 20px 0 
    :font-size 12px
    :color black
    :border-top none 
    
    p.post_time
      :color #777777 
      
      a
        :margin-left 10px

.title
  :width 470px

.latest
  :width 150px
  :text-align right

.author
  :width 145px

.reply
  :width 60px


