table.topics
  :margin-bottom 30px
  a
    &:hover
      :text-decoration none
      :background-color #ff6600
      :color white

  td
    :border-top 1px dashed #E5E5E5
    :padding 0
  th
    :color black
    :font-size 13px

  td.topic_summary
    :padding 0 20px 20px 0 
    :font-size 12px
    :color black
    :border-top none 
    
    p.post_time
      :color #777777 
      
      a
        :margin-left 10px

.title
  :width 625px

.author
  :width 100px

.reply
  :width 100px
  :text-align right


