@import '../../general/ui/mixins'
table.topics
  th
    :font-size 12px
    :color #ffffff 
    :background-color #4EBAFF
    :padding 5px 5px
    

  td
    :border-top 1px dotted #e5e5e5 
    :padding 10px 10px
  
  tr.even
    :background-color #F7F8F3


.title
  :width 450px
  .avatar
    :width 30px
    float: left
    :margin-right 10px
    img
      :width 30px
      :height 30px
      @include border-radius(4px)
  .title_url
    :height 17px
    :width 400px 
    :float left
    :display block
    font: bold 14px arial,sans-serif
  .author_name
    :float left
    a
      :color #977466 
    

.author

.reply
  :text-align right
