
@import 'mixins'

$blue: #3F8FBA
$red: #FF0000
$background: rgb(252,252,252)

body
  :padding 2em
  :margin 0
    :top 60px
  :background-color $background
a
  :color #107FC9
  :color $blue
  :text
    :decoration none
  &:hover
    :color $blue
p
  :word-wrap break-word

h1, h2, h3, h4, h5
  :color #333
  :position relative
  :font
    :weight bold

h4
  :margin
    :bottom 5px

ol, ul, li
  :list-style none

form
  :position relative
  input,
  textarea,
  label
    :font
      :size auto

#content
  :background
    :color #fff
  :border 1px solid #ccc
  :height 100%
  
.container.body
  :margin
    :top 40px

#global_search
  :display inline
  :position relative

  form
    :display inline

    input
      @include box-shadow(0,1px,0px,#444)

      :display inline
      :background-color #ccc
      :border
        :top 1px solid #111

      :font
        :size 12px

      :border 1px solid #000

      &:hover
        :background-color #eee

      &.active
        :background-color #fafafa


    input[type='search']
      :width 250px
      :padding 3px
  form
    :display relative 

.floating
  @include box-shadow(0,1px,3px,#333)

  :position relative
  :padding 12px
  :margin
    :bottom 2em
  :background
    :color rgb(255,255,255)

  :border
    :bottom 1px solid #ccc
    :top 1px solid #fff

  .submit_block
    :position absolute
    :bottom 13px
    :right 12px

  form
    :display relative


input:not([type='submit']):not([type='reset']),
textarea
  @include border-radius(3px)

  :font
    :family 'Arial', 'Helvetica', sans-serif
    :size 14px
  :padding 0.3em
  :display block
  :width 100%
  :border 1px solid #ccc
  :height auto

#profile_photo_upload
  :margin
    :top 5px
  :min-height 100px
  img
    @include border-radius(5px)
    @include box-shadow(0,1px,2px,#666)

    :position absolute
    :left 0
    :height 100px
    :width 100px

  :padding
    :left 120px

header
  @include box-shadow(0,1px,3px,#222)
  @include linear-gradient(rgba(15,15,15,0.85),rgba(10,10,10,1))

  :z-index 50
  :padding 0
    :top 2px
    :bottom 20px
  :color #CCC

  :position fixed
  :width 100%
  :top 0
  :left 0

#home_user
  :position relative

  img
    :position absolute
    :left 0

  h3
    :position relative
    :top 4px

  :margin
    :bottom 1em

  :border
    :bottom 1px solid #ccc

  :padding
    :left 60px

h1,h2,h3,h4
  .description
    :font
      :size 80%
      :weight 200
    :color #aaa
    :margin
      :top 0.5em 

.section
  :margin
    :bottom 24px

#friend_listings
  .contacts
    :margin
      :top 6px
  ul
    :padding 0
    :margin 0
    > li
      :position relative
      :padding 8px 0
      :border
        :bottom 1px solid #ddd

#friend_listings li
  img
    :margin
      :right 2px
      :bottom 0px
    :width 29px
    :height 29px

  h5
    :margin
      :bottom 6px

.stream_element
  :position relative
  :word-wrap break-word
  :color #888

  :font
    :size 14px

  a.author
    :font
      :weight bold
    :color #444

  .content
    :margin
      :top 0
    :padding
      :left 60px

    :color #666
    :font
      :weight normal

    p
      :margin
        :bottom 0px
      :font
        :size 13px
      :line
        :height 18px

    .photo_attachments
      :margin
        :top 7px

    img
      :margin
        :right 0
      :max-width 100%

    .stream_photo
      :float left
      :margin
        :top 6px

    .photo_description
      :margin
        :top 6px
      :padding
        :left 220px
      :min-height 185px
      :color #888
      :font
        :style italic

    .small_text
      :font
        :size smaller

    .info
      :margin
        :top 2px
      :color #999
      :font-size 11px

    .comments
      .info
        :margin
          :top -1px

  .delete
    @include opacity(0.6)
    :padding 5px

    &:hover
      @include opacity(1)

  .right
    :position absolute
    :right 12px

  .controls
    :display none
    :z-index 6
    :color #999
    a
      :color #999
      :font
        :weight normal

  &:hover, .comment:hover
    > .controls
      :display inline

    .from
      a
        :color $blue
.stream
  .avatar
    :float left
  .stream_element
    :padding 20px 20px
    :min-height 50px
    :border
      :bottom 1px solid #ddd
      :top 1px solid #fff

