@import '../../general/ui/mixins'

.status_message_panel
  :margin 10px 20px
  :position relative
  #file-upload
    &:hover
    :overflow hidden
    position: absolute !important
    padding: 
      :left 8px
      :right 8px
      :top  10px
      :bottom 8px
    bottom: 3px
    left: 475px
    z-index: 10
    margin: 0
    display: inline-block
    cursor: pointer
    img
      filter: alpha(opacity=40)
      -moz-opacity: 0.4
      -khtml-opacity: 0.4
      opacity: 0.4
      display: inline-block
      margin-top: 0px
      padding: 0
    input
      left: -10px
      height: 100%
      width: 100%
      cursor: pointer
  textarea
    :overflow-y hidden
    :height 23px
    :width 475px
    :padding-right 30px
  .button
    :display none
    :z-index 1

.feed_tabs
  h2
    border-bottom: 1px solid #D9D9D9
  position: relative
  ul
    position: absolute
    right: 10px
    bottom: 0px
  li
    float: left
    padding: 7px
    cursor: pointer
  a
    text-decoration: none 
  li.active
    color: #333333
    font-size: 12px
    background: none repeat scroll 0 0 #FFFFFF
    border-color: #D9D9D9 #D9D9D9 
    border-style: solid solid none
    border-width: 1px 1px medium
    @include border-radius-feed( 4px )


.status_message_pic
  .content
    :height 70px
    :width 600px
    
    
