.status_message_panel
  textarea
    :height 70px
  .button
    :margin-left 20px
.feed_tabs
  h2
    border-bottom: 1px solid #D9D9D9
  position: relative
  z-index: 45
  ul
    position: absolute
    right: 7px
    top: 36px
  li
    float: left
    padding: 7px
    cursor: pointer
    a
      text-decoration: none 
  li.active
    color: #333333
    font-size: 12px
    -moz-border-bottom-colors: none
    -moz-border-image: none
    -moz-border-left-colors: none
    -moz-border-right-colors: none
    -moz-border-top-colors: none
    background: none repeat scroll 0 0 #FFFFFF
    border-color: #D9D9D9 #D9D9D9 -moz-use-text-color
    border-style: solid solid none
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    border-width: 1px 1px medium
    
    
