.post_block {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  behavior: url(/javascripts/PIE.htc);
  -webkit-box-shadow: 0 1px 5px 0 #aaaaaa;
  -moz-box-shadow: 0 1px 5px 0 #aaaaaa;
  box-shadow: 0 1px 5px 0 #aaaaaa;
  behavior: url(/javascripts/PIE.htc);
  margin-bottom: 90px;
  padding: 25px 90px 22px;
  background-color: #f8f8f8; }
  .post_block .author_avatar {
    margin-right: -60px; }
    .post_block .author_avatar .p_avatar {
      float: right; }
      .post_block .author_avatar .p_avatar .avatar {
        width: 35px;
        height: 35px; }
  .post_block .date {
    background: url("/images/ui/sprite.png") no-repeat scroll left bottom transparent;
    float: left;
    margin-left: -120px;
    padding-bottom: 14px;
    width: 100px; }
    .post_block .date p {
      background: none repeat scroll 0 0 #eb374b;
      color: white;
      font-size: 12px;
      line-height: 12px;
      padding: 5px 10px;
      text-align: right;
      margin: 0; }
      .post_block .date p span.day {
        clear: both;
        display: block;
        font-size: 20px;
        line-height: 20px;
        margin: 0; }
  .post_block .content {
    border-bottom: 1px dotted #a9a9a9;
    margin-bottom: 10px;
    width: 100%; }
    .post_block .content h2 {
      color: black;
      font-size: 25px; }
    .post_block .content p {
      font-size: 14px;
      margin-bottom: 10px; }
  .post_block .info a {
    color: #eb374b;
    font-size: 13px;
    margin-right: 10px; }
    .post_block .info a:hover {
      color: #05b2c2; }

a.previous_post, a.next_post {
  display: block;
  color: #eb374b;
  font-size: 16px; }
  a.previous_post:hover, a.next_post:hover {
    color: #05b2c2; }

a.previous_post {
  float: left; }

a.next_post {
  float: right; }
