body {
  padding: 2em;
  background-color: #fcfcfc; }

p {
  word-wrap: break-word; }

a.nounderline {
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  color: #333333;
  position: relative;
  font-weight: bold; }

h4 {
  margin-bottom: 5px; }

ol, ul, li {
  list-style: none; }

form {
  position: relative; }
  form input[type=checkbox] {
    margin-top: 0.5em; }
  form br.clear {
    clear: left; }
  form textarea {
    font-size: 12px; }
  form label {
    float: left;
    margin-top: 0.5em;
    width: 6em; }
  form .actions {
    margin-top: 0.5em; }

#content {
  background-color: white;
  border: 1px solid #cccccc;
  height: 100%; }

.container.body {
  margin-top: 45px; }

#global_search {
  display: inline;
  position: relative; }
  #global_search form {
    display: inline; }
    #global_search form input {
      -webkit-box-shadow: 0 1px 0px #444444;
      -moz-box-shadow: 0 1px 0px #444444;
      box-shadow: 0 1px 0px #444444;
      display: inline;
      background-color: #cccccc;
      border-top: 1px solid #111111;
      font-size: 12px;
      border: 1px solid black; }
      #global_search form input:hover {
        background-color: #eeeeee; }
      #global_search form input.active {
        background-color: #fafafa; }
    #global_search form input[type='search'] {
      width: 250px;
      padding: 3px; }
  #global_search form {
    display: relative; }

.floating {
  -webkit-box-shadow: 0 1px 3px #333333;
  -moz-box-shadow: 0 1px 3px #333333;
  box-shadow: 0 1px 3px #333333;
  position: relative;
  padding: 12px;
  margin-bottom: 2em;
  background-color: white;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid white; }
  .floating .submit_block {
    position: absolute;
    bottom: 13px;
    right: 12px; }
  .floating form {
    display: relative; }

input:not([type='submit']):not([type='reset']),
textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  padding: 0.3em;
  display: block;
  width: 100%;
  border: 1px solid #cccccc;
  height: auto; }

#profile_photo_upload {
  margin-top: 5px;
  min-height: 100px;
  padding-left: 120px; }
  #profile_photo_upload img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px #666666;
    -moz-box-shadow: 0 1px 2px #666666;
    box-shadow: 0 1px 2px #666666;
    position: absolute;
    left: 0;
    height: 100px;
    width: 100px; }

header {
  -webkit-box-shadow: 0 1px 3px #222222;
  -moz-box-shadow: 0 1px 3px #222222;
  box-shadow: 0 1px 3px #222222;
  background: rgba(12, 12, 12, 0.925);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=rgba(15, 15, 15, 0.85), endColorstr=#0a0a0a)";
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(15, 15, 15, 0.85)), to(#0a0a0a));
  background: -moz-linear-gradient(top, rgba(15, 15, 15, 0.85) 0%, #0a0a0a 100%);
  z-index: 50;
  padding: 0;
    padding-top: 2px;
    padding-bottom: 20px;
  color: #cccccc;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

#home_user {
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid #cccccc;
  padding-left: 60px; }
  #home_user img {
    position: absolute;
    left: 0; }
  #home_user h3 {
    position: relative;
    top: 4px; }

h1 .description, h2 .description, h3 .description, h4 .description {
  font-size: 80%;
  font-weight: 200;
  color: #aaaaaa;
  margin-top: 0.5em; }

.section {
  margin-bottom: 24px; }

#friend_listings .contacts {
  margin-top: 6px; }
#friend_listings ul {
  padding: 0;
  margin: 0; }
  #friend_listings ul > li {
    position: relative;
    padding: 8px 0;
    border-bottom: 1px solid #dddddd; }

#friend_listings li img {
  margin-right: 2px;
  margin-bottom: 0px;
  width: 29px;
  height: 29px; }
#friend_listings li h5 {
  margin-bottom: 6px; }

.stream_element {
  position: relative;
  word-wrap: break-word;
  color: #888888;
  font-size: 14px; }
  .stream_element a.author {
    font-weight: bold;
    color: #444444; }
  .stream_element .content {
    margin-top: 0;
    padding-left: 60px;
    color: #666666;
    font-weight: normal; }
    .stream_element .content p {
      margin-bottom: 0px;
      font-size: 13px;
      line-height: 18px; }
    .stream_element .content .photo_attachments {
      margin-top: 7px; }
    .stream_element .content img {
      margin-right: 0;
      max-width: 100%; }
    .stream_element .content .stream_photo {
      float: left;
      margin-top: 6px; }
    .stream_element .content .photo_description {
      margin-top: 6px;
      padding-left: 220px;
      min-height: 185px;
      color: #888888;
      font-style: italic; }
    .stream_element .content .small_text {
      font-size: smaller; }
    .stream_element .content .info {
      margin-top: 2px;
      color: #999999;
      font-size: 11px; }
    .stream_element .content .comments .info {
      margin-top: -1px; }
  .stream_element .delete {
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    padding: 5px; }
    .stream_element .delete:hover {
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1; }
  .stream_element .right {
    position: absolute;
    right: 12px; }
  .stream_element .controls {
    display: none;
    z-index: 6;
    color: #999999; }
    .stream_element .controls a {
      color: #999999;
      font-weight: normal; }
  .stream_element:hover > .controls, .stream_element .comment:hover > .controls {
    display: inline; }
  .stream_element:hover .from a, .stream_element .comment:hover .from a {
    color: #3f8fba; }

.stream .avatar {
  float: left; }
.stream .stream_element {
  padding: 20px 20px;
  min-height: 50px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid white; }

.list p {
  margin-bottom: 0; }

#error_explanation ul li {
  list-style: disc outside none;
  color: red; }
