.right_border {
  border-right: 1px solid #dddddd; }

.left_padding {
  padding-left: 5px; }

.button1, .button1 a {
  background: url("/images/layout/button.png") repeat-x scroll 0 0 transparent;
  margin: 0;
  display: block;
  cursor: pointer; }

.button1.remove_friend {
  background-position: -72px -276px;
  width: 71px;
  height: 20px; }

.button1.add_friend {
  background-position: -18px -276px;
  width: 71px;
  height: 20px; }

.button1.incoming_request {
  background-position: -54px -144px;
  width: 84px;
  height: 24px; }

.button1 a {
  margin: 0 0 0 18px;
  background-position: 100% -216px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666666;
  text-decoration: none; }

.button1.incoming_request a {
  height: 24px;
  background-position: 100% -72px;
  margin: 0 0 0 27px;
  line-height: 22px;
  text-indent: 5px;
  font-size: 12px;
  color: #666666;
  text-decoration: none; }

.button1.add_friend:hover {
  background-position: -18px -296px; }

.button1.remove_friend:hover {
  background-position: -72px -296px; }

.button1.incoming_request:hover {
  background-position: -54px -168px; }

.button1.incoming_request:hover a {
  background-position: 100% -96px; }

.button1:hover a {
  background-position: 100% -236px; }
