.stream
  .stream_element
    = notification_image_link(note,:thumb_small) 
    .content
      .from
        = notification_message_for(note)
      .time.timeago
        = notification_time_ago( note )
  
:javascript
  $("abbr.timeago").timeago();
    $( ".replay" ).live( "click",function( ){  
    stream_element = $( this ).closest(".stream_element");
    commentBlock = stream_element.find(".comment_form");
    comments = stream_element.find(".comments");
    if(commentBlock.hasClass("hidden")) {
      if( $( ".comment",comments ).length != 0 ){
        comments.removeClass("hidden");
      }
      commentBlock.removeClass("hidden");
      commentBlock.find("textarea").focus();
    } else {
        if( $( ".comment",comments ).length > 3 || $( ".comment",comments ).length == 0 ){
          comments.addClass( "hidden" );
        }
        commentBlock.addClass("hidden");
      }  
    return false;
    });
