.stream
  .stream_element
    = notification_image_link(note,:thumb_small) 
    .content
      .from
        = notification_message_for(note)
      .time.timeago
        = notification_time_ago( note )


:javascript
  $("abbr.timeago").timeago();
    
