%a{:href => group_path(group)}
  %strong.type='小组'
  %span.title
    %strong=group.name
    %span.time_and_location
      %p.time="创建时间:" +  l(group.created_at, :format => :long)
      %p.location="活动地点:" + group.city.name + group.district.name 
  %span.info
    .owner
      =group_image_tag(group, :thumb_small)
    %span.first
      %strong=group.members.size
      %em='参加'
    %span
      %strong=group.topics.size
      %em='话题'
