- content_for :head do
  = include_stylesheets :sepcial_pages_groups_form, :media => 'all'
  = include_stylesheets :sepcial_pages_groups_edit, :media => 'all'
.span-24
  - if params[:action] == 'edit' 
    = render 'form', :is_edit => true, :new => @new 
  - else
    .span-24.edit_group_members
      = render :partial => 'edit_group_members', :locals => {:invitees => @invitees,
                                                             :friends => @friends,
                                                             :members => @members,
                                                             :applicants => @applicants,
                                                             :friend_members => @friend_members}

