- content_for :head do
  = include_stylesheets :sepcial_pages_groups_events, :media => 'all'
.span-24
  .span-19
    = render 'common/header_box', :title => '"' + @group.name + '"的活动'
  .span-5.last
    %h4.inline= link_to '<返回小组首页', group_path(@group), :class => 'right'

.span-24.prepend-top.events_panel
  - if @events.size > 0
    =render :partial => 'events/event_element',:collection => @events,:as => :event
.span-24
  = will_paginate @events, {:previous_label => t("pagination.previous"), 
                            :next_label => t("pagination.next")}
    
    
