-content_for :head do
  = include_stylesheets :sepcial_pages_groups_common, :media => 'all'
.span-18.title_bar
  .span-17.group_logo
    .avatar
      =group_image_link(@group, :thumb_medium)
    %h2=link_to @group.name, group_path(@group)
.span-24.prepend-top
  = render 'common/header_box', :title => '发表新话题'
  = render 'topics/form', :url => group_topics_path(@group), :person => current_user.person
