-content_for :head do
  = include_stylesheets :sepcial_pages_groups_common, :media => 'all'
.span-24
  .span-18
    = render 'common/header_box', :title => '"' + @group.name + '"的成员:'
    %hr.space
    - if @members.size > 0
      = render :partial => 'people/people_array', :locals => { :participants => @members, 
                                                              :perline => 9,
                                                              :edit => false }
  .span-5.prepend-1.prepend-top.last
    %h4= link_to '<返回小组主页', group_path(@group)

