.span-24
  = render "group_nav_bar", :group => @group, :current => 'show'
  = render "group_home", :group => @group, 
                         :current_person => @current_person, :members => @members


 
