@import '../../general/ui/mixins'
#event_location_attributes_detail
  :width 250px
  :vertical-align top 
  :padding 2px 0.3em

.left_margin
  :margin-left 10px

#file-upload
  :width 100px
  :overflow hidden

.event_form
  a.app_black_link_button
    :float left
    :margin 15px 0
    :font-size 13px
  
  .form_area
    :padding 30px 10px 20px 30px
    :background-color #ffffff
    @include border-radius(8px)
    border: 1px solid #d5ddde

      
    .top
      :display inline
      :margin 0
    
    //fix ie bug(attribute selector useless)
    input#event_title, input#event_location
      :width 400px 
      :padding-right 0
      border: 1px solid #D5DDDF
      :font-size 13px
      color: #576B72

    input#event_title
      :height 30px
      :line-height 30px

    input:not([type='submit']):not([type='reset']):not([type='checkbox'])
      :width 400px 
      :vertical-align top 
      :padding-right 0
      :font-size 13px
      color: #576B72

    select
      :font-size 13px
      border: 1px solid #D5DDDF

    #event_participants_limit
      :width 50px

    textarea
      :width 400px 
      :padding 5px 
      :vertical-align top 
      :margin 0
      :font-size 13px
      :height 200px

    .field.module
      :margin-top 20px

    .field
      :margin-bottom 5px

      label.info
        :display inline-block
        :width 70px
        :color #424f55
        :font-size 13px


      label.error
        :display block
        :color #F74367
        :margin-left 72px

    input[type='checkbox']
      :vertical-align text-bottom 
      :margin 0
    
    .subject
      .field_with_errors
        :width auto

    .field_with_errors
      :display inline 

      input#event_title, input#event_location
        :width 400px 


      input:not([type='submit']):not([type='reset']):not([type='checkbox'])
        :width 400px 


      textarea
        :width 400px 

    .validation-error
      :display block
      :margin-left 62px
      :color red


#event_photo_upload
  :height 250px
  .img_contained
    :width 180px

    img
      @include border-radius(8px)
      :width 200px
      :height 200px
      :border 1px solid #d5ddde

.actions
  :padding-left 40px
  input
    background: url("/images/ui/person_edit.png") no-repeat scroll 0 0 transparent
    border: medium none
    cursor: pointer
    display: inline
    float: right
    font-size: 16px
    color: #ffffff
    height: 46px
    margin: 13px 4px 0 0
    overflow: hidden
    width: 198px

    &:hover
      background: url("/images/ui/person_edit.png") no-repeat scroll 100% -46px transparent
      margin: 15px 4px 0 0
      
#colorbox
  .box_content
    :padding 20px 20px 0 20px 
    :margin-top 10px

    h3
      :color #e76b75

    h4
      :margin 15px 0 3px 0

    form
      textarea
        :width 450px
        :height 150px

      label.error
        :display block
        :color #F74367

      .submit
        :margin-top 10px
        :height 30px
        input
          :width 60px
          :height 30px
    
