.event_form
  .top
    :display inline
    :vertical-align top

  input:not([type='submit']):not([type='reset']):not([type='checkbox'])
    :width 60%
    :vertical-align top 

  textarea
    :width 60%  
    :vertical-align top 

  #event_submit
    :margin-left 5px

  .field
    label
      :display inline-block
      :width 60px

  input[type='checkbox']
    :vertical-align text-top
