= content_for :head do
  = include_stylesheets :sepcial_pages_users_selectinterests, :media => 'all'
  :css
    .header{ display:none; } 
.span-24.select_interests
  %h2='你的个人信息'
  .profile_block
    .person_info
      = form_tag @profile,:method => :put,:multipart =>true,:id=>'update_profile_form' do
        .info_panel
          = render 'profiles/edit_public',:profile => @profile,:person =>@person, :location => @profile.location
        .clear
        .submit_block
          =submit_tag '',:class => 'next_button'

