= content_for :head do
  = include_stylesheets :sepcial_pages_users_selectinterests, :media => 'all'

.span-24.select_interests
  %h2='关注活跃用户'
  - stars = Person.order("twitter_posts_count DESC").limit(12)
  - if stars.size > 0
    = render 'common/header_box', :title => "活跃用户",:blue_angle => true
    = render 'people/show_contacts',:people => stars, :groups => nil, :items => nil
  .bg_bottom
    .results
      %br
    .submit_button
      =link_to 'next', home_path, :class => 'submit'
        
