h2.title {
  margin: 40px 0 10px 175px; }

.reset_area {
  -webkit-box-shadow: 0 1px 5px 0 #333333;
  -moz-box-shadow: 0 1px 5px 0 #333333;
  box-shadow: 0 1px 5px 0 #333333;
  behavior: url(/javascripts/PIE.htc);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(/javascripts/PIE.htc);
  background-color: white;
  width: 600px;
  padding: 0 15px;
  margin-left: 175px;
  float: left; }
  .reset_area .info_area {
    float: left;
    width: 219px;
    padding: 40px 15px 0; }
    .reset_area .info_area p {
      font-size: 13px;
      color: #666666; }
  .reset_area .form_area {
    float: left;
    padding: 15px 0;
    width: 350px;
    border-right: 1px dashed #d5ddde; }
    .reset_area .form_area form label {
      font-size: 15px; }
    .reset_area .form_area form .action {
      float: left;
      width: 320px;
      margin-top: 10px;
      height: 50px; }
    .reset_area .form_area form .field {
      float: left;
      margin-top: 10px;
      width: 300px;
      padding: 3px 5px;
      height: 30px;
      border: 1px solid #bbbbbb;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      behavior: url(/javascripts/PIE.htc); }
      .reset_area .form_area form .field input#user_email {
        width: 290px;
        height: 23px;
        border: none;
        font-size: 16px; }
