@import '../../general/ui/mixins'

form
  input,
  label
    :font
      :size 28px
    :text-shadow 0 1px 1px #ccc
    :margin 0 

  label.in_field
    :position absolute
    :top 3px
    :left 5px

  label.error
    :color red
    :font-size 12px
    :margin-top 1px

  span.validation-error
    :color red
    :font-size 14px

  input
    :display block

  input#email,
  input#password,
  input#password_confirmation
    :height 45px
    :font-size 30px
    :line-height 45px
    :border medium none
    :background none repeat scroll 0 0 transparent
    :color #324f65
    :margin 0 0
    :padding 0 0

  input#email
    :width 420px

  input#password,
  input#password_confirmation
    :width 200px

.reg_relative
  float: left
  position: relative
  display: block

  .reg_email, .reg_password
    background: white 
    height: 45px
    border: medium none
    position: relative
    padding: 2px
    margin-bottom: 18px
    @include border-radius(8px)
    border: 1px solid #10a3e1

  .reg_email
    width: 420px

  .reg_password
    width: 200px

  .signup_botton
    :width 200px  
    :height 110px
    :overflow hidden
    :background url("/images/ui/register.png") no-repeat scroll 0 0 transparent 
    :font-size 35px
    :cursor pointer
    :display inline
    :border medium none
    :font-weight bold
    :color white
    :text-align middle
    :position absolute
    :bottom 23px
    :right 0px

    &:hover
      :background url("/images/ui/register.png") no-repeat scroll left bottom transparent


.flack_area
  :width 300px
  :font-size 30px
  :color #FF5724
  :text-align right
  :float left

.reg_reason
  :margin-top 5px
  :float left
  :width 300px
  :display block
  :position relative

  .plus_row
    :width 300px
    :height 41px
    :margin-bottom 15px

  .plus_area
    :margin-top 1px
    :width 120px
    :height 41px
    :overflow hidden
    :position absolute
    :right 5px
    :text-align right

    
  .direct_login
    :margin-top 40px
    :text-align right
    :font-size 12px
    :color #9DA0B5 

.reg_area
  :width 500px
  :margin-top 10px
  :float left

