@import '../../general/ui/mixins'
h2.title
  :margin 40px 0 10px 175px

.reset_area
  @include box-shadow(0,1px,5px,0,#333)
  @include border-radius(8px)
  :background-color #ffffff
  :width 600px
  :padding 0 15px
  :margin-left 175px
  :float left
  #error_explanation
    h2
      :display none
    ul
      :font-size 20px
      :color red


  .info_area
    :float left
    :width 219px 
    :padding 40px 15px 0

    p
      :font-size 13px
      :color #666666

  .form_area
    :float left
    :padding 15px 0
    :width 350px
    :border-right 1px dashed #d5ddde 

    form
      label
        :font-size 15px
      .action
        :float left
        :width 320px
        :margin-top 10px 
        :height 50px

      .field
        :float left
        :margin-top 10px
        :width 300px
        :padding 3px 5px
        :height 30px
        :border 1px solid #bbbbbb
        @include border-radius(6px)

        input#user_email
          :width 290px
          :height 23px
          :border none
          :font-size 16px
