- content_for :head do
  =include_javascripts :show_photo

.feed_container


:javascript
  $.get("/home/show_post" ); 
  $( "li" ).click( function( ){
    $( ".active" ).removeClass( "active" ); 
    $(this).addClass( "active" );
    }
  );
  $("abbr.timeago").timeago();
  $( ".replay" ).live( "click",function( ){  
    stream_element = $( this ).closest(".stream_element");
    commentBlock = stream_element.find(".comment_form");
    commentBlock.removeClass( "hide" );    
    commentBlock.find("textarea").focus(); 
    return false;
    }); 

  $("a.toggle_post_comments").live('click', function(  ){
    var toggler = $(this),
        comments = toggler.closest('.stream_element').find('.comments');
    if (comments.hasClass('loaded') && !comments.hasClass('hide')){
      hideComments.apply(toggler);
    }else {
      showComments.apply(toggler);
    } 
    return false;

     });

  function showComments(  ){
    var commentList = this.closest('.stream_element').find('.comments'),
        toggle = this;

    if( commentList.hasClass('loaded') ){
        commentList.removeClass('hide');
        toggle.html("隐藏评论");
    }
    else {
      toggle.append("<img alt='loading' src='/images/ui/ajax-loader.gif' />");
      $.ajax({
        url: this.attr('url'),
        success: function(data){
          toggle.html("隐藏评论");
          commentList.html(data)
                     .addClass('loaded');
        }
      });
    }
  
  
     }

  function hideComments(  ){ 
    var commentList = this.closest('.stream_element').find('.comments');
    commentList.addClass('hide');
    this.html("显示所有评论");
  }
   

  
