#hot_events_list
  %h4
    = "热门活动"
  - for event in @hot_events
    .event
      .avatar
        = event_image_link( event,:thumb_small ) 
      .content
        %p
          =link_to event.title,event_path( event )
        .hots
          = "#{event.inv_counts}人参加"

