=content_for :head do
  =include_javascripts :scroll_page
  =include_javascripts :show_photo
  =include_javascripts :status_message
.span-19.last.content_panel
  .events_panel
    .current_events
      .title_panel
        .border_left_side
        .content_center
          = "推荐活动"
        .border_right_side
      .pointer
    
.span-5.last.right_bar
  = render 'people/person_list', :person => @person
:javascript
  $.get("/home/show_event");
  $("abbr.timeago").timeago();

