=content_for :head do
  =include_javascripts :friend_select
  =include_javascripts :scroll_page
.span-5.left_bar
  = render 'people/person_list', :person => @person
  = render 'home/hot_events'   
.span-14.content_panel
  =render "status_messages/status_message"
  =render "home/feed_container"
    
.span-5.right_bar.last
