=content_for :head do
  =include_javascripts :friend_select
  =include_javascripts :scroll_page
.span-15.append-2
  =render "home/feed_container"
    
.span-7.last
  .right_side
    = render 'people/person_list', :person => @person
    = render 'home/hot_events'   

:javascript
  $( "#view" ).attr("value", "index" );


        
    

