=content_for :head do
  =include_javascripts :friend_select
.span-15.append-2
  =render "status_messages/status_message"
  .current_status
    ="最近更新:"
    %span.current_status_body
      =@current_status.content
  =render "home/feed_container"
    
.span-7.last
  = render 'people/person_list', :person => @person

:javascript
  $( "#view" ).attr("value", "index" );


        
    

