.notice{ :style => "width:950px;margin:0 auto;color:#546266" }
  %h2
    = "您当前使用得浏览器版本较低，为了更好的用户体验，推荐使用"
    =link_to 'IE8','http://www.microsoft.com/china/windows/internet-explorer/ie8howto.aspx'
    ="、"
    =link_to 'Chrome','http://www.google.cn/chrome?hl=zh-cn'
    ="、"
    =link_to 'Firefox','http://firefox.com.cn/'
    ="或"
    =link_to 'Safari','http://www.apple.com.cn/safari/'
    ="浏览器。"

