@import '../../general/ui/mixins'
$darkblue: #002DB3
$darkgray: #A8AAAD

.reg_box
  :width 315px
  :height 290px
  :float right 

  .reg_info
    :width 280px
    :height  80px
    :white-space normal
    :position relative
    :margin-top 10px
    :margin-left 5px
    :font-size medium
    :display block
    :overflow hidden

  a.reg_main_button
    :width 280px
    :height 70px
    :margin-left 5px
    :margin-top 4px
    :overflow hidden
    :background url("/images/ui/main_reg_button.png") no-repeat scroll 0 0 transparent 
    :display inline
    :float left
    :position relative

    &:hover 
      :background url("/images/ui/main_reg_button.png") no-repeat scroll left bottom transparent 

    em
      :text-align middle
      :font-size 30px
      :font-style normal
      :font-weight bold
      :color white
      :position absolute
      :top 10px
      :left 72px

    &:hover em
      :top 12px
  

  
  

.welcome_box
  :padding 5px 0
  :float left
  :background none repeat scroll 0 0 #ffffff
  :width 940px
  :border 5px solid #d5ddde

  .poster_box
    :background #FFFFFF
    :width 580px
    :height 284px
    :margin-left 8px
    :margin-top 8px
    :float left
    @include border-radius(10px)

.des_box
  :float left
  :margin-top 10px
  :width 940px
  :background none repeat scroll 0 0 #ffffff
  :border 5px solid #d5ddde

  .welcomenav_box
    :width 280px
    :padding-left 30px
    :margin-top 10px
    :float left

    .flack
      :font-size 18px
      :font-family "Microsoft YaHei"
      :font-weight bold
      :display block
      :margin-bottom 10px

    .item_block
      :float left
      :margin-bottom 15px
      .avatar
        :float left
        img
          @include border-radius(10px)
          border: 1px solid #d5ddde
      .item_info
        :float left
        :width 150px
        :height 100px
        :margin-left 10px
        :position relative

        span
          :display block
          :font-size 11px

        span.title
          :font-size 12px
          :color #222222

        span.desc
          :color #666666
          :margin-bottom 10px
          :width 140px

        span.like
          :bottom 0 
          :position absolute


