.comment_block.hide{:comment_id => comment.id}
  .comment_top
    .author_box
      = person_image_link(person)
    .author_text
      = link_to person.name, person_path(person)
  .comment_text
    %span.content=simple_format comment.content
    %a{:class => 'editIconWrapper right'}
      %span.editIcon='编辑'
  .comment_bottom
    = link_to '回复', '#'
    %span.right.comment_time
      %em=l(comment.created_at, :format => :long)
