%a{:href => event_path(event)}
  %strong.type=event.item.name
  %span.title
    %strong=event.title
    %span.time_and_location
      %p.time="活动时间:" +  l(event.start_at, :format => :long)
      %p.location="活动地点:" + event.location.to_s 
  %span.info
    .owner
      =event_image_tag(event, :thumb_small)
    %span.first
      %strong=event.participants.size
      %em='参加'
    %span
      %strong=event.references.size
      %em='喜欢'
    
