.response_box.hide{:comment_id => commentable.id}
  = person_image_link(person) 
  .res_text
    .res_text_inner
      .res_text_frame
        %span.res_operation.right=link_to '回复', '#', :class => 'response_link'
        %span.res_time=l(comment.created_at, :format => :long)
        %storng.res_author=person.name
        .res_content
          %span=comment.content
