%h1= t 'events_list' 
%br

  - @events.each do |event|
    .span-12.last.append-bottom
      = render "event_item", :event => event      
.span-24.prepend-top
  = link_to t('new_event'), new_event_path, :class => "button"
