=content_for :head do
  = include_javascripts :google_map
  =javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
.span-24
  .span-18
    = render 'common/header_box', :title => '活动“' + @event.title + '的地图'
  .span-6.last
    %h4= link_to '<返回活动主页',  event_path(@event),:class => 'right'
  #map-big

:javascript
  $(function() {
    var address = "#{@event.location}";
    codeAddress("map-big", address, 16);
  });

