- content_for :head do
  = include_stylesheets :forms, :media => 'all'
  = include_stylesheets :sepcial_pages_events_common, :media => 'all'
.span-24
- if @step == 1
  = render 'form', :is_edit => false
- else
  = render 'friends_invitation', :event => @event, :invitees_summary => @invitees,
                                 :invitees_size => @invitees_size, :to_be_invited => @to_be_invited_friends
:javascript
  $(function() {
    $('a.back').click(function() {
      parent.history.back();
      return false; 
    }); 
  });



