-content_for :head do
  = include_stylesheets :special_pages_related_topics_panel, :media => 'all'
.topic_row
  .topic_name
    = link_to truncate(topic.name, :length => 16), item_topic_path(topic)

  .topic_date
    = time_ago_in_words(topic.created_at) + "前"
