.red_tab {
  border: 1px solid #414141;
  color: #dddddd;
  font-weight: bold;
  font-size: 15px;
  height: 11px;
  line-height: 10px; }
  .red_tab:hover {
    border: 1px solid #00bed4;
    color: white;
    background-color: #00bed4;
    text-decoration: none;
    margin-top: 3px;
    height: 8px;
    line-height: 8px; }

.gray_tab {
  height: 11px;
  line-height: 10px;
  border: 1px solid #e3e3e3;
  background: url("/images/ui/bg.jpg") repeat scroll center top #e7e7e7;
  color: #fc4469;
  font-weight: bold;
  font-size: 15px; }
  .gray_tab:hover {
    color: #fc4469; }

.notifaction {
  padding-right: 20px; }

.header.wizard {
  height: 70px; }

.header {
  background: url(/images/ui/mainmenu-bg.png) repeat;
  text-align: left;
  height: 100px;
  z-index: 50;
  width: 100%;
  left: 0;
  top: 0;
  margin-top: -1px; }
  .header .container {
    height: 100px; }
  .header .message_count {
    background: url("/images/ui/message_count.png") no-repeat scroll transparent;
    background-position: 0 -240px;
    display: inline-block;
    color: white;
    padding-left: 8px;
    text-shadow: 0 -1px 0 #6fa13c;
    margin-top: -9px; }
    .header .message_count span {
      background: url("/images/ui/message_count.png") no-repeat scroll transparent;
      background-position: 104% -288px;
      display: block;
      text-align: center; }
      .header .message_count span span {
        background: url("/images/ui/message_count.png") no-repeat scroll transparent;
        background-position: 0 -336px;
        color: white;
        cursor: pointer;
        display: block;
        font-size: 11px;
        line-height: 11px;
        margin-right: 8px;
        padding: 4px 0px 6px; }
  .header .logo {
    float: left;
    position: relative;
    padding-top: 12px;
    display: block;
    width: 200px; }
    .header .logo h2 {
      color: #fe905d; }
    .header .logo .beta {
      position: absolute;
      top: 0;
      left: 140px;
      color: #dddddd;
      font-size: 10px; }
  .header .events_count {
    margin-top: 5px;
    color: white; }
    .header .events_count a {
      color: #f74367;
      font-size: 20px;
      height: 26px;
      line-height: 26px;
      padding: 5px;
      margin-top: 8px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      behavior: url(/javascripts/PIE.htc); }
      .header .events_count a:hover {
        background-color: #f74367;
        color: white; }
    .header .events_count strong {
      font-size: 13px;
      width: 82px;
      display: block;
      margin-left: 6px; }
    .header .events_count span.number {
      display: block;
      float: left;
      height: 30px;
      background-color: #203842;
      color: white;
      line-height: 30px;
      display: inline;
      float: left;
      font-size: 23px;
      font-weight: bold;
      margin: 1px;
      padding: 0 1px; }
  .header .sections {
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    font-weight: normal; }
  .header ul {
    display: block;
    list-style: none; }
  .header .sections li, .header .setting li {
    position: relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5px 5px 0 0;
    behavior: url(/javascripts/PIE.htc);
    float: left;
    margin-right: 3px; }
  .header .sections .set, .header .setting .set {
    height: 35px; }
    .header .sections .set a.long_li, .header .setting .set a.long_li {
      padding-left: 5px;
      padding-right: 10px;
      padding-bottom: 12px;
      padding-top: 10px; }
  .header .sections a, .header .setting a {
    text-align: center;
    position: relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5px 5px 0 0;
    behavior: url(/javascripts/PIE.htc);
    width: 40px;
    display: block;
    padding: 11px 10px;
    text-decoration: none; }
    .header .sections a .active, .header .setting a .active {
      font-size: 11px;
      font-weight: bold; }
  .header li#search {
    background-color: #414141;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px; }
    .header li#search input {
      font-size: 13px;
      width: 200px;
      border: 1px solid #bebebe;
      color: #555555;
      border-top-color: #d4d4d4;
      border-left-color: #d4d4d4;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      behavior: url(/javascripts/PIE.htc);
      height: 20px; }
  .header .setting {
    position: absolute;
    bottom: 0px;
    right: 0; }
    .header .setting li {
      position: relative; }
      .header .setting li .avatar {
        position: absolute;
        top: 4px;
        left: 3px;
        width: 20px;
        height: 20px; }
      .header .setting li a.long_li {
        width: 90%; }
      .header .setting li a .name {
        display: inline;
        margin-left: 22px; }
      .header .setting li a .icon {
        display: inline;
        background: url("/images/ui/icons.png") repeat 10px -2588px; }

.inbox {
  margin-right: 20px !important; }
  .inbox a {
    text-align: center !important; }

.accout {
  top: 100px;
  width: 60px;
  position: absolute; }
  .accout ul {
    text-align: left; }
  .accout li {
    margin: 5px; }
  .accout a {
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 21px;
    padding-bottom: 3px; }
    .accout a:hover {
      background-color: #5179ac;
      color: white;
      text-decoration: none; }

#view_all_notifications {
  float: right;
  margin-right: 3px;
  font-weight: bold; }

#notification_badge a {
  padding-right: 10px; }

#notification_dropdown {
  border-left: 2px solid #dbe1e1;
  border-right: 2px solid #dbe1e1;
  border-bottom: 2px solid #dbe1e1;
  background-color: #e9eef1;
  position: absolute;
  top: 100px;
  right: -110px;
  width: 350px;
  display: none;
  z-index: 999;
  height: 500px;
  overflow-y: scroll;
  color: #444444; }
  #notification_dropdown a {
    color: #5179ac; }
  #notification_dropdown .title {
    padding: 10px; }
    #notification_dropdown .title h4 {
      height: 20px;
      padding-bottom: 0;
      margin-bottom: 0; }
  #notification_dropdown .notification_element,
  #notification_dropdown .title {
    background-color: #e9eef1;
    border-bottom: 1px solid #dddddd; }
  #notification_dropdown .ajax_loader {
    text-align: center;
    padding: 15px; }
  #notification_dropdown .notification_element {
    padding: 10px;
    min-height: 30px; }
    #notification_dropdown .notification_element .timeago {
      display: block;
      color: #999999;
      text-decoration: none;
      border: none; }
    #notification_dropdown .notification_element > img {
      height: 30px;
      width: 30px;
      float: left;
      margin-right: 10px; }
    #notification_dropdown .notification_element.unread {
      background-color: whiteSmoke;
      color: black;
      font-weight: bold; }
