@import '../ui/mixins'

$blue: #0BB6E5
$red: #FF0000
$background: rgb(252,252,252)
$bright_yellow: #F6B24D
$orange: #f48043
$dark_gray: #666666
$group_color: #11a3e1
$event_color: #4BC5BE
$error_color: #a10000
$link_red: #FC4469

.dim
  @include opacity(0.3) 
body
  :background-color #E9EEF1

.blue
  :color $blue

.error_color
  :color $error_color

.group_color
  :color $group_color

.event_color
  :color $event_color

.bright_yellow
  :color $bright_yellow

.link_red
  :color $link_red

b
  :color black
  :font-weight bold


.block
  :display block  
a
  :color #4083a9
  :font-weight bold
  :text-decoration none
  &:hover
    :color #205f82
    :text-decoration none
ol, ul, li
  :list-style none
  
.container.body
  :padding-top 30px 

.overlay
  @include border-radius(4px)
  :border 1px solid #C6C6C6
  :background url("/images/ui/shadow.png") repeat scroll 0 0 transparent
  :position absolute
  :z-index 1001
  :padding 3px
.overlay_body
  @include border-radius(3px)
  :background-color #FFFFFF
  :border 1px solid #C6C6C6
  :position relative
  :text-align left
    

.floating
  @include box-shadow(0,1px,5px,0,#333)
  :position relative
  :z-index 1
  :background
    :color rgb(255,255,255)

  .submit_block
    :position absolute
    :bottom 13px
    :right 12px

  form
    :display relative

input:not([type='submit']):not([type='reset']):not([type='checkbox']),
textarea
  :font
    :family 'Arial', 'Helvetica', sans-serif
    :size 14px
  :padding 0.3em


#profile_photo_upload
  img

    :position absolute
    :left 10px
    :height 100px
    :width 100px

h1,h2,h3,h4
  .description
    :font
      :size 80%
      :weight 200
    :color #aaa
    :margin
      :top 0.5em 

.element_body
  :margin-left 60px
  :margin-right 40px
.stream_element
  :font-size 13px
  .show_comments
    :border-top 1px solid #EBEBEB
    :padding 8px
  :min-height 50px
  :border-top 1px solid #EBEBEB
  :padding
    :left 20px
    :right 20px
    :top 10px
    :bottom 10px
  :position relative
  .avatar
    :float left
  .right
    :padding 20px 20px
  .invite_button
    :position absolute
    :left 350px
    :top 20px
  .content
    :position relative
    :color #666
    :font
      :weight normal
    img
      :margin
        :right 0
      :max-width 100%
    .stream_photo
      :float left
      :margin
        :top 6px
    .photo_description
      :margin
        :top 6px
      :padding
        :left 220px
      :min-height 185px
      :color #888
      :font
        :style italic

    .small_text
      :font
        :size smaller

    .info
      :margin
        :top 2px
      :color #999
      :font-size 11px

    .comments
      .info
        :margin
          :top -1px

label
  :font
    :weight normal
  :color #999
  :top 3px
  :left 0.48em
  :text
    :shadow 0 1px 1px #eee

.colorbox_content
  :display none 

.result
  :border-top 1px solid #EDEDED
  :float left
  :margin-top 20px
  :min-height 59px
  :padding 
    :top 5px
  :width 190px

.friend
  :position absolute
  :padding
    :bottom 10px
    :left 10px

span.medium_avatar
  :display inline-block 
  :width 50px
  :overflow hidden
  :white_space nowrap
  :text-align center 
  :margin-bottom 0
  :height 30px

#add_friend_request
  textarea
    :height 100px
    :width 300px

.left_border
  :border-left 1px solid #ddd 
  :padding-left 5px

.content
  .timeago
    border: medium none
    color: #999999
    text-decoration: none

.hide
  :display none

.person_image
  :height 100px

.block
  :display block
.inline
  :display inline

#map
  :width 200px
  :height 250px 
  :margin-bottom 20px

#map-big
  :width 950px
  :height 500px 

.pagination_box
  .pagination
    :margin-top 20px
    a,em
      @include border-radius(4px)
      :border 1px solid #ffffff
      :background-color #f1f1f1
      :padding 2px 5px 1px 5px
      :font-size 13px
      :margin-right 5px
      :color #4C4C4C

    em
      :background-color #FC4469
      border: 1px solid #82190B
      :color #ffffff

    span.disabled
      :display none

    a
      &:hover
        :background-color #ffffff
        :text-decoration none
  
.welcome_box
  :background none repeat scroll 0 0 #f8f8f8
  :width 903px
  :height 300px
  :margin-left 24px
  @include border-radius(10px)

  .poster_box
    :background #f8f8f8
    :width 550px
    :height 290px
    :margin-left 5px
    :margin-top 5px
    :float left
    @include border-radius(10px)

.welcomenav_box
  :background none repeat scroll 0 0 #f8f8f8
  :width 285px
  :height 300px
  :margin-left 24px
  :margin-top 12px
  :float left
  @include border-radius(10px)

.app_module_title 
  :margin 15px 0 5px 0
  :color #fc4469 

.app_module_title_black
  :margin-bottom 5px
  :color black

#photozone
  :left 5px
  :padding 0
  :bottom 0px
  :position absolute
  :width 410pxne
  li 
    :display inline-block
    img
      :width 50px
      :padding-right 2px
    .circle
      @include border-radius(20px)
      :display none
      :z-index 1
      :position absolute
      :right -7px
      :top -5px
      :background
        :color #333
      :width 20px
      :max-width 20px
      :height 20px
      :max-height 20px
      :border 1px solid #fff
    .x
      :display none
      :z-index 2
      :position absolute
      :top -3px
      :right -1px
      :font
        :size small
        :weight bold
    &:hover
      :cursor default
      .circle
        :display block
      .x
        :display block
      
.with_photos
  textarea
    :padding-bottom 70px
  #photozone
    :height 60px
  #status_message_submit
    :display inline-block

.photo_form
  :position relative
  textarea
    :resize none

.photos_container
  :position relative
  img
    :cursor pointer

.avatar_show
  :z-index 100
  :position absolute
  .person_content
    :padding-left 85px
    :width 100px
    :height 75px
    .name
      :font-size 18px
      :color $blue
  .action
    :margin
      :top  10px
  .avatar_panel
    :padding 5px    
  .person_avatar
    :float left
    :width 75px
    :height 75px

.avatar_container
  :position relative
.person_avatar
  :display inline-block


    
    
.unfollow
  span
    background-image: url(/images/ui/icon-x.png)
    
    
.relation_button
  display: inline-block

a.button
  &:hover
    color: #f48043
  :font-size 12px
  .ui-button-text-only, .ui-button-text
    :padding 4px  5px


.app_subfunction_title
  :margin-right 5px

.app_subfunction_title.groups
  :color #11A3E1

.app_subfunction_title.events
  :color #4CC5BE

.app_color_orange
  :color $orange 

.app_info_label
  :color $dark_gray
  :margin-right 5px

.dark_gray
  :color $dark_gray

.app_tab_border_radius
  @include border-radius-feed(5px)

.glass_button
  background:  url(/images/ui/glass-light.png) repeat-x 0 50%
  @include border-radius(6px)
  color: white
  font-size: 13px
  font-weight: bold
  padding: 3px 5px
  text-shadow: 0 -1px rgba(41, 41, 41, 0.5)
  text-align: center
  cursor: pointer
  
.scroll
  :text-align center
  :margin-top 10px

.comment_form
  :padding 8px
  .person_avatar_detail
    :height 32px
    :width 32px
  .avatar
    :float left
  .comment_button
    :margin-left 40px
  textarea
    :resize none
    :margin-left 4px
    :width 345px
    :height 23px
.content_panel
  :background-color #E9EEF1
  :position relative
  :z-index 4
  :margin-top -20px
  :border
    :left 1px solid #EBEBEB
    :right 1px solid #EBEBEB
    :bottom 1px solid #EBEBEB


#file-upload
  :position relative
  :overflow hidden
  :height 25px
  :background-color #00a2b7
  :line-height 25px
  &:hover
    :background-color #e76875
  input
    :cursor pointer
    
.app_title_bar
  .app_header_box
    :float left      
    
    .box_all
      background-color: #00BED4
      color: white
      float: left

      .box_left
        background: url("/images/ui/border_hdrs.png") no-repeat scroll 0 0 transparent
        float: left
        height: 41px
        width: 15px
      .box_middle
        float: left
        height: 41px

        strong
          :display block
          :margin-top 10px
          :font-size 13px

        a
          color: #f74267
          font-size: 15px
      .box_right
        background: url("/images/ui/border_hdrs.png") no-repeat scroll -15px 0 transparent
        float: left
        height: 41px
        width: 15px
  .bottom_pic
    background: url("/images/ui/border_bubble_point.gif") no-repeat scroll 0 0 transparent 
    background-color: #00BED4
    height: 10px
    margin: 0 0 10px 20px
    width: 10px
    
      
.app_title_bar.dark
  .box_all
    background-color: #56656C
  .bottom_pic
    background: url("/images/ui/border_bubble_point.gif") no-repeat scroll 0 0 #56656c
        
.app_big_title_bar
  :float left
  :display inline-block     

  .box_all
    background-color: #41464C
    color: white
    float: left
      
    .box_left
      background: url("/images/ui/border_userstats.png") no-repeat scroll 0 0 transparent
      float: left
      height: 90px
      width: 15px
    .box_middle
      float: left
      width: 160px

      .header_content
        margin: 15px auto 0
        width: 120px 
        
        .number
          color: #F74367
          font-family: arial
          font-weight: bold
          font-size: 40px
          float: left
        .info
          float: left
          margin-top: 15px
          color: #f74367
          font-size: 20px
          margin-left: 10px
          
        
    .box_right
      background: url("/images/ui/border_userstats.png") no-repeat scroll -15px 0 transparent
      float: left
      height: 90px
      width: 15px
      
      
      
    
        

.follow_button
  .glass_button
    :width 70px
    :height 25px
    :line-height 25px
  .following
    :background-color #8aba56
    span
      background: url(/images/ui/icon-check.png) no-repeat 0 50%
      :padding-left 18px
    &:hover
      :background-color #ea4c88
      span
        :color #FF99CC
        background: url(/images/ui/icon-x.png) no-repeat 0 50%
           
  .follow
    :background-color lightGrey
    span
      :padding-left 18px
      background: url(/images/ui/follow-gray.gif) no-repeat 0 50%
      :color #777
    &:hover
      :background-color #8aba56
      span
        background: url(/images/ui/follow-white.gif) no-repeat 0 50%
        :color white

.notifactions
  :width 400px
  :margin-left 300px
  .stream_element
    background: #F5F5F3
    border-bottom: 1px solid #ECEAE8
    .content
      :margin-left 60px
    
a.app_big_link_button
  cursor: pointer
  margin: 4px 0 0 21px
  position: relative
  float: right
  color: #FFFFFF !important
  display: inline
  font-size: 20px
  font-weight: bold
  line-height: 25px
  text-decoration: none

  em
    background: url("/images/ui/big_button.gif") no-repeat scroll 0 0 transparent !important
    float: left
    font-style: normal
    padding: 13px 18px 13px 24px
  
  span
    background: url("/images/ui/big_button.gif") no-repeat scroll -890px -51px transparent !important
    float: left
    height: 51px
    width: 10px

  &:hover span
    background-position: -890px -153px !important

  &:hover em 
    background-position: 0 -102px !important
    color: #ffffff
    padding: 15px 18px 11px 24px
    
    
  
   



      

