@import '../ui/mixins'

$blue: #5179AC
$red: #FF0000
$background: rgb(252,252,252)
$bright_yellow: #F6B24D

body
  :background-color $background

.blue
  :color $blue

.bright_yellow
  :color $bright_yellow

b
  :color black
  :font-weight bold


.block
  :display block  
a
  :color $blue
  :font-weight bold
  :text
    :decoration none
  &:hover
    :color $blue
    :text
      :decoration underline
ol, ul, li
  :list-style none
  
.container.body
  :padding
    :top 60px

.floating
  @include box-shadow(0,1px,3px,0,#333)
  :position relative
  :z-index 1
  :background
    :color rgb(255,255,255)

  .submit_block
    :position absolute
    :bottom 13px
    :right 12px

  form
    :display relative

input:not([type='submit']):not([type='reset']):not([type='checkbox']),
textarea
  @include border-radius(3px)

  :font
    :family 'Arial', 'Helvetica', sans-serif
    :size 14px
  :padding 0.3em


#profile_photo_upload
  :margin
    :top 5px
  :min-height 100px
  img
    @include border-radius(5px)
    @include box-shadow(0,1px,2px,0,#666)

    :position absolute
    :left 10px
    :height 100px
    :width 100px

  :padding
    :left 120px

h1,h2,h3,h4
  .description
    :font
      :size 80%
      :weight 200
    :color #aaa
    :margin
      :top 0.5em 

.stream_element
  .author
    :color #444444
  :position relative
  :font
    :size 14px
  .avatar
    :padding 20px 20px
  .right
    :padding 20px 20px
  .content
    :position absolute
    :left 80px
    :top 20px
    :color #666
    :font
      :weight normal
    img
      :margin
        :right 0
      :max-width 100%
    .stream_photo
      :float left
      :margin
        :top 6px
    .photo_description
      :margin
        :top 6px
      :padding
        :left 220px
      :min-height 185px
      :color #888
      :font
        :style italic

    .small_text
      :font
        :size smaller

    .info
      :margin
        :top 2px
      :color #999
      :font-size 11px

    .comments
      .info
        :margin
          :top -1px
  
.stream
  .stream_element
    :min-height 50px
    :border
      :bottom 1px solid #ddd
      :top 1px solid #fff


label
  :font
    :weight normal
  :color #999
  :top 3px
  :left 0.48em
  :text
    :shadow 0 1px 1px #eee

.colorbox_content
  :display none 

.result
  :border-top 1px solid #EDEDED
  :float left
  :margin-top 20px
  :min-height 59px
  :overflow hidden
  :padding 
    :top 5px
  :width 190px

.friend
  :position absolute
  :padding
    :bottom 10px
    :left 10px

span.medium_avatar
  :display inline-block 
  :width 50px
  :overflow hidden
  :white_space nowrap
  :text-align center 
  :margin-bottom 0
  :height 30px

#add_friend_request
  textarea
    :height 100px
    :width 300px

.left_border
  :border-left 1px solid #ddd 
  :padding-left 5px

.content
  .timeago
    border: medium none
    color: #999999
    text-decoration: none

.hidden
  :display none

.person_image
  :height 100px

.inline
  :display inline

#map
  :width 200px
  :height 250px 
  :margin-bottom 20px

#map-big
  :width 950px
  :height 500px 

.pagination
  :margin-top 20px
  a,em
    :border 1px solid #dddddd
    :padding 2px 5px 1px 5px
    :font-size 13px
    :margin-right 5px

  em
    :background-color #f1f1f1
    :color #999999

  span.disabled
    :display none

  a
    &:hover
      :background-color #ff6600
      :text-decoration none
      :color white
      
