.album {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/javascripts/PIE.htc);
  background-color: white;
  padding: 20px 20px 20px 40px; }
  .album .title_bar {
    float: left;
    width: 850px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 30px; }
    .album .title_bar .glass_button {
      color: white;
      padding: 5px 10px; }
    .album .title_bar h3 {
      width: 700px;
      float: left;
      margin-bottom: 10px; }
  .album .event_pic {
    display: block;
    float: left;
    padding: 6px;
    height: 215px;
    width: 200px;
    margin-bottom: 15px; }
    .album .event_pic img {
      display: block; }
    .album .event_pic span.desc {
      float: left;
      margin-top: 2px;
      font-size: 12px;
      color: #aaaaaa; }
      .album .event_pic span.desc a {
        color: #777777; }
        .album .event_pic span.desc a:hover {
          text-decoration: underline; }
      .album .event_pic span.desc .c_count {
        margin-left: 10px; }
  .album .pagination {
    display: block;
    margin: 0 auto;
    float: left;
    margin-left: 410px; }
