.album {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/javascripts/PIE.htc);
  background-color: white;
  padding: 20px 20px 20px 40px; }
  .album .title_bar {
    float: left;
    width: 850px;
    border-bottom: 1px solid #d5ddde;
    margin-bottom: 15px; }
    .album .title_bar h2 {
      width: 700px;
      float: left;
      margin-bottom: 0; }
  .album .event_pic {
    display: block;
    float: left;
    padding: 6px;
    height: 215px;
    width: 200px;
    margin-bottom: 15px; }
    .album .event_pic img {
      display: block; }
    .album .event_pic span.desc {
      float: left;
      margin-top: 2px;
      font-size: 13px;
      color: #aaaaaa; }
