@import '../../general/ui/mixins'
.title
  :margin-bottom 0

ul.nav
  :width 200px
  
  li
    a
      :background-color #ffffff
      :width 160px
      :display block
      :padding  0px 10px 
      :margin-bottom 3px
      :font-size 14px
      :color #00a2b7
      :height 45px
      :line-height 45px
      
      &:hover
        background: url("/images/ui/arrow2.gif") no-repeat scroll 160px 50% #FFFFFF !important
        color: #F74367
        text-decoration: none

    a.current
      background: url("/images/ui/arrow2.gif") no-repeat scroll 160px 50% #FFFFFF !important
      color: #F74367
      text-decoration: none

    a.inactive
      :color #d5ddde

      &:hover
        :background none no-repeat scroll 160px 50% #FFFFFF !important
        :color #d5ddde

        
.invite_friends_area        
  @include border-radius(15px)
  :background-color #ffffff
  :padding 20px

.event_avatar
  :width 180px
  :margin-bottom 10px

  img
    @include border-radius(10px)
    :width 180px
    :height 180px

.button_container  
  :height 40px
  :width 80px
  :float left
  .invite_button
    :float left
    :width 60px
    :height 20px
    :background-color #00bed4
    :line-height 20px
    :font-size 13px
  
    &:hover
      :margin-top 2px
      :background-color #e76875

.people_array
  .person_element
    :float left
    :margin-right 10px
  
.select_invitees
  :width 500px
  :float left
