.comment_block
  background: none repeat scroll 0 0 #FFFFFF
  border: 3px solid #D5DDDE
  margin-bottom: 10px
  padding: 16px 11px 5px 17px
  width: 606px
  float: left

  .comment_top
    :height 50px
    margin-bottom: 9px
    width: 100%
      
    .author_box
      float: left
      width: 65px

    .author_text
      float: left
      display: block
      font-weight: bold
      vertical-align: middle
      width: 200px
      margin-top: 10px
      
      a
        color: #00A2B8
        font-size: 18px
        line-height: 22px

    .editIconWrapper
      background: url("/images/ui/edit.png") no-repeat scroll 3px 3px transparent
      border-radius: 2px 2px 2px 2px
      cursor: pointer
      color: #B4C0C1
      font-size: 11px
      font-weight: bold
      letter-spacing: 0
      margin: 10px 0 0 3px
      padding: 6px 6px 3px 22px
      display: block
      width: 30px 

      &:hover
        background-color: #d1e1ad
        color: #546266
        text-decoration: none

  .comment_text
    span.content
      :font-size 14px
      :color #546266
      :display block


  .comment_bottom
    background: url("/images/ui/border-comment-bar.gif") repeat-x scroll 0 8px transparent
    margin: 0 -11px 0 -17px
    overflow: hidden
    padding: 13px 11px 0 17px
    width: 606px

    a
      background: url("/images/ui/ico-6.gif") no-repeat scroll 0 50% transparent
      padding-left: 16px
    
    .comment_time
      color: #B4C0C1

.response_box
  margin-left: 20px
  padding: 0 0 0px 21px
  width: 601px
  float: left  
  .avatar_container
    background: none repeat scroll 0 0 #FFFFFF
    border: 2px solid #D5DDDE
    float: left
    height: 30px
    padding: 4px
    width: 30px
  
    img
      :width 30px
      :height 30px
  .res_text
    background: url("/images/ui/bg-comment-block-c.gif") repeat-y scroll 0 0 transparent
    float: right
    margin-bottom: 10px
    width: 548px
    
    .res_text_inner
      background: url("/images/ui/bg-comment-block-t.gif") no-repeat scroll 0 0 transparent
      width: 547px
      
      .res_text_frame
        background: url("/images/ui/bg-comment-block-b.gif") no-repeat scroll 0 100% transparent
        overflow: hidden
        padding: 12px 21px 6px 22px
        width: 510px
        
        .res_time
          :float right
          :color #B4C0C1
          :margin-right 20px

        .res_operation
          a
            background: url("/images/ui/ico-6.gif") no-repeat scroll 0 50% transparent
            padding-left: 13px
        .res_author
          color: #00A2B8
          font-size: 15px
          line-height: 18px
        .res_content
          :margin-top 5px
          :font-size 14px
          :color #546266
        
.new_comment
  :width 625px
  :float left
  .avatar_container
    :width 60px
    :float left
  .content
    :float left
    :width 560px
    textarea
      :float left
      :width 550px
      :height 150px
      border: 3px solid #D5DDDE
      color: #424F54
      font: 14px/22px Arial,Helvetica,sans-serif
      margin: 0 0 10px

    label.error
      :float left
      :color #FF8A3C
      :font-size 13px

  .post_button
    background: url("/images/ui/btn-post.gif") no-repeat scroll 0 0 transparent
    border: medium none
    cursor: pointer
    float: right
    font-style: normal
    height: 51px
    overflow: hidden
    width: 100px
    font-size: 16px
    color: #ffffff
    padding-left: 25px

    &:hover
      background: url("/images/ui/btn-post_h.gif") no-repeat scroll 0 0 transparent
      padding-top: 2px
      
.pagination_box
  :width 640px
  :float left
  .pagination
    :text-align right 

.response_form
  textarea
    :float left
    :width 480px
    :margin 15px 5px 
    :height 100px
    color: #424F54
    font: 14px/22px Arial,Helvetica,sans-serif
  
  .form_button
    :width 40px
    :height 20px
    :background-color #41464C
    :float right 
    :font-size 13px
    :line-height 20px
    
  .submit_button
    input
      :border none
      :width 50px
      :height 26px
      :background-color #41464C
      :font-size 13px
      :margin-right 10px
      

