.response_box
  :float left
  :margin-left 55px
  :margin-bottom 15px

  textarea
    :width 300px
    :height 80px
    :display block
    :font-size 12px

.response_box.to_comment
  :margin-left 40px

.comment_to_event, .new_comment
  a
    img
      :float left

  .content
    :display inline-block
    :vertical-align top 
    :width 575px
    :margin-left 5px
    :float left

  hr
    :margin-bottom 5px 

.new_comment
  textarea
    :width 80%
    :display block
    :height 100px
    :font-size 11px 
    
.comment_to_comment 
  :float left
  :width 575px
  :margin-left 55px

  a
    img
      :float left
      :width 35px
      :height 35px

  .content
    :margin-left 5px
    :width 535px
    :float left

    hr
      :margin-bottom 5px 

.pagination_box
  :margin-bottom 20px    
