#cancel_event_request
  textarea
    :width 90%
    :margin 10px 0 5px 0
    :height 100px
  h4
    :margin-bottom 0

.cancel_event
  :margin-right 10px

.box_content
  :padding 10px 5px 5px 5px 

.title_bar
  h2, h4
    :display inline
  h2
    :margin-right 20px
  
  h4.border-right
    

.members
  span.medium_avatar
    :margin-left 15px

.error_message_box
  :position absolute
  :top 50px
  :left 300px
