@import '../../general/ui/mixins'
.hot_events
  :width 950 
  :padding 20px 20px 0 20px
  :float left
  :border 3px solid #d5ddde
  :border-bottom none
  :background-color #ffffff

  .search_line
    :width 950px
    :float left
    :margin-bottom 20px

    .filter_title
      :float left
      :padding 5px
      :background none repeat scroll 0 0 #D4D4D4
      :width 40px 
      :font-size 13px
      :text-align center


      a
        :color #ffffff

        &:hover
          :text-decoration none

    .filter_items
      :float left
      :padding 5px
      :margin-left 10px
      :width 828px

      a
        :font-size 13px
        :color #56656c
        :margin-right 5px
        :display inline-block

      a.current
        :color #4bc5be

.search_result
  :padding 30px 20px 
  :border 3px solid #d5ddde
  :background-color #ffffff
  .event_item
    :padding-bottom 20px

    img
      @include border-radius(14px)
      :border 1px solid #f2f2f2
      :float left
      :width 148px
      :height 148px
    
    .information
      :width 300px
      :height 150px
      :float left
      :margin 0 10px
      :overflow hidden
      :position relative
       

      p
        :margin 0

      .title
        :font-size 14px
        :margin-bottom 5px
      
      .at_bottom
        :position absolute
        :bottom 1px  
        :color #666666

#city_select_box
  :position absolute
  :width 100px
  :border 1px solid#b9b9b9 
  :padding 10px
  :background-color #ffffff

#switch_city
  :text-decoration none
  :border 1px solid #ffffff
  :padding 3px
  &:hover
    :border 1px solid #b9b9b9
    :color #666666 
    



    

