$blue: #5179AC

.event_item
  :overflow hidden
  :height 140px
  p
    :margin 0

  .title 
    :white-space nowrap 

.item_next
  :margin-right -800px

.hot_event
  :background-color #ffffff
  :padding 10px 10px 20px 10px
  :margin-bottom 5px 
  .nav_box
    :width 20px
    :padding-top 80px 

  p
    :margin-bottom 10px 
    
  .pic
    :margin-right 20px

  .operation
    :height 100px
  
  .owner
    a
      :display inline-block
      :vertical-align top 

    .nav
      a
        :display block 


  .hot_title
    :display block
    :margin 0 0 10px 20px

  
.filter_area
  :background-color #F8F8F8
  :height 500px
  :padding 20px

.filter_bar
  h4,h2
    :display inline
    :margin-bottom 0

  h2
    :margin-right 20px
  
  h2.title
    :display inline-block
    :width 140px
#date
  :border none
  :color $blue
  :width 75px
  :padding 0

.underline
  :text-decoration underline 

.hot_events
  :overflow hidden
  :height 260px

#city_select_box
  :position absolute
  :width 100px
  :border 1px solid black
  :padding 10px
  :background-color #ffffff

#switch_city
  :text-decoration none
  &:hover
    :border 1px solid #b9b9b9
