@import '../../general/ui/mixins'

.left_column
  #map_div
    :background-color white
    :padding 10px
    :width 180px
  #map
    :width 178px
    :border 1px solid  #d5ddde
    :margin-bottom 0px
    img
      @include border-radius(14px)
      :width 198px
      :height 198px
      :border 1px solid #f2f2f2
    

  .other_info
    :margin 0px 0 5px 0
    
    .info_block
      :display block
      :float left
      :background-color #ffffff
      :color #546266
      :padding 10px 10px 
      :margin-right 10px
      :width 180px 
      :margin-top 15px

      .edit_button
        :float left
        :width 30px
        :height 15px
        :background-color #8DBC6E
        :line-height 15px
        :font-size 12px

        &:hover
          :margin-top 2px
          :background-color #e76875

        
      span.info 
        :width 180px 
        :display block
        :float left
        :font-size 13px
        :padding 5px 0
        :border-bottom 1px dashed #e9eef1

        .content, .left
          :float left
        .left
          :width 65px
        .content
          :width 115px

        strong 
          :color #FB4B6F

      span.des
        :color #fc4469  
        :font-size 14px
        :height 25px
  
  .members
    :margin-top 20px
    :padding 10px
    :width 180px
    :background-color white
  .person_array
    :width 220px
    :margin-top 10px
    :float left
    .member
      :float left
    .avatar
      :margin-right 2px
      :width 43px
      :height 43px
      @include border-radius(5px)

.right_column 
  .app_header_box
    :margin-top 50px
  .app_big_title_bar.last_one
    :margin-right 0
  .app_big_title_bar
    :margin-right 20px  

  .event_title_bar
    :width 630px
    :float left
    :background-color #ffffff
    :border 3px solid  #d5ddde
    @include border-radius(8px)
    :padding 17px

    .event_desc
      font-size: 1.2em
      line-height: 1.7em
      border-top: 1px dashed #d5ddde
      padding-top: 10px


  .event_title
    .status
      :color #F78CA1  
  .operations
    :height 40px

    .share_operations
      :float left
      :padding 5px
      :background-color #ffffff
      :border 3px solid #d5ddde
      :color #FC4469
      @include border-radius(5px)

      span
        :font-weight bold
        :font-size 14px
        :display block
        :margin 0 5px 5px 0 

      #share_to_sina, #share_to_qq
        :float left
        :margin-right 10px
      #share_to_qq
        a
          :display block
          :width 32px
          :height 32px

    .join_button
      :float left
      :width 60px
      :height 20px
      :background-color #8DBC6E
      :line-height 20px
      :font-size 13px
  
      &:hover
        :margin-top 2px
        :background-color #e76875
    .join_button.quit
      :background-color #e76875

      &:hover
        :margin-top 2px
        :background-color #00bed4

    .join_button.like
      :margin-right 17px
        
  .event_info
    :width 630px
    :float left
    :background-color #ffffff
    :border 3px solid #d5ddde
    @include border-radius(14px)
    :padding 20px
    :margin-bottom 50px


