@import '../../general/ui/mixins'

.left_column
  .link_to_all
    border: 1px solid #DCE4E6
    color: #22AEC1
    font-size: 11px
    font-weight: bold
    height: 20px
    padding: 2px 4px 0 6px
    @include border-radius(5px)
  
  #map_div
    :padding 10px
    :width 180px
  #map
    :width 178px
    :border 1px solid  #d5ddde
    :margin-bottom 0px

  .other_info
    :margin 0px 0 5px 0
    
    .info_block
      :display block
      :float left
      :background-color #ffffff
      :color #546266
      :padding 10px 10px 
      :margin-right 10px
      :width 180px 

      .edit_button
        :float left
        :width 30px
        :height 15px
        :background-color #8DBC6E
        :line-height 15px
        :font-size 12px

        &:hover
          :margin-top 2px
          :background-color #e76875

        
      span.info 
        :width 180px 
        :display block
        :float left
        :font-size 13px
        :padding 5px 0
        :border-bottom 1px dashed #e9eef1

        .content, .left
          :float left
        .left
          :width 65px
        .content
          :width 115px

        strong 
          :color #FB4B6F

      span.des
        :color #fc4469  
        :font-size 14px
        :height 25px
  
  .members
    :margin-top 5px
    :padding 10px
    :width 180px
    :background-color white
  .person_array
    :width 220px
    :margin-top 10px
    :float left
    .member
      :float left
    .avatar
      :margin-right 2px
      :width 43px
      :height 43px

.right_column 
  .app_header_box
    :margin-top 50px
  .app_big_title_bar.last_one
    :margin-right 0
  .app_big_title_bar
    :margin-right 20px  
  .event_status_info
    :padding 20px
    :background-color #ffffff
    :margin-top 5px
    :border 2px solid #eaeaea
    @include border-radius(5px)

    h3
      :color #FC4469

    p.audit_info
      :font-size 14px
      :color #666666

    .avatar
      span.info
        :display block
        :float right
        :font-size 14px
      img 
        :width 30px
        :height 30px
        :float right
        :margin-left 10px

    .reason_area
      :padding 10px 0
      :border-top 1px dashed #d5ddde
      :border-bottom 1px dashed #d5ddde
      :margin 10px 0
    .re_audit
      :font-size 12px
      :color #999999
      :height 30px
      span
        :float left
        :display block


  .event_title_bar
    :width 630px
    :float left
    :background-color #ffffff
    :border 3px solid  #d5ddde
    @include border-radius(8px)
    :padding 17px

    .event_desc
      font-size: 1.2em
      line-height: 1.7em
      border-top: 1px dashed #d5ddde
      padding-top: 10px

  .event_tabs
    @include border-radius(8px)
    :position relative
    .home_tabs
      background: #F9F9F9 url('/images/ui/tabs-bg.png')  repeat
      height: 62px
            
          
      li
        font-size: 16px
        display: inline-block
        float: left
        height: 62px
        width: 110px
        line-height: 62px
        text-align: center
        position: relative
        a
          padding: 10px
          @include border-radius-noie( 6px )
          font-weight: bold
          :color #999
          &:hover
            :background-color #e1e1e1 
            :color #697d84
        a.current
          :background-color  #697d84
          :color #ffffff

    .link_to_all_pic
      border: 1px solid #DCE4E6
      color: #22AEC1
      font-size: 14px
      font-weight: bold
      height: 20px
      padding: 2px 4px
      bottom: 20px 
      right: 30px
      position: absolute
      @include border-radius(5px)
      
      

  .comments_area
    :width 650px
    :padding 10px
    :background-color #ffffff

  .albums_area
    :width 630px
    :float left
    :background-color #ffffff
    :padding 10px 20px
    :text-align center

    .link_to_upload
      :display block
      :padding 20px
      :font-size 14px

      a
        :color #ffffff

    .event_pic 
      :width 145px
      :display block
      :float left
      :padding 5px
      :float left
      :height 160px
      :margin-bottom 10px

      img
        :display block

      span.desc
        :float left 
        :margin-top 2px
        :font-size 11px
        :color #aaa

        a
          :color #777
          &:hover
            :text-decoration underline
        
        .c_count
          :margin-left 10px

  .event_title
    .status
      :color #F78CA1  
  .operations
    :height 40px
    :position relative
    .message_box
      :float left 
      :margin-right 17px
      .glass_button
        :width 60px
        :height 22px
        :line-height 22px

    .share_operations
      :float left
      :padding 5px
      :background-color #ffffff
      :border 3px solid #d5ddde
      :color #FC4469
      @include border-radius(5px)

      span
        :font-weight bold
        :font-size 14px
        :display block
        :margin 0 5px 5px 0 

      #share_to_sina, #share_to_qq
        :float left
        :margin-right 10px
      #share_to_qq
        a
          :display block
          :width 32px
          :height 32px

    .join_button
      :float left
      :width 60px
      :height 20px
      :background-color #8DBC6E
      :line-height 20px
      :font-size 13px
  
      &:hover
        :margin-top 2px
        :background-color #e76875
    .join_button.quit
      :background-color #e76875

      &:hover
        :margin-top 2px
        :background-color #00bed4

    .join_button.like
      :margin-right 17px
        
  .event_info
    :width 630px
    :float left
    :background-color #ffffff
    :border 3px solid #d5ddde
    @include border-radius(14px)
    :padding 20px
    :margin-bottom 50px

  
  .event_pic_bar
    :position relative
    
    a
      :position absolute
      :bottom 10px
      :right 0px

      &:hover
        :color white


#fancybox-outer
  #fancybox-title-inside
    :font-size 13px
    :color #333
  
