$darkblue: #002DB3

span.maintitle 
  overflow: show
  text-align: left
  padding-top: 11px
  float: left
  height: 20px
  font-family: STKaiti, KaiTi, sans-serif
  font-size: large
  color: #FF7D56


span.eveinfo
  overflow: hidden
  float: right
  white-space:nowrap
  width: 120px
  position:relative
  text-align: right


