@import '../../general/ui/mixins'

.myitemlist
  :width 142px
  :margin-top 42px
  :margin-left 8px
  :overflow hidden
  :display block
  :position relative
  :float left

  .itemlisttitle
    :font-size 16px
    :height 16px
    :margin-bottom 15px
    :display block

  .itemlistcontent
    :width 142px
    :overflow hidden

    .itemlistrow
      :width 142px
      :height 50px
      :margin-bottom 7px

      .itemimage
        :width 50px
        :height 50px
        :float left

      .itemmsg
        :margin-left 4px
        :padding-right 3px
        :width 83px
        :height 50px
        :background none repeat scroll 0 0 #A8AAAD
        :overflow hidden
        @include border-radius(4px)
        :float left
        :font-size 12px
        :display block
        :text-align right
       
        a 
          :color #000000
            
          &:hover
            :color yellow


.imageboard 
  width: 800px
  float: left
  position: relative

  .hidebutton
    :float right
    :font-size 12px
    :position absolute
    :right 10px

  .imageheard
    :float left
    :width 800px
    :font-size 18px

  .imagearea
    :width 800px
    :overflow hidden
    :margin-bottom 40px

    .image 
      :float left
      :width 100px
      :position relative
      :margin-right 14px
     
      .nameback
        :width 100px
        :height 25px
        :background-color #747474
        @include opacity(0.5)
        @include border-radius-bottom-noie(8px)
        :position absolute
        :left 0px
        :top 75px

      .itemname
        :position absolute
        :left 3px
        :bottom 22px
        :font-size 16px
        :font-weight bold
        :color #FFFFFF

      .iteminfo 
        :width 100px

span.title 
  overflow: show
  text-align: left
  float: left
  display: inline
  height: 20px

span.detail 
  overflow: hidden
  float: right
  text-align: right 
  white-space: nowrap
  margin-right: 6px 

