@import '../../general/ui/mixins'

.myitemlist
  :width 142px
  :margin-top 28px
  :margin-left 8px
  :overflow hidden
  :position relative
  :float left

  .itemlisttitle
    :margin-bottom 8px
    :float left
    :background-color white
    :border 1px solid #7E989A
    @include border-radius(4px)
    :font-size 13px
    :font-weight bold
    :padding 2px 6px 2px 6px

    &:hover
      :background-color #F5F5F5

  .itemlistcontent
    :width 142px
    :overflow hidden

    .itemlistrow
      :width 142px
      :height 50px
      :margin-bottom 7px

      .itemimage
        :width 50px
        :height 50px
        :float left
        :position relative

        .nameback
          :width 50px
          :height 18px
          :background-color #747474
          @include opacity(0.6)
          @include border-radius-bottom-noie(2px)
          :position absolute
          :left 0px
          :top 32px

        .itemname
          :position absolute
          :left 1px
          :bottom 0px
          :font-size 12px
          :color #FFFFFF

      .itemmsg
        :margin-left 4px
        :width 86px
        :height 50px
        :background none repeat scroll 0 0 #A8AAAD
        :overflow hidden
        @include border-radius(4px)
        :float left
        :font-size 12px
        :display block
        :text-align right
       
        a 
          :color #000000
            
          &:hover
            :color yellow


.imageboard 
  width: 800px
  float: left
  position: relative

  .hidebutton
    :float right
    :font-size 12px
    :position absolute
    :right 10px

  .imageheard
    :float left
    :width 800px
    :font-size 18px

  .imagearea
    :width 800px
    :overflow hidden
    :margin-bottom 40px

    .oneitem 
      :float left
      :width 100px
      :margin-right 14px
      :margin-bottom 5px 
      .image
        :width 100px
        :position relative
        :float left
        .nameback
          :width 100px
          :height 25px
          :background-color #747474
          @include opacity(0.5)
          @include border-radius-bottom-noie(8px)
          :position absolute
          :left 0px
          :top 75px

        .itemname
          :position absolute
          :left 3px
          :bottom 4px
          :font-size 16px
          :font-weight bold
          :color #FFFFFF

      .iteminfo 
        :width 100px
        :float left
        a, a.selected
          :overflow hidden
          :float left
          :margin-left 1px
          :text-align left
          :cursor pointer

        a
          :color #00a2b7
        a.selected
          :color #D7D2CC

        span.detail 
          :overflow hidden
          :text-align right
          :float right
          :white-space nowrap
          :margin-right 1px

span.title 
  overflow: show
  text-align: left
  float: left
  display: inline
  height: 20px


