@import '../../general/ui/mixins'

$darkgray: #74777B

.itemleft
  :width 220px
  :float left

  .item_image
    :width 200px
    :position relative
    :overflow hidden
    :margin-bottom 10px

    img
      @include border-radius(6px)
    
    .item_name
      :position absolute
      :left 6px
      :bottom 6px
      :font-size 25px
      :font-weight bold
      :color #FFFFFF

  .item_desc
    :width 200px
    :display block
    :float left
    :text-align left
    :font-size 18px
    :color $darkgray 
    :margin-bottom 10px

  .check_area
    :width 200px
    :float left
    :overflow hidden
    :display block
    :font-size 13px
    :margin-bottom 15px
 
  .topics_area
    :width 220px
    :float left
    :background-color #fff
    :margin-bottom 15px
    :padding 10px
    @include border-radius-noie(4px)

    .title
      :width 220px
      :position relative
      :float left
      :padding-bottom 5px
      :border-bottom 1px solid #d5ddde

      .flag_name
        :color #FC4469
        :font-size 14px
        :font-weight bold
        :float left

      .link_more
        :position absolute
        :right 4px
        
        a
          border: 1px solid #DCE4E6
          color: #888888
          font-size: 11px
          font-weight: bold
          height: 20px
          padding: 2px 4px 0 6px
          @include border-radius-noie(3px)

    .topics
      :float left
      :width 220px
      :padding-bottom 5px

  .item_star
    :width 220px
    :float left
    :padding 10px
    :background-color #fff
    @include border-radius-noie(4px)
    
    .star_title
      :margin-top 3px
      :width 216px
      :float left
      :padding-bottom 5px
      :border-bottom 1px solid #d5ddde

      .title_name
        :float left
        :font-size 14px
        :color #FC4469
        :font-weight bold
        :float left

    .stars
      :float left
      :width 220px
      :padding-bottom 5px

      .star_one
        :float left
        :width 50px
        :height 50px
        :margin-right 5px
        :margin-top 5px
     
        img
          @include border-radius-noie(3px)

.itemright
  :width 700px
  :margin-left 25px
  :float left

  .item_info
    :width 700px
    :height 100px
    :overflow hidden
    :margin-left 0px
    :margin-bottom 20px

    .info_ele
      :margin-top 1px
      :margin-left 20px
      :float left

  .hot_title
    :width 700px
    :display block
    :float left
    :position relative

    .title
      :margin-left 20px
      :float left
    .link
      :margin-right 10px
      :float right
      :text-align right
      :position absolute
      :bottom 12px
      :right 5px

      a
        :font-size 13px
        :color blue

  .hot_area
    :width 700px
    :margin-left 20px
    :margin-bottom 20px
    :overflow hidden
    
.item_mark, .item_unmark
  :width 100px
  :height 40px
  :display block
  :margin-bottom 7px

.item_mark
  :background-color #8DBC6E
  span
    background: url(/images/ui/icon-check.png) no-repeat 0 50%
    :padding-left 18px
  &:hover
    :background-color #e76b75
    span
      :color #f9c
      background: url(/images/ui/icon-x.png) no-repeat 0 50%

.item_unmark
  :background-color lightGrey
  span
    :padding-left 18px
    background: url(/images/ui/follow-gray.gif) no-repeat 0 50%
    :color #999
  &:hover
    :background-color #8aba56
    span
      background: url(/images/ui/follow-white.gif) no-repeat 0 50%
      :color white



