.feed_tabs
  %br
  %br
  %h2="动态"
  %ul
    %a{"data-remote" =>"true", :href => "/home/show_post"}
      %li.active
        ='评论'
    %a{"data-remote" =>"true", :href => "/home/show_event"}
      %li
        ='活动'

.feed_container
  = render :partial => 'status_messages/status_message_element',
         :collection => @posts,
         :as => :post
:javascript
  $( "li" ).click( function( ){
    $( ".active" ).removeClass( "active" ); 
    $(this).addClass( "active" );
    }
  );
