.status_message_panel
  = form_for(StatusMessage.new, :remote => true) do |status|
    .photo_form
      = status.text_area :content
      %ul#photozone
      #file-upload
        = image_tag '/images/ui/camera.svg', :height => 14
    = status.submit "分享", :class => 'button'
  

  #fileInfo

=render 'photos/new_photo'

:javascript
  $( function( ){
    textarea = $(".status_message_panel textarea");
    textarea.focus( function(  ){ 
      form = textarea.closest( "form" );
      form.addClass( "with_photos" );
      
    } );
  
     } );
