%embed{:type=>"application/x-shockwave-flash", :src => "", :id => 'fuck', 
      :width=>"490", :height=>"420", :allowscriptaccess=>"always", :allowfullscreen=>"true", 
      :flashvars=>"showAd=0&amp;isShowRelatedVideo=false&amp;winType=interior"}
