- content_for :head do
  =include_javascripts :show_photo
.span-24.last
  .span-20.append-2.prepend-2.last
    .stream.status_message_show
      =render 'status_messages/status_message_element',:post => @post

:javascript
   $( ".replay" ).live( "click",function( ){  
    stream_element = $( this ).closest(".stream_element");
    commentBlock = stream_element.find(".comment_form");

    comments = stream_element.find(".comments");
    if(commentBlock.hasClass("hide")) {
      if( $( ".comment",comments ).length != 0 ){
        comments.addClass( "big" );
        comments.removeClass("hide");
      }
      commentBlock.removeClass("hide");
      commentBlock.find("textarea").focus();
    } else {
        if( $( ".comment",comments ).length > 3 || $( ".comment",comments ).length == 0 ){
          comments.addClass( "hide" );
        }
        commentBlock.addClass("hide");
      }  
    return false;
    }); 

