.span-24.prepend-top
  .span-21
    %h1= t 'items.items_list' 
  .span-3.last
    = link_to t('items.new_item'), new_item_path, :class => 'butten new_item'
.span-24
  %hr
  - @items.each_with_index do |item, index|
    .span-6.last.append-bottom
      %h3= link_to item.name, item, :class => "nounderline"
      = render "item_detail", :item => item      

:javascript
  $(function() {
    $('.new_item').button({
      icons: {
        primary: 'ui-icon-plusthick'
      }
    });  
  });


