@import '../ui/mixins'
.header
  :background url("/images/ui/header_background_warm.jpg") repeat-x scroll left top 
  :overflow hidden
  :text-align left
  :height 39px
  :position fixed
  :z-index 50
  :width 100%

  .message_count
    background: url("/images/ui/message_count.png") no-repeat scroll transparent
    background-position: 0 -240px
    color: #FFFFFF
    display: inline-block 
    height: 21px
    padding-left: 8px
    text-shadow: 0 -1px 0 #6FA13C
    span
      background: url("/images/ui/message_count.png") no-repeat scroll transparent
      background-position: 100% -288px
      display: block
      text-align: center
      span
        background: url("/images/ui/message_count.png") no-repeat scroll transparent
        background-position: 0 -336px
        color: #FFFFFF
        cursor: pointer
        display: block
        font-size: 11px
        line-height: 11px
        margin-right: 8px
        padding: 4px 0 6px
  .logo
    :display inline-block
    :float left
    :margin-left 100px
    :padding-top 3px
    
    h2
      :color #FF7D56

  .sections
    :float left
    :font-size 12px
    :padding-left 40px
  ul
    :list-style none
    :padding
      :left 0
  li
    float: left
    margin-right: 1px
    a
      color: #FCFCFC
      display: block
      float: left
      padding: 11px 10px
      text-decoration: none

      &:hover, .active 
        :background-color #FCFCFC 
        :background-position left bottom
        :color #000000
        :text-decoration none 

      .active
        :font-size 11px
        :font-weight bold
  
  li#search
    
    input
      :border 0 none
      :margin-top 10px
      :height 15px
      :color #8a8a8a
      :font-size 11px
      :width 120px
      :background url("/images/layout/button.png") repeat-x scroll 100% -492px #ffffff

    
  .setting
    :display inline
    li 
      :position relative
      :margin-left 400px
      .avatar
        :position absolute
        :top 5px
        :left 3px
        :width 20px
        :height 20px
      a
        :padding
          :right 2px
        :display inline
        .name
          :display inline
          :margin-left 22px
        .icon
          :display inline
          :background url("/images/ui/icons.png") repeat 10px -2588px 

.accout
  :margin-top 40px
  :width 60px
  ul
    :text-align center
  li
    :margin 5px
  a
    :padding
      :left 3px
      :top 3px
      :right 21px
      :bottom 3px

    &:hover
      :background-color #5179AC
      :color #FFFFFF
      :text-decoration none

