#recent_topics a.topic_link {
  display: block;
  padding-top: 5px; }
  #recent_topics a.topic_link:hover {
    background-color: #f5f5f5; }
  #recent_topics a.topic_link .topic {
    border-bottom: 1px dashed #dddddd;
    margin-top: 0px; }
    #recent_topics a.topic_link .topic .avatar {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 40px;
      height: 40px; }
      #recent_topics a.topic_link .topic .avatar img {
        width: 40px;
        height: 40px; }
      #recent_topics a.topic_link .topic .avatar .back_bar {
        width: 40px;
        position: absolute;
        bottom: 0px;
        background-color: #747474;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        -moz-border-radius-bottomleft: 2px;
        -moz-border-radius-bottomright: 2px;
        -webkit-border-bottom-left-radius: 2px;
        -webkit-border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px; }
      #recent_topics a.topic_link .topic .avatar .item_name {
        font-size: 9px;
        position: absolute;
        bottom: 0px;
        color: white;
        margin-left: 3px; }
    #recent_topics a.topic_link .topic .content {
      display: inline-block;
      width: 200px;
      padding-left: 10px; }
      #recent_topics a.topic_link .topic .content h4 {
        margin-top: 0px;
        margin-bottom: 3px;
        font-size: 13px;
        color: #71715b; }
      #recent_topics a.topic_link .topic .content .desc span {
        color: #888888;
        font-size: 11px; }
      #recent_topics a.topic_link .topic .content .info {
        text-align: right; }
        #recent_topics a.topic_link .topic .content .info span {
          color: #aaaaaa;
          font-size: 11px;
          line-height: 11px; }
