.topic_row {
  display: block;
  margin-top: 5px; }
  .topic_row .topic_name {
    font-size: 12px;
    margin-top: 4px; }
    .topic_row .topic_name a {
      color: #71715b; }
      .topic_row .topic_name a:hover {
        text-decoration: underline; }
  .topic_row .topic_date {
    text-align: right;
    margin-right: 3px;
    font-size: 10px;
    color: #5c5c5c; }
