.topic_row {
  margin-left: 1px;
  display: block;
  border-bottom: 1px dashed #d5ddde; }
  .topic_row .topic_name {
    text-align: left;
    font-size: 14px;
    margin-top: 4px;
    margin-left: 6px; }
    .topic_row .topic_name a {
      color: #cc3300; }
  .topic_row .topic_date {
    text-align: right;
    margin-right: 3px;
    font-size: 10px;
    color: #5c5c5c; }
