.topic_area {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  width: 660px; }
  .topic_area .topic_info {
    float: left;
    position: relative;
    background-color: white;
    width: 630px;
    padding: 20px 10px 10px 20px; }
    .topic_area .topic_info .tfollow, .topic_area .topic_info .detfollow {
      display: block;
      width: 60px;
      height: 30px;
      position: absolute;
      top: -10px;
      right: 10px;
      font-size: 13px;
      line-height: 30px; }
    .topic_area .topic_info .detfollow {
      background-color: #8dbc6e; }
      .topic_area .topic_info .detfollow span {
        background: url(/images/ui/icon-check.png) no-repeat 0 50%;
        padding-left: 18px; }
      .topic_area .topic_info .detfollow:hover {
        background-color: #e76b75; }
        .topic_area .topic_info .detfollow:hover span {
          color: #e76b75;
          background: url(/images/ui/icon-x.png) no-repeat 0 50%; }
    .topic_area .topic_info .tfollow {
      background-color: lightGrey; }
      .topic_area .topic_info .tfollow span {
        padding-left: 18px;
        background: url(/images/ui/follow-gray.gif) no-repeat 0 50%;
        color: #777777; }
      .topic_area .topic_info .tfollow:hover {
        background-color: #8aba56; }
        .topic_area .topic_info .tfollow:hover span {
          background: url(/images/ui/follow-white.gif) no-repeat 0 50%;
          color: white; }
    .topic_area .topic_info .topic_image {
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 10px; }
    .topic_area .topic_info .topic_msg {
      width: 510px;
      height: 112px;
      float: left;
      margin-left: 2px; }
      .topic_area .topic_info .topic_msg .title {
        position: relative;
        width: 510px; }
        .topic_area .topic_info .topic_msg .title h3.topic_name {
          position: relative;
          color: black;
          width: 430px;
          margin-bottom: 5px;
          font-size: 15px;
          font-weight: bold; }
          .topic_area .topic_info .topic_msg .title h3.topic_name a.edit_topic {
            font-size: 13px; }
            .topic_area .topic_info .topic_msg .title h3.topic_name a.edit_topic:hover {
              text-decoration: underline; }
          .topic_area .topic_info .topic_msg .title h3.topic_name .topic_box {
            top: 15px;
            left: 0px; }
      .topic_area .topic_info .topic_msg .topic_owner {
        color: black;
        margin-top: 10px;
        font-size: 12px;
        width: 510px; }
        .topic_area .topic_info .topic_msg .topic_owner .followers_count {
          display: inline;
          float: right;
          color: blue;
          font-size: 12px;
          margin-right: 15px; }
      .topic_area .topic_info .topic_msg .topic_des {
        font-size: 12px;
        color: #666666;
        margin-top: 10px; }
  .topic_area .post_area {
    width: 660px;
    float: left;
    border-bottom: 1px solid #eceae8;
    overflow: hidden; }
    .topic_area .post_area .feed_toolbar {
      width: 640px;
      margin-top: 0; }
    .topic_area .post_area .post_element_panel {
      margin-top: 0 !important; }
      .topic_area .post_area .post_element_panel .stream_element {
        background-color: white;
        border: none;
        margin-bottom: 2px; }
      .topic_area .post_area .post_element_panel .pagination {
        position: absolute;
        bottom: -40px;
        left: 315px; }

.right_column {
  float: left;
  width: 256px; }
  .right_column .follow_action {
    width: 256px;
    height: 112px;
    float: left;
    margin-top: 10px;
    position: relative; }
  .right_column .related {
    width: 256px;
    margin-top: 20px;
    float: left; }
    .right_column .related .related_title {
      width: 256px;
      position: relative;
      float: left;
      margin-bottom: 10px; }
      .right_column .related .related_title .name {
        color: white;
        font-size: 16px;
        background-color: #bdbda3;
        font-weight: bold;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        behavior: url(/javascripts/PIE.htc);
        padding: 1px 3px 1px 3px;
        position: absolute;
        left: 0px; }
      .right_column .related .related_title .link_more {
        position: absolute;
        right: 4px; }
    .right_column .related .related_topics {
      float: left;
      width: 256px;
      margin-top: 30px;
      background-color: #f4f4f4;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      behavior: url(/javascripts/PIE.htc); }
  .right_column .topic_followers {
    width: 250px;
    margin-top: 15px;
    float: left;
    overflow: show; }
    .right_column .topic_followers .followers_title {
      width: 51px;
      font-size: 16px;
      color: white;
      font-weight: bold;
      background-color: #bdbda3;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      behavior: url(/javascripts/PIE.htc);
      padding: 1px 3px 1px 3px;
      margin-bottom: 10px; }
    .right_column .topic_followers .followers {
      width: 254px;
      float: left;
      background-color: white;
      padding-bottom: 10px; }
      .right_column .topic_followers .followers .follower {
        float: left;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: 10px; }
