.topic_item {
  float: left;
  width: 580px;
  border-top: 1px solid #d5ddde;
  padding: 10px;
  position: relative; }
  .topic_item a.post_count {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    background-color: #bdbda3;
    color: white;
    padding: 5px 8px;
    line-height: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .topic_item .pic {
    float: left;
    width: 65px;
    height: 65px;
    margin-right: 5px;
    position: relative; }
    .topic_item .pic img {
      width: 65px;
      height: 65px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .topic_item .pic .back_bar {
      position: absolute;
      bottom: 0px;
      background-color: #747474;
      width: 65px;
      float: left;
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    .topic_item .pic .item_name {
      position: absolute;
      bottom: 0px;
      font-size: 11px;
      margin-left: 2px; }
      .topic_item .pic .item_name span {
        color: white; }
  .topic_item .content {
    float: left;
    width: 505px; }
    .topic_item .content .name {
      width: 470px;
      float: left; }
      .topic_item .content .name a.t_content {
        font-size: 15px;
        color: #333333;
        float: left;
        line-height: 20px; }
        .topic_item .content .name a.t_content:hover {
          text-decoration: underline; }
    .topic_item .content .desc {
      width: 430px;
      float: left; }
      .topic_item .content .desc span {
        color: #999999; }
    .topic_item .content .author {
      position: absolute;
      bottom: 0;
      right: 0; }
      .topic_item .content .author span {
        color: #999999;
        line-height: 14px; }
        .topic_item .content .author span a {
          color: #999999;
          text-decoration: underline; }
          .topic_item .content .author span a:hover {
            color: #666666; }
