.popup_box {
  position: absolute;
  top: 20px;
  left: 55px;
  margin-top: 5px;
  width: 500px;
  height: 300px;
  float: left;
  z-index: 2000; }
  .popup_box .box_border_left, .popup_box .box_border_right,
  .popup_box .box_border_top, .popup_box .box_border_bottom {
    float: left;
    background: url("/images/ui/popup_box_border.png") repeat scroll 0 0 transparent;
    opacity: 0.5; }
  .popup_box .box_border_top, .popup_box .box_border_bottom {
    height: 5px;
    width: 500px; }
  .popup_box .box_center {
    float: left;
    width: 500px;
    height: 290px; }
    .popup_box .box_center .box_border_left, .popup_box .box_center .box_border_right {
      height: 290px;
      width: 5px; }
    .popup_box .box_center .box_content {
      position: relative;
      background-color: white;
      float: left;
      padding: 10px 20px;
      width: 450px;
      height: 270px;
      z-index: 1999; }
      .popup_box .box_center .box_content ul.title_bar {
        float: left;
        display: block;
        width: 450px;
        padding-bottom: 5px;
        border-bottom: 1px solid #d5ddde;
        margin-bottom: 20px; }
        .popup_box .box_center .box_content ul.title_bar img {
          margin-left: 50px; }
        .popup_box .box_center .box_content ul.title_bar li {
          float: left;
          margin: 0;
          padding: 0; }
          .popup_box .box_center .box_content ul.title_bar li a {
            margin-right: 8px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            background-color: white;
            border: none;
            font-size: 13px;
            font-weight: bold;
            padding: 3px 6px; }
            .popup_box .box_center .box_content ul.title_bar li a:hover {
              background-color: #e1e1e1; }
          .popup_box .box_center .box_content ul.title_bar li a.select {
            background-color: #697d84;
            color: white; }
            .popup_box .box_center .box_content ul.title_bar li a.select:hover {
              background-color: #697d84; }
        .popup_box .box_center .box_content ul.title_bar li.browse {
          margin-right: 15px; }
          .popup_box .box_center .box_content ul.title_bar li.browse a {
            background-color: white;
            color: #277098; }
            .popup_box .box_center .box_content ul.title_bar li.browse a:hover {
              background-color: white; }
      .popup_box .box_center .box_content a.close_box {
        position: absolute;
        top: 10px;
        right: 10px;
        background: url("/images/ui/cross_close_icon.png") no-repeat scroll -26px 0 transparent;
        margin: 0 0 0 10px;
        text-indent: -9999px;
        width: 16px; }
        .popup_box .box_center .box_content a.close_box:hover {
          background-position: 0 0; }
      .popup_box .box_center .box_content h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid #d5ddde; }
      .popup_box .box_center .box_content #select_topic_area {
        margin-top: 5px;
        float: left;
        width: 450px; }
        .popup_box .box_center .box_content #select_topic_area .select_topic .filter_area {
          width: 450px;
          float: left;
          margin-top: -20px; }
          .popup_box .box_center .box_content #select_topic_area .select_topic .filter_area h4 {
            margin-bottom: 5px; }
          .popup_box .box_center .box_content #select_topic_area .select_topic .filter_area a {
            border-right: 1px solid #dddddd;
            height: 14px;
            padding: 0 5px 0 0;
            margin: 5px 5px 15px 0;
            font-size: 13px; }
          .popup_box .box_center .box_content #select_topic_area .select_topic .filter_area a.last {
            border: none; }
          .popup_box .box_center .box_content #select_topic_area .select_topic .filter_area a.select {
            color: #444444; }
          .popup_box .box_center .box_content #select_topic_area .select_topic .filter_area img {
            margin-left: 10px;
            margin-top: 5px; }
        .popup_box .box_center .box_content #select_topic_area .select_topic .result_area {
          margin-top: 8px;
          float: left;
          width: 450px; }
          .popup_box .box_center .box_content #select_topic_area .select_topic .result_area a.topic_item {
            background-color: #f5f5f5;
            display: block;
            float: left;
            margin-bottom: 10px;
            margin-right: 8px;
            font-size: 13px;
            line-height: 13px;
            padding: 5px 8px;
            color: #778087;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            behavior: url(/javascripts/PIE.htc); }
            .popup_box .box_center .box_content #select_topic_area .select_topic .result_area a.topic_item:hover {
              background-color: #9999aa;
              color: white; }
