.select_area {
  float: left;
  margin-bottom: 10px; }
  .select_area a.person_block {
    display: block;
    width: 121px;
    padding: 2px;
    border: 1px solid #d8dfea;
    background: url("/images/ui/bg-range-container-h.gif") no-repeat scroll 110px 38px white;
    float: left;
    margin: 0 3px 5px 0; }
    .select_area a.person_block:hover {
      background: url("/images/ui/bg-range-container-h.gif") no-repeat scroll 110px 38px #e0f4f5;
      border-color: #f3e8ea;
      color: #78ad55; }
    .select_area a.person_block .avatar {
      float: left;
      margin-right: 3px; }
      .select_area a.person_block .avatar img {
        width: 70px;
        height: 70px; }
    .select_area a.person_block p.person_name {
      float: left;
      width: 64px;
      word-wrap: break-word;
      height: 30px;
      overflow: hidden; }
  .select_area a.person_block.selected {
    background: url("/images/ui/bg-range-container-active.gif") no-repeat scroll 110px 38px #e0f4f5;
    color: #78ad55; }
