ul.nav {
  width: 200px; }
  ul.nav li a {
    background-color: white;
    padding-left: 10px;
    width: 190px;
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
    color: #00a2b7;
    height: 45px;
    line-height: 45px; }
    ul.nav li a:hover {
      background: url("/images/ui/arrow2.gif") no-repeat scroll 180px 50% white !important;
      color: #f74367;
      text-decoration: none; }
  ul.nav li a.current {
    background: url("/images/ui/arrow2.gif") no-repeat scroll 180px 50% white !important;
    color: #f74367;
    text-decoration: none; }
