.title {
  margin-bottom: 0; }

hr.nav {
  background-color: #b9bcbd;
  color: #4d4d4d; }

.person_element {
  float: left;
  margin: 5px 15px 0px 10px; }

.topics_area {
  width: 904px;
  padding: 20px;
  background-color: white;
  border: 3px solid #d5ddde;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  behavior: url(/javascripts/PIE.htc); }

.new_button {
  float: left;
  width: 60px;
  height: 20px;
  background-color: #00bed4;
  line-height: 20px;
  font-size: 13px; }
  .new_button:hover {
    margin-top: 2px;
    background-color: #e76875; }

ul.nav {
  width: 200px; }
  ul.nav li a {
    background-color: white;
    width: 160px;
    display: block;
    padding: 0px 10px;
    margin-bottom: 3px;
    font-size: 14px;
    color: #00a2b7;
    height: 45px;
    line-height: 45px; }
    ul.nav li a:hover {
      background: url("/images/ui/arrow2.gif") no-repeat scroll 160px 50% white !important;
      color: #f74367;
      text-decoration: none; }
  ul.nav li a.current {
    background: url("/images/ui/arrow2.gif") no-repeat scroll 160px 50% white !important;
    color: #f74367;
    text-decoration: none; }
  ul.nav li a.inactive {
    color: #d5ddde; }
    ul.nav li a.inactive:hover {
      background: none no-repeat scroll 160px 50% white !important;
      color: #d5ddde; }

.invite_friends_area {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  behavior: url(/javascripts/PIE.htc);
  background-color: white;
  padding: 15px; }
  .invite_friends_area .button_container {
    height: 40px;
    width: 200px;
    float: left; }
    .invite_friends_area .button_container .invite_button {
      float: left;
      width: 60px;
      height: 20px;
      background-color: #8dbc6e;
      line-height: 20px;
      font-size: 13px;
      margin-right: 15px; }
      .invite_friends_area .button_container .invite_button:hover {
        margin-top: 2px;
        background-color: #e76875; }

.group_avatar {
  width: 180px;
  margin-bottom: 10px; }
  .group_avatar img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url(/javascripts/PIE.htc);
    width: 180px;
    height: 180px; }

.title_bar {
  padding-bottom: 10px; }
  .title_bar .group_logo {
    float: left; }
    .title_bar .group_logo .avatar {
      background-color: white;
      border: 1px solid #e5e5e5;
      padding: 4px;
      float: left; }
      .title_bar .group_logo .avatar img {
        height: 80px;
        width: 80px; }
    .title_bar .group_logo h2 {
      float: left;
      margin-left: 10px; }

.select_invitees {
  width: 650px;
  float: left; }
