.edit_group_members .group_avatar {
  width: 180px;
  margin-bottom: 10px; }
  .edit_group_members .group_avatar img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url(/javascripts/PIE.htc);
    width: 200px;
    height: 200px;
    background-color: white; }

.members {
  background-color: white;
  width: 670px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  behavior: url(/javascripts/PIE.htc);
  float: left;
  padding: 20px; }
  .members .button_container {
    height: 40px;
    width: 200px;
    float: left; }
    .members .button_container .delete_button {
      float: left;
      width: 60px;
      height: 20px;
      background-color: #8dbc6e;
      line-height: 20px;
      font-size: 13px;
      margin-right: 15px; }
      .members .button_container .delete_button:hover {
        margin-top: 2px;
        background-color: #e76875; }

.nav_back {
  color: #f74367; }
  .nav_back:hover {
    color: #00a2b7; }
