.event_item {
  padding: 10px 0 10px 0; }
  .event_item .pic {
    margin-left: 10px; }
  .event_item .description .title {
    display: inline; }
  .event_item .description p {
    margin-bottom: 0; }
  .event_item .description .participants {
    color: #f6b24d;
    display: inline; }

.odd {
  background-color: #f8f8f8; }

.even {
  background-color: #e8f3f7; }

.events_panel .event_box_panel .event_box {
  margin-left: 5px; }

.title_bar {
  padding-bottom: 10px; }
  .title_bar .group_logo {
    float: left; }
    .title_bar .group_logo .avatar {
      background-color: white;
      border: 1px solid #e5e5e5;
      padding: 4px;
      float: left; }
    .title_bar .group_logo h2 {
      float: left;
      margin-left: 10px; }
