/*
Syntax error: Inconsistent indentation: 3 spaces were used for indentation, but the rest of the document was indented using 2 spaces.
        on line 8 of ./public/stylesheets/sass/special_pages/groups/group_panel.sass

3: .group_box_panel
4:   a
5:     :outline none
6:     :text-decoration none
7:     :cursor pointer
8:    :
9:     &:hover
10:       .group_message
11:         .group_title
12:           :color #11BACD
13:         .group_detail

Backtrace:
./public/stylesheets/sass/special_pages/groups/group_panel.sass:8
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/engine.rb:402:in `block in tabulate'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/engine.rb:360:in `each'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/engine.rb:360:in `each_with_index'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/engine.rb:360:in `tabulate'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/engine.rb:323:in `_to_tree'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/warden-1.0.5/lib/warden/manager.rb:35:in `block in call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:32:in `block in call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:12:in `cache'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:31:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/activesupport-3.0.10/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/railties-3.0.10/lib/rails/rack/logger.rb:13:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/activesupport-3.0.10/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/actionpack-3.0.10/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/railties-3.0.10/lib/rails/application.rb:168:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/railties-3.0.10/lib/rails/application.rb:77:in `method_missing'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/railties-3.0.10/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/Users/piggytommy/.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/Users/piggytommy/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/piggytommy/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/piggytommy/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: 3 spaces were used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 8 of ./public/stylesheets/sass/special_pages/groups/group_panel.sass\A \A 3: .group_box_panel\A 4:   a\A 5:     :outline none\A 6:     :text-decoration none\A 7:     :cursor pointer\A 8:    :\A 9:     &:hover\A 10:       .group_message\A 11:         .group_title\A 12:           :color #11BACD\A 13:         .group_detail"; }
