.group_box_panel a {
  outline: none;
  text-decoration: none;
  cursor: pointer; }
.group_box_panel .group_box {
  width: 300px;
  height: 110px;
  border: 3px solid #d5ddde;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/javascripts/PIE.htc);
  background-color: white;
  float: left;
  margin: 0 10px 14px 15px; }
  .group_box_panel .group_box .group_image {
    width: 110px;
    height: 100px;
    margin: 5px;
    float: left; }
    .group_box_panel .group_box .group_image img {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      behavior: url(/javascripts/PIE.htc); }
  .group_box_panel .group_box .group_message {
    width: 180px;
    height: 110px;
    float: left;
    overflow: hidden;
    display: block;
    position: relative; }
    .group_box_panel .group_box .group_message .group_title {
      width: 175px;
      height: 44px;
      color: #fc4469;
      font-size: 16px;
      font-weight: bold;
      float: left;
      margin-top: 1px;
      overflow: hidden; }
    .group_box_panel .group_box .group_message .group_detail {
      width: 180px;
      float: left;
      position: absolute;
      right: 0px;
      bottom: 5px; }
      .group_box_panel .group_box .group_message .group_detail .detail_piece {
        width: 53px;
        height: 58px;
        margin-right: 5px;
        overflow: hidden;
        float: left;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        behavior: url(/javascripts/PIE.htc);
        background-color: #e9eff0;
        position: relative; }
        .group_box_panel .group_box .group_message .group_detail .detail_piece .number {
          margin-top: 3px;
          width: 55px;
          font-size: 18px;
          text-align: center;
          font-weight: bold;
          float: left;
          color: #97b48a; }
        .group_box_panel .group_box .group_message .group_detail .detail_piece .name {
          width: 55px;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          float: left;
          position: absolute;
          color: #97b48a;
          bottom: 5px; }
