/*
Syntax error: Inconsistent indentation: 3 spaces were used for indentation, but the rest of the document was indented using 2 spaces.
        on line 8 of ./public/stylesheets/sass/special_pages/groups/group_panel.sass

3: .group_box_panel
4:   a
5:     :outline none
6:     :text-decoration none
7:     :cursor pointer
8:    :
9:     &:hover
10:       .group_message
11:         .group_title
12:           :color #11BACD
13:         .group_detail

Backtrace:
./public/stylesheets/sass/special_pages/groups/group_panel.sass:8
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/engine.rb:402:in `block in tabulate'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/engine.rb:360:in `each'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/engine.rb:360:in `each_with_index'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/engine.rb:360:in `tabulate'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/engine.rb:323:in `_to_tree'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.5/lib/warden/manager.rb:35:in `block in call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:32:in `block in call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:12:in `cache'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:31:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.10/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.10/lib/rails/rack/logger.rb:13:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.10/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.10/lib/rails/application.rb:168:in `call'
/Users/alyosha/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.10/lib/rails/application.rb:77:in `method_missing'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/rack/request_handler.rb:96:in `process_request'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/abstract_request_handler.rb:513:in `accept_and_process_next_request'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/abstract_request_handler.rb:274:in `main_loop'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/rack/application_spawner.rb:205:in `start_request_handler'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/rack/application_spawner.rb:170:in `block in handle_spawn_application'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/utils.rb:479:in `safe_fork'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/rack/application_spawner.rb:165:in `handle_spawn_application'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/abstract_server.rb:180:in `start'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/rack/application_spawner.rb:128:in `start'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/spawn_manager.rb:253:in `block (2 levels) in spawn_rack_application'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/abstract_server_collection.rb:132:in `lookup_or_add'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/spawn_manager.rb:246:in `block in spawn_rack_application'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/abstract_server_collection.rb:82:in `block in synchronize'
<internal:prelude>:10:in `synchronize'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/abstract_server_collection.rb:79:in `synchronize'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/spawn_manager.rb:244:in `spawn_rack_application'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/spawn_manager.rb:137:in `spawn_application'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/spawn_manager.rb:275:in `handle_spawn_application'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/Users/alyosha/.passenger/standalone/3.0.7-x86_64-ruby1.9.2-macosx-10.7/support/helper-scripts/passenger-spawn-server:99:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: 3 spaces were used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 8 of ./public/stylesheets/sass/special_pages/groups/group_panel.sass\A \A 3: .group_box_panel\A 4:   a\A 5:     :outline none\A 6:     :text-decoration none\A 7:     :cursor pointer\A 8:    :\A 9:     &:hover\A 10:       .group_message\A 11:         .group_title\A 12:           :color #11BACD\A 13:         .group_detail"; }
