.group_avatar {
  float: left;
  width: 208px; }
  .group_avatar img {
    border: 1px solid #dddddd; }

.group_des {
  float: left;
  width: 480px;
  padding: 0 10px 0 10px;
  border-right: 1px solid #dddddd; }

.group_info {
  float: left;
  width: 190px;
  margin-left: 9px; }
  .group_info p {
    margin: 0; }
