.hot_groups {
  width: 904px;
  padding: 20px 20px 0 20px;
  border: 3px solid #d5ddde;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  behavior: url(/javascripts/PIE.htc);
  background-color: white;
  float: left; }

.hot_item_groups {
  width: 908px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  float: left;
  border-bottom: 1px dashed #e1e1e1; }
  .hot_item_groups .item_avatar {
    margin-right: 10px;
    float: left; }
    .hot_item_groups .item_avatar img {
      border: 1px solid #f2f2f2;
      width: 198px;
      height: 198px;
      -moz-border-radius: 14px;
      -webkit-border-radius: 14px;
      border-radius: 14px;
      behavior: url(/javascripts/PIE.htc); }
  .hot_item_groups .item_group {
    width: 120px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }
    .hot_item_groups .item_group img {
      width: 120px;
      height: 120px;
      border: 1px solid #f2f2f2;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      behavior: url(/javascripts/PIE.htc); }
      .hot_item_groups .item_group img:hover {
        border: 1px solid #10a3e1; }

.search_line {
  width: 908px;
  float: left;
  margin-bottom: 20px; }
  .search_line .filter_title {
    float: left;
    padding: 5px;
    background: none repeat scroll 0 0 #d4d4d4;
    width: 40px;
    font-size: 13px;
    text-align: center; }
    .search_line .filter_title a {
      color: white; }
  .search_line .filter_items {
    float: left;
    padding: 5px;
    margin-left: 10px;
    width: 828px; }
    .search_line .filter_items a {
      font-size: 13px;
      color: #56656c;
      margin-right: 5px;
      display: inline-block; }
    .search_line .filter_items a.current {
      color: #11a3e1; }

.search_result {
  width: 904px;
  float: left;
  padding: 20px;
  border: 3px solid #d5ddde;
  border-top: none;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  behavior: url(/javascripts/PIE.htc);
  background-color: white; }
  .search_result .group_by_search {
    float: left;
    width: 182px;
    height: 210px;
    margin: 0 40px 20px 0; }
    .search_result .group_by_search span.item_name {
      color: #ff6600; }
    .search_result .group_by_search img {
      width: 180px;
      height: 180px;
      border: 1px solid #f2f2f2;
      -moz-border-radius: 14px;
      -webkit-border-radius: 14px;
      border-radius: 14px;
      behavior: url(/javascripts/PIE.htc); }
      .search_result .group_by_search img:hover {
        border: 1px solid #10a3e1; }

#city_select_box {
  position: absolute;
  width: 100px;
  border: 1px solid #b9b9b9;
  padding: 10px;
  background-color: white; }

#switch_city {
  padding: 3px;
  text-decoration: none;
  border: 1px solid white; }
  #switch_city:hover {
    border: 1px solid #b9b9b9;
    color: #666666; }

.nav_bar h1, .nav_bar h3 {
  margin-bottom: 0px; }
.nav_bar .new_group {
  margin-top: 10px; }
