.left_column {
  color: #666666; }
  .left_column .avatar img {
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    behavior: url(/javascripts/PIE.htc);
    width: 198px;
    height: 198px;
    border: 1px solid #f2f2f2;
    background-color: white; }
  .left_column .nav ul {
    width: 200px; }
    .left_column .nav ul li a {
      background-color: white;
      width: 160px;
      display: block;
      padding: 0px 10px;
      margin-bottom: 3px;
      font-size: 14px;
      color: #00a2b7;
      height: 45px;
      line-height: 45px; }
      .left_column .nav ul li a:hover {
        background: url("/images/ui/arrow2.gif") no-repeat scroll 160px 50% white !important;
        color: #f74367;
        text-decoration: none; }
  .left_column .other_info {
    margin: 0px 0 5px 0; }
    .left_column .other_info .info_block {
      background-color: white;
      display: block;
      float: left;
      padding: 5px 5px 5px 10px;
      margin-right: 10px;
      width: 180px; }
      .left_column .other_info .info_block .edit_button {
        float: left;
        width: 30px;
        height: 15px;
        background-color: #8dbc6e;
        line-height: 15px;
        font-size: 12px; }
        .left_column .other_info .info_block .edit_button:hover {
          margin-top: 2px;
          background-color: #e76875; }
      .left_column .other_info .info_block span.info {
        float: left;
        display: block;
        font-size: 13px;
        padding: 5px 0;
        border-bottom: 1px dashed #e9eef1; }
        .left_column .other_info .info_block span.info .content, .left_column .other_info .info_block span.info .left {
          float: left; }
        .left_column .other_info .info_block span.info .left {
          width: 65px; }
        .left_column .other_info .info_block span.info .content {
          width: 115px; }
      .left_column .other_info .info_block span.des {
        color: #fc4469;
        font-size: 14px;
        height: 25px; }
  .left_column .new_operations {
    height: 22px; }
    .left_column .new_operations .new_button {
      background-color: #8dbc6e;
      float: left;
      width: 60px;
      height: 20px;
      line-height: 20px;
      font-size: 13px;
      margin-right: 10px; }
      .left_column .new_operations .new_button:hover {
        margin-top: 2px;
        background-color: #e76875; }
  .left_column .person_array {
    width: 220px;
    margin-bottom: 10px;
    float: left; }
    .left_column .person_array .avatar_container {
      float: left;
      margin-right: 5px; }
      .left_column .person_array .avatar_container .avatar {
        width: 45px;
        height: 45px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        behavior: url(/javascripts/PIE.htc); }

.right_column .new_event_panel {
  margin: 0 10px 14px 15px; }
.right_column .app_big_title_bar.last_one {
  margin-right: 0; }
.right_column .app_big_title_bar {
  margin-right: 20px; }
.right_column .group_title_bar {
  width: 630px;
  float: left;
  background-color: white;
  border: 3px solid #d5ddde;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  behavior: url(/javascripts/PIE.htc);
  padding: 17px; }
  .right_column .group_title_bar .status {
    color: #f78ca1; }
  .right_column .group_title_bar .operations {
    height: 40px; }
    .right_column .group_title_bar .operations .join_button {
      float: left;
      width: 60px;
      height: 20px;
      background-color: #00bed4;
      line-height: 20px;
      font-size: 13px; }
      .right_column .group_title_bar .operations .join_button:hover {
        margin-top: 2px;
        background-color: #e76875; }
    .right_column .group_title_bar .operations .join_button.quit {
      background-color: #e76875; }
      .right_column .group_title_bar .operations .join_button.quit:hover {
        margin-top: 2px;
        background-color: #00bed4; }
  .right_column .group_title_bar .group_desc {
    font-size: 1.2em;
    line-height: 1.7em;
    border-top: 1px dashed #d5ddde;
    padding-top: 10px; }
.right_column .events_panel {
  margin-top: 0; }
.right_column .topics_panel {
  background-color: white;
  width: 624px;
  padding: 20px;
  float: left;
  border: 3px solid #d5ddde;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  behavior: url(/javascripts/PIE.htc); }

a.more {
  margin-top: 25px; }
