.left_column {
  color: #666666; }
  .left_column .avatar img {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/javascripts/PIE.htc);
    width: 198px;
    height: 198px;
    border: 1px solid #f2f2f2;
    background-color: white; }
  .left_column .nav ul {
    width: 200px; }
    .left_column .nav ul li a {
      background-color: white;
      width: 160px;
      display: block;
      padding: 0px 10px;
      margin-bottom: 3px;
      font-size: 14px;
      color: #00a2b7;
      height: 45px;
      line-height: 45px; }
      .left_column .nav ul li a:hover {
        background: url("/images/ui/arrow2.gif") no-repeat scroll 160px 50% white !important;
        color: #f74367;
        text-decoration: none; }
  .left_column .other_info {
    margin: 0px 0 5px 0; }
    .left_column .other_info .info_block {
      background-color: white;
      display: block;
      float: left;
      padding: 5px 5px 5px 10px;
      margin-right: 10px;
      width: 185px; }
      .left_column .other_info .info_block .edit_button {
        float: left;
        width: 30px;
        height: 15px;
        background-color: #8dbc6e;
        line-height: 15px;
        font-size: 12px; }
        .left_column .other_info .info_block .edit_button:hover {
          margin-top: 2px;
          background-color: #e76875; }
      .left_column .other_info .info_block span.info {
        width: 180px;
        float: left;
        display: block;
        font-size: 13px;
        padding: 5px 0;
        border-bottom: 1px dashed #e9eef1; }
        .left_column .other_info .info_block span.info .content, .left_column .other_info .info_block span.info .left {
          float: left; }
        .left_column .other_info .info_block span.info .left {
          width: 65px; }
        .left_column .other_info .info_block span.info .content {
          width: 115px; }
      .left_column .other_info .info_block span.des {
        color: #fc4469;
        font-size: 14px;
        height: 25px; }
  .left_column .new_operations {
    height: 22px; }
    .left_column .new_operations .new_button {
      background-color: #8dbc6e;
      float: left;
      width: 60px;
      height: 20px;
      line-height: 20px;
      font-size: 13px;
      margin-right: 10px; }
      .left_column .new_operations .new_button:hover {
        margin-top: 2px;
        background-color: #e76875; }
  .left_column .members {
    padding: 10px;
    width: 180px;
    background-color: white; }
  .left_column .person_array {
    width: 220px;
    margin-top: 10px;
    float: left; }
    .left_column .person_array .avatar_container {
      float: left;
      margin-right: 2px; }
      .left_column .person_array .avatar_container .avatar {
        width: 43px;
        height: 43px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        behavior: url(/javascripts/PIE.htc); }

.right_column .app_header_box {
  margin-top: 50px; }
.right_column .new_event_panel {
  margin: 0 10px 14px 15px; }
.right_column .app_big_title_bar.last_one {
  margin-right: 0; }
.right_column .app_big_title_bar {
  margin-right: 20px; }
.right_column .status_info {
  padding: 20px;
  background-color: white;
  margin-top: 5px;
  border: 2px solid #eaeaea;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/javascripts/PIE.htc); }
  .right_column .status_info h3 {
    color: #fc4469; }
  .right_column .status_info p.audit_info {
    font-size: 14px;
    color: #444444; }
  .right_column .status_info .avatar span.info {
    display: block;
    float: right;
    font-size: 14px; }
  .right_column .status_info .avatar img {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 10px; }
  .right_column .status_info .reason_area {
    padding: 10px 0;
    border-top: 1px dashed #d5ddde;
    border-bottom: 1px dashed #d5ddde;
    margin: 10px 0; }
  .right_column .status_info .re_audit {
    font-size: 12px;
    color: #999999;
    height: 30px; }
    .right_column .status_info .re_audit span {
      float: left;
      display: block; }
.right_column .share_operations {
  float: left;
  padding: 5px;
  background-color: white;
  border: 3px solid #d5ddde;
  color: #fc4469;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/javascripts/PIE.htc); }
  .right_column .share_operations span {
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin: 0 5px 5px 0; }
  .right_column .share_operations #share_to_sina, .right_column .share_operations #share_to_qq {
    float: left;
    margin-right: 5px; }
  .right_column .share_operations #share_to_qq a {
    display: block;
    width: 32px;
    height: 32px; }
.right_column .group_title_bar {
  width: 630px;
  float: left;
  background-color: white;
  border: 3px solid #d5ddde;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(/javascripts/PIE.htc);
  padding: 17px; }
  .right_column .group_title_bar .status {
    color: #f78ca1; }
  .right_column .group_title_bar .operations {
    height: 40px; }
    .right_column .group_title_bar .operations .join_button {
      float: left;
      width: 60px;
      height: 20px;
      background-color: #00bed4;
      line-height: 20px;
      font-size: 13px; }
      .right_column .group_title_bar .operations .join_button:hover {
        margin-top: 2px;
        background-color: #e76875; }
    .right_column .group_title_bar .operations .join_button.quit {
      background-color: #e76875; }
      .right_column .group_title_bar .operations .join_button.quit:hover {
        margin-top: 2px;
        background-color: #00bed4; }
  .right_column .group_title_bar .group_desc {
    font-size: 1.2em;
    line-height: 1.7em;
    border-top: 1px dashed #d5ddde;
    padding-top: 10px; }
.right_column .group_tabs {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(/javascripts/PIE.htc); }
  .right_column .group_tabs .home_tabs {
    background: #f9f9f9 url("/images/ui/tabs-bg.png") repeat;
    height: 62px; }
    .right_column .group_tabs .home_tabs li {
      font-size: 16px;
      display: inline-block;
      float: left;
      height: 62px;
      line-height: 62px;
      width: 110px;
      text-align: center; }
      .right_column .group_tabs .home_tabs li a {
        padding: 10px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        behavior: url(/javascripts/PIE.htc);
        font-weight: bold;
        color: #999999; }
        .right_column .group_tabs .home_tabs li a:hover {
          background-color: #e1e1e1;
          color: #697d84; }
      .right_column .group_tabs .home_tabs li a.current {
        background-color: #697d84;
        color: white; }
    .right_column .group_tabs .home_tabs .app_big_link_button {
      margin-right: 10px; }
.right_column .events_panel {
  margin-top: 0;
  background-color: white;
  padding: 30px 0; }
.right_column .topics_panel {
  background-color: white;
  width: 630px;
  padding: 20px;
  float: left; }

a.more {
  margin-top: 25px; }
