.group_avatar {
  width: 200px;
  float: left; }

.group_des {
  width: 550px;
  float: left;
  height: 200px; }
  .group_des p {
    margin-bottom: 0; }
  .group_des .description {
    height: 174px;
    overflow: hidden;
    padding: 20px 20px 5px 20px;
    border: 1px solid #dddddd; }
    .group_des .description p {
      text-align: center; }

.group_info {
  height: 189px;
  padding: 10px 0 0 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }
  .group_info p {
    margin-bottom: 0; }
  .group_info .relative {
    height: 100%;
    position: relative; }
    .group_info .relative .button {
      position: absolute;
      left: 20;
      bottom: 10px; }
