.select_area
  :float left
  :margin-bottom 10px
    
  a.person_block
    :display block
    :width 121px
    :padding 2px
    :border 1px solid #d8dfea
    background: url("/images/ui/bg-range-container-h.gif") no-repeat scroll 110px 38px #ffffff
    :float left
    :margin 0 3px 5px 0

    &:hover
      background: url("/images/ui/bg-range-container-h.gif") no-repeat scroll 110px 38px #e0f4f5
      border-color: #f3e8ea
      color: #78AD55
      

    .avatar
      :float left
      :margin-right 3px

      img
        :width 50px
        :height 50px

    p.person_name
      :float left
      :width 64px
      :word-wrap break-word
      :height 30px
      :overflow hidden

  a.person_block.selected
    background: url("/images/ui/bg-range-container-active.gif") no-repeat scroll 110px 38px #e0f4f5
    color: #78AD55
