ul.nav
  :width 200px
  
  li
    a
      :background-color #ffffff
      :padding-left 10px
      :width 190px
      :display block
      :margin-bottom 3px
      :font-size 14px
      :color #00a2b7
      :height 45px
      :line-height 45px
      
      &:hover
        background: url("/images/ui/arrow2.gif") no-repeat scroll 180px 50% #FFFFFF !important
        color: #F74367
        text-decoration: none

    a.current
      background: url("/images/ui/arrow2.gif") no-repeat scroll 180px 50% #FFFFFF !important
      color: #F74367
      text-decoration: none

