ul.nav
  :width 200px
  
  li
    a
      :background-color #ffffff
      :width 160px
      :display block
      :padding  0px 10px 
      :margin-bottom 3px
      :font-size 14px
      :color #00a2b7
      :height 45px
      :line-height 45px
      
      &:hover
        background: url("/images/ui/arrow2.gif") no-repeat scroll 160px 50% #FFFFFF !important
        color: #F74367
        text-decoration: none

    a.current
      background: url("/images/ui/arrow2.gif") no-repeat scroll 160px 50% #FFFFFF !important
      color: #F74367
      text-decoration: none

