.comment_block {
  background: none repeat scroll 0 0 white;
  border: 3px solid #d5ddde;
  margin-bottom: 10px;
  padding: 16px 11px 5px 17px;
  width: 606px;
  float: left; }
  .comment_block .comment_top {
    margin-bottom: 9px;
    overflow: hidden;
    width: 100%; }
    .comment_block .comment_top .author_box {
      float: left;
      width: 65px; }
    .comment_block .comment_top .author_text {
      float: left;
      display: block;
      font-weight: bold;
      vertical-align: middle;
      width: 200px;
      margin-top: 10px; }
      .comment_block .comment_top .author_text a {
        color: #00a2b8;
        font-size: 18px;
        line-height: 22px; }
    .comment_block .comment_top .editIconWrapper {
      background: url("/images/ui/edit.png") no-repeat scroll 3px 3px transparent;
      border-radius: 2px 2px 2px 2px;
      cursor: pointer;
      color: #b4c0c1;
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0;
      margin: 10px 0 0 3px;
      padding: 6px 6px 3px 22px;
      display: block;
      width: 30px; }
      .comment_block .comment_top .editIconWrapper:hover {
        background-color: #d1e1ad;
        color: #546266;
        text-decoration: none; }
  .comment_block .comment_text span.content {
    font-size: 14px;
    color: #546266;
    display: block; }
  .comment_block .comment_bottom {
    background: url("/images/ui/border-comment-bar.gif") repeat-x scroll 0 8px transparent;
    margin: 0 -11px 0 -17px;
    overflow: hidden;
    padding: 13px 11px 0 17px;
    width: 606px; }
    .comment_block .comment_bottom a {
      background: url("/images/ui/ico-6.gif") no-repeat scroll 0 50% transparent;
      padding-left: 16px; }
    .comment_block .comment_bottom .comment_time {
      color: #b4c0c1; }

.response_box {
  margin-left: 20px;
  padding: 0 0 0px 21px;
  width: 601px;
  float: left; }
  .response_box .avatar_container {
    background: none repeat scroll 0 0 white;
    border: 2px solid #d5ddde;
    float: left;
    height: 30px;
    padding: 4px;
    width: 30px; }
    .response_box .avatar_container img {
      width: 30px;
      height: 30px; }
  .response_box .res_text {
    background: url("/images/ui/bg-comment-block-c.gif") repeat-y scroll 0 0 transparent;
    float: right;
    margin-bottom: 10px;
    width: 548px; }
    .response_box .res_text .res_text_inner {
      background: url("/images/ui/bg-comment-block-t.gif") no-repeat scroll 0 0 transparent;
      width: 547px; }
      .response_box .res_text .res_text_inner .res_text_frame {
        background: url("/images/ui/bg-comment-block-b.gif") no-repeat scroll 0 100% transparent;
        overflow: hidden;
        padding: 12px 21px 6px 22px;
        width: 510px; }
        .response_box .res_text .res_text_inner .res_text_frame .res_time {
          float: right;
          color: #b4c0c1;
          margin-right: 20px; }
        .response_box .res_text .res_text_inner .res_text_frame .res_operation a {
          background: url("/images/ui/ico-6.gif") no-repeat scroll 0 50% transparent;
          padding-left: 13px; }
        .response_box .res_text .res_text_inner .res_text_frame .res_author {
          color: #00a2b8;
          font-size: 15px;
          line-height: 18px; }
        .response_box .res_text .res_text_inner .res_text_frame .res_content {
          margin-top: 5px;
          font-size: 14px;
          color: #546266; }

.new_comment {
  width: 625px;
  float: left; }
  .new_comment .avatar_container {
    width: 60px;
    float: left; }
  .new_comment textarea {
    float: left;
    width: 550px;
    height: 150px;
    border: 3px solid #d5ddde;
    color: #424f54;
    font: 14px/22px Arial, Helvetica, sans-serif;
    margin: 0 0 10px; }
  .new_comment .post_button {
    background: url("/images/ui/btn-post.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    font-style: normal;
    height: 51px;
    overflow: hidden;
    width: 100px;
    font-size: 16px;
    color: white;
    padding-left: 25px; }
    .new_comment .post_button:hover {
      background: url("/images/ui/btn-post_h.gif") no-repeat scroll 0 0 transparent;
      padding-top: 2px; }

.pagination_box {
  width: 640px;
  float: left; }
  .pagination_box .pagination {
    text-align: right; }

.response_form textarea {
  float: left;
  width: 480px;
  margin: 15px 5px;
  height: 100px;
  color: #424f54;
  font: 14px/22px Arial, Helvetica, sans-serif; }
.response_form .form_button {
  width: 40px;
  height: 20px;
  background-color: #41464c;
  float: right;
  font-size: 13px;
  line-height: 20px; }
.response_form .submit_button input {
  border: none;
  width: 50px;
  height: 26px;
  background-color: #41464c;
  font-size: 13px;
  margin-right: 10px; }
