table.topics th {
  font-size: 12px;
  color: white;
  background-color: #4ebaff;
  padding: 5px 5px; }
table.topics td {
  border-top: 1px dotted #e5e5e5;
  padding: 10px 10px; }
table.topics tr.even {
  background-color: #f7f8f3; }

.title {
  width: 450px; }
  .title .author_avatar {
    float: left; }
    .title .author_avatar .avatar {
      width: 30px;
      margin-right: 10px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      behavior: url(/javascripts/PIE.htc);
      width: 30px;
      height: 30px; }
  .title .title_url {
    height: 17px;
    width: 400px;
    float: left;
    display: block;
    font: bold 14px arial, sans-serif; }
  .title .author_name {
    float: left; }
    .title .author_name a {
      color: #977466; }

.reply {
  text-align: right; }
