@mixin mobile-box {
  margin: 10px;
  padding: 0 15px;
  border: 1px #999 solid;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  behavior: url(/javascripts/PIE.htc);
}

@mixin border-radius-feed($radius){
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  behavior: url(/javascripts/PIE.htc);
}

@mixin box-shadow($left, $top, $blur, $extra,$color:#000){
  -webkit-box-shadow: $left $top $blur $extra $color; 
  -moz-box-shadow: $left $top $blur $extra $color; 
  box-shadow: $left $top $blur $extra $color; 
  behavior: url(/javascripts/PIE.htc);
}

@mixin linear-gradient($from, $to, $start:0%, $end:100%){
  background: mix($from,$to);

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})";
  
  background: -webkit-gradient(linear, 0% $start, 0% $end, from($from), to($to));
  background: -moz-linear-gradient(top, $from $start, $to $end);
}

@mixin opacity($val){
  filter: alpha(opacity= $val* 100);
  -moz-opacity: $val;
  -khtml-opacity: $val;
  opacity: $val;
}

@mixin dropdown-shadow{
  @include box-shadow(0,3px,10px,0,rgba(0,0,0,0.3))
} 

