#ckepop
  %a.jiathis_button_qzone
  %a.jiathis_button_tsina
  %a.jiathis_button_renren
  %a.jiathis_button_kaixin001
  %a.jiathis.jiathis_txt.jtico.jtico_jiathis{:href => "http://www.jiathis.com/share/",
                                             :target => "_blank"}
  
