.span-24
  %span.guanzhu
    %iframe{:height=>"24", :frameborder=>"0", :allowtransparency=>"true", :marginwidth=>"0", :marginheight=>"0", :scrolling=>"no", :frameborder=>"No", :border=>"0", :src=>"http://widget.weibo.com/relationship/followbutton.php?width=100%&height=24&uid=2320930322&style=3&btn=light&dpc=1"}
  %span='好享玩©2011'

  = link_to '关于我们', site_info_path("about")
  = link_to '联系我们', site_info_path("contact")
  = link_to '服务条款', site_info_path("service")
  

