.container
  = link_to "酷玩吧", root_path, :class => 'nav'
  #global_search
    = form_tag(people_path, :method => 'get', :id => "global_search_form") do
      = text_field_tag 'q', nil, :placeholder => t('search'), :type => 'search', :results => 5
  
  .right
    = link_to "登录", root_path, :class => 'nav'

