.span-24
  %span.logo
    %h2= t('Isport')
  .events_count.span-8.last.right
    - if params[:controller] == 'devise/sessions' && params[:action] == 'new' 
      = link_to "注册", new_registration_path(resource), :class => 'right'
    - else
      = link_to "登录", sign_in_path, :class => 'right'
    .right
      %strong='活动总数'
      - Event.total_event_count.each do |num|
        %span.number=num
      %span
