@charset "UTF-8";
.dim {
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3; }

body {
  background-color: #e9eef1;
  font-family: "Microsoft YaHei", "微软雅黑", SimHei, STHeiti, Tahoma, Arial, Helvetica, "Helvetica Neue", sans-serif; }

.blue {
  color: #0bb6e5; }

.error_color {
  color: #a10000; }

.group_color {
  color: #11a3e1; }

.event_color {
  color: #4bc5be; }

.bright_yellow {
  color: #f6b24d; }

.link_red {
  color: #fc4469; }

b {
  color: black;
  font-weight: bold; }

.block {
  display: block; }

a {
  color: #4083a9;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    color: #205f82;
    text-decoration: none; }

ol, ul, li {
  list-style: none; }

.container.body {
  padding-top: 30px; }

.overlay {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  behavior: url(/javascripts/PIE.htc);
  border: 1px solid #c6c6c6;
  background: url("/images/ui/shadow.png") repeat scroll 0 0 transparent;
  position: absolute;
  z-index: 1001;
  padding: 3px; }

.overlay_body {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url(/javascripts/PIE.htc);
  background-color: white;
  border: 1px solid #c6c6c6;
  position: relative;
  text-align: left; }

.floating {
  -webkit-box-shadow: 0 1px 5px 0 #333333;
  -moz-box-shadow: 0 1px 5px 0 #333333;
  box-shadow: 0 1px 5px 0 #333333;
  behavior: url(/javascripts/PIE.htc);
  position: relative;
  z-index: 1;
  background-color: white; }
  .floating .submit_block {
    position: absolute;
    bottom: 13px;
    right: 12px; }
  .floating form {
    display: relative; }

input:not([type='submit']):not([type='reset']):not([type='checkbox']),
textarea {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  padding: 0.3em; }

#profile_photo_upload img {
  position: absolute;
  left: 10px;
  height: 100px;
  width: 100px; }

h1 .description, h2 .description, h3 .description, h4 .description {
  font-size: 80%;
  font-weight: 200;
  color: #aaaaaa;
  margin-top: 0.5em; }

.element_body {
  margin-left: 60px;
  margin-right: 40px; }

.stream_element {
  font-size: 13px;
  min-height: 50px;
  border-top: 1px solid #ebebeb;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative; }
  .stream_element .show_comments {
    border-top: 1px solid #ebebeb;
    padding: 8px; }
  .stream_element .avatar {
    float: left; }
  .stream_element .right {
    padding: 20px 20px; }
  .stream_element .invite_button {
    position: absolute;
    left: 350px;
    top: 20px; }
  .stream_element .content {
    position: relative;
    color: #666666;
    font-weight: normal; }
    .stream_element .content img {
      margin-right: 0;
      max-width: 100%; }
    .stream_element .content .stream_photo {
      float: left;
      margin-top: 6px; }
    .stream_element .content .photo_description {
      margin-top: 6px;
      padding-left: 220px;
      min-height: 185px;
      color: #888888;
      font-style: italic; }
    .stream_element .content .small_text {
      font-size: smaller; }
    .stream_element .content .info {
      margin-top: 2px;
      color: #999999;
      font-size: 11px; }
    .stream_element .content .comments .info {
      margin-top: -1px; }

label {
  font-weight: normal;
  color: #999999;
  top: 3px;
  left: 0.48em;
  text-shadow: 0 1px 1px #eeeeee; }

.colorbox_content {
  display: none; }

.result {
  border-top: 1px solid #ededed;
  float: left;
  margin-top: 20px;
  min-height: 59px;
  padding-top: 5px;
  width: 190px; }

.friend {
  position: absolute;
  padding-bottom: 10px;
  padding-left: 10px; }

span.medium_avatar {
  display: inline-block;
  width: 50px;
  overflow: hidden;
  white_space: nowrap;
  text-align: center;
  margin-bottom: 0;
  height: 30px; }

#add_friend_request textarea {
  height: 100px;
  width: 300px; }

.left_border {
  border-left: 1px solid #dddddd;
  padding-left: 5px; }

.content .timeago {
  border: medium none;
  color: #999999;
  text-decoration: none; }

.hide {
  display: none; }

.person_image {
  height: 100px; }

.block {
  display: block; }

.inline {
  display: inline; }

#map {
  width: 200px;
  height: 250px;
  margin-bottom: 20px; }

#map-big {
  width: 950px;
  height: 500px; }

.pagination_box .pagination {
  margin-top: 20px; }
  .pagination_box .pagination a, .pagination_box .pagination em {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    behavior: url(/javascripts/PIE.htc);
    border: 1px solid white;
    background-color: #f1f1f1;
    padding: 2px 5px 1px 5px;
    font-size: 13px;
    margin-right: 5px;
    color: #4c4c4c; }
  .pagination_box .pagination em {
    background-color: #fc4469;
    border: 1px solid #82190b;
    color: white; }
  .pagination_box .pagination span.disabled {
    display: none; }
  .pagination_box .pagination a:hover {
    background-color: white;
    text-decoration: none; }

.welcome_box {
  background: none repeat scroll 0 0 #f8f8f8;
  width: 903px;
  height: 300px;
  margin-left: 24px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/javascripts/PIE.htc); }
  .welcome_box .poster_box {
    background: #f8f8f8;
    width: 550px;
    height: 290px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url(/javascripts/PIE.htc); }

.welcomenav_box {
  background: none repeat scroll 0 0 #f8f8f8;
  width: 285px;
  height: 300px;
  margin-left: 24px;
  margin-top: 12px;
  float: left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/javascripts/PIE.htc); }

.app_module_title {
  margin: 15px 0 5px 0;
  color: #fc4469;
  font-weight: bold; }

.app_module_title_black {
  margin-bottom: 5px;
  color: black; }

#photozone {
  left: 5px;
  padding: 0;
  bottom: 0px;
  position: absolute;
  width: 410pxne; }
  #photozone li {
    display: inline-block; }
    #photozone li img {
      width: 50px;
      padding-right: 2px; }
    #photozone li .circle {
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      behavior: url(/javascripts/PIE.htc);
      display: none;
      z-index: 1;
      position: absolute;
      right: -7px;
      top: -5px;
      background-color: #333333;
      width: 20px;
      max-width: 20px;
      height: 20px;
      max-height: 20px;
      border: 1px solid white; }
    #photozone li .x {
      display: none;
      z-index: 2;
      position: absolute;
      top: -3px;
      right: -1px;
      font-size: small;
      font-weight: bold; }
    #photozone li:hover {
      cursor: default; }
      #photozone li:hover .circle {
        display: block; }
      #photozone li:hover .x {
        display: block; }

.with_photos textarea {
  padding-bottom: 70px; }
.with_photos #photozone {
  height: 60px; }
.with_photos #status_message_submit {
  display: inline-block; }

.photo_form {
  position: relative; }
  .photo_form textarea {
    resize: none; }

.photos_container {
  position: relative; }
  .photos_container img {
    cursor: pointer; }

.avatar_show {
  z-index: 100;
  position: absolute; }
  .avatar_show .person_content {
    padding-left: 85px;
    width: 100px;
    height: 75px; }
    .avatar_show .person_content .name {
      font-size: 18px;
      color: #0bb6e5; }
  .avatar_show .action {
    margin-top: 10px; }
  .avatar_show .avatar_panel {
    padding: 5px; }
  .avatar_show .person_avatar {
    float: left;
    width: 75px;
    height: 75px; }

.avatar_container {
  position: relative; }

.person_avatar {
  display: inline-block; }

.unfollow span {
  background-image: url(/images/ui/icon-x.png); }

.relation_button {
  display: inline-block; }

a.button {
  font-size: 12px; }
  a.button:hover {
    color: #f48043; }
  a.button .ui-button-text-only, a.button .ui-button-text {
    padding: 4px 5px; }

.app_subfunction_title {
  margin-right: 5px; }

.app_subfunction_title.groups {
  color: #11a3e1; }

.app_subfunction_title.events {
  color: #4cc5be; }

.app_color_orange {
  color: #f48043; }

.app_info_label {
  color: #666666;
  margin-right: 5px; }

.dark_gray {
  color: #666666; }

.app_tab_border_radius {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  behavior: url(/javascripts/PIE.htc); }

.glass_button {
  background: url(/images/ui/glass-light.png) repeat-x 0 50%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/javascripts/PIE.htc);
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 5px;
  text-shadow: 0 -1px rgba(41, 41, 41, 0.5);
  text-align: center;
  cursor: pointer; }

.scroll {
  text-align: center;
  margin-top: 10px; }

.comment_form {
  padding: 8px; }
  .comment_form .person_avatar_detail {
    height: 32px;
    width: 32px; }
  .comment_form .avatar {
    float: left; }
  .comment_form .comment_button {
    margin-left: 40px; }
  .comment_form textarea {
    resize: none;
    margin-left: 4px;
    width: 345px;
    height: 23px; }

.content_panel {
  background-color: #e9eef1;
  position: relative;
  z-index: 4;
  margin-top: -20px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }

#file-upload {
  position: relative;
  overflow: hidden;
  height: 25px;
  background-color: #00a2b7;
  line-height: 25px; }
  #file-upload:hover {
    background-color: #e76875; }
  #file-upload input {
    cursor: pointer; }

.app_title_bar .app_header_box {
  float: left; }
  .app_title_bar .app_header_box .box_all {
    background-color: #697d84;
    color: white;
    float: left; }
    .app_title_bar .app_header_box .box_all .box_left {
      background: url("/images/ui/border_hdrs.png") no-repeat scroll 0 0 transparent;
      float: left;
      height: 41px;
      width: 15px; }
    .app_title_bar .app_header_box .box_all .box_middle {
      float: left;
      height: 41px; }
      .app_title_bar .app_header_box .box_all .box_middle strong {
        display: block;
        margin-top: 10px;
        font-size: 13px; }
      .app_title_bar .app_header_box .box_all .box_middle a {
        color: #f74267;
        font-size: 15px; }
    .app_title_bar .app_header_box .box_all .box_right {
      background: url("/images/ui/border_hdrs.png") no-repeat scroll -15px 0 transparent;
      float: left;
      height: 41px;
      width: 15px; }
.app_title_bar .bottom_pic {
  background: url("/images/ui/border_bubble_point.gif") no-repeat scroll 0 0 transparent;
  background-color: #697d84;
  height: 10px;
  margin: 0 0 10px 20px;
  width: 10px; }

.app_title_bar.blue .box_all {
  background-color: #00bed4; }
.app_title_bar.blue .bottom_pic {
  background: url("/images/ui/border_bubble_point.gif") no-repeat scroll 0 0 #00bed4; }

.app_big_title_bar {
  float: left;
  display: inline-block; }
  .app_big_title_bar .box_all {
    background-color: #41464c;
    color: white;
    float: left; }
    .app_big_title_bar .box_all .box_left {
      background: url("/images/ui/border_userstats.png") no-repeat scroll 0 0 transparent;
      float: left;
      height: 90px;
      width: 15px; }
    .app_big_title_bar .box_all .box_middle {
      float: left;
      width: 80px; }
      .app_big_title_bar .box_all .box_middle .header_content {
        margin: 15px auto 0;
        width: 80px; }
        .app_big_title_bar .box_all .box_middle .header_content .number {
          color: white;
          font-family: arial;
          font-weight: bold;
          font-size: 30px;
          line-height: 30px;
          float: left;
          width: 80px;
          text-align: center; }
        .app_big_title_bar .box_all .box_middle .header_content .info {
          text-align: center;
          width: 80px;
          float: left;
          color: white;
          margin-top: 10px;
          font-size: 16px;
          line-height: 16px; }
    .app_big_title_bar .box_all .box_right {
      background: url("/images/ui/border_userstats.png") no-repeat scroll -15px 0 transparent;
      float: left;
      height: 90px;
      width: 15px; }

.follow_button .glass_button {
  width: 70px;
  height: 25px;
  line-height: 25px; }
.follow_button .following {
  background-color: #8aba56; }
  .follow_button .following span {
    background: url(/images/ui/icon-check.png) no-repeat 0 50%;
    padding-left: 18px; }
  .follow_button .following:hover {
    background-color: #ea4c88; }
    .follow_button .following:hover span {
      color: #ff99cc;
      background: url(/images/ui/icon-x.png) no-repeat 0 50%; }
.follow_button .follow {
  background-color: lightGrey; }
  .follow_button .follow span {
    padding-left: 18px;
    background: url(/images/ui/follow-gray.gif) no-repeat 0 50%;
    color: #777777; }
  .follow_button .follow:hover {
    background-color: #8aba56; }
    .follow_button .follow:hover span {
      background: url(/images/ui/follow-white.gif) no-repeat 0 50%;
      color: white; }

.notifactions {
  width: 400px;
  margin-left: 300px; }
  .notifactions .stream_element {
    background: #f5f5f3;
    border-bottom: 1px solid #eceae8; }
    .notifactions .stream_element .content {
      margin-left: 60px; }

a.app_big_link_button {
  cursor: pointer;
  margin: 4px 0 0 21px;
  position: relative;
  float: right;
  color: white !important;
  display: inline;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none; }
  a.app_big_link_button em {
    background: url("/images/ui/big_button.gif") no-repeat scroll 0 0 transparent !important;
    float: left;
    font-style: normal;
    padding: 13px 18px 13px 24px; }
  a.app_big_link_button span {
    background: url("/images/ui/big_button.gif") no-repeat scroll -890px -51px transparent !important;
    float: left;
    height: 51px;
    width: 10px; }
  a.app_big_link_button:hover span {
    background-position: -890px -153px !important; }
  a.app_big_link_button:hover em {
    background-position: 0 -102px !important;
    color: white;
    padding: 15px 18px 11px 24px; }
