.forum_nav h3 {
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 10px; }
.forum_nav a {
  margin-bottom: 5px; }

.title_bar {
  padding-bottom: 10px; }
  .title_bar .group_logo {
    float: left; }
    .title_bar .group_logo .avatar {
      background-color: white;
      border: 1px solid #e5e5e5;
      padding: 4px;
      float: left; }
      .title_bar .group_logo .avatar img {
        height: 80px;
        width: 80px; }
    .title_bar .group_logo h2 {
      float: left;
      margin-left: 10px; }
