@import '../../general/ui/mixins'
.album
  @include border-radius(5px)
  :background-color #ffffff
  :padding 20px 20px 20px 40px
  .title_bar
    :float left
    :width 850px
    :border-bottom 1px solid #d5ddde
    :margin-bottom 15px

    h2
      :width 700px
      :float left
      :margin-bottom 0
    
    #browse
      :display block
      :float right
      :padding 3px 10px
      :color #ffffff
  a.pic_link
    :float left
    :width 180px
    :height 180px
    :display block
    :margin 0 10px 20px 0
  a.gallery_link
    :position fixed
    right: 50% 
    top: 50%
    width: 1px
    
