@import '../../general/ui/mixins'
.album
  @include border-radius(5px)
  :background-color #ffffff
  :padding 20px 20px 20px 40px
  .title_bar
    :float left
    :width 850px
    :margin
      :bottom 20px
      :top 10px
    :height 30px

    .glass_button 
      :color #ffffff
      :padding 5px 10px

    h3
      :width 700px
      :float left
      :margin-bottom 10px 
  
  .event_pic
    :display block
    :float left 
    :padding 6px
    :height 215px
    :width 200px
    :margin-bottom 15px
    
    img
      :display block

    span.desc
      :float left 
      :margin-top 2px
      :font-size 12px
      :color #aaa

      a
        :color #777
        &:hover
          :text-decoration underline
      
      .c_count
        :margin-left 10px
  
  .pagination
    :display block 
    :margin 0 auto
    :float left
    :margin-left 410px


